.root {
  /* Color styles */

  /* Background Colors */
  --white: #ffffff;
  --main1: #323a27;
  --main2: #e5eddb;
  --main3: #f5f8f1;

  --filter-unchecked: #f2f2f2;
  --filter-checked: #323a27;
  --btn-no-active: #f5f5f5;
  --btn-active: #323a27;
  --warning: #ba0c0c;
  --bg: #e5eddb;
  --bg-blur: #666666;

  /* Colors */
  --text-main: #323a27;
  --text-sub: #767676;
  --text-no-active: #b2b2b2;
  --text-icon: #ffffff;

  /* Text-weight styles */
  --extra-bold: 800;
  --Bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --regular: 400;
  --light: 300;
  --thin: 100;

  --line-height-main: 1.4%;

  --letter-spacing-main: -2.5%;
  --letter-spacing-sub: -0.25%;

  ----title-32: 32px;
  --d-s-타이틀-18: 18px;
  --d-s-캡션-12: 12px;
  --d-s-캡션-10: 10px;
  --d-s-본문-18: 18px;
  --d-s-본문-16: 16px;
  ----title-30: 30px;
  ----search-box-12: 12px;
  ----main-btn: 16px;
  ----alert-20: 20px;
  ----section-h1-bold-28: 28px;
  ----filter-box-12: 12px;
  --h1: 28px;
  --h2: 24px;
  --h3: 18px;
  --h4: 16px;
  --h5: 14px;
  --h25: 20px;
  --input-complete: 16px;
  --input-waiting: 16px;
  --input-warning: 12px;
  ----input-active-text: 16px;
}
