<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/fragments.css}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet" />

    <title>tree-index</title>
  </head>
  <body>
    <header class="top-bar-back-container">
      <h1 class="none">트리 생성</h1>
      <!-- 트리 생성 컴포넌트 -->
      <div
        th:replace="~{fragments/top-bar :: top-bar-back('트리 생성', '/home')}"
      ></div>
    </header>

    <main>
      <section class="text-info-container">
        <h2 class="none">트리 생성 안내</h2>
        <div
          th:replace="~{fragments/text :: text-info('트리를 생성하기 위한',
        '씨앗을 선택해주세요')}"
        ></div>
      </section>

      <section class="btn-select-container">
        <h2 class="none">씨앗 선택 버튼</h2>
        <!-- 씨앗 선택 컴포넌트 -->
        <div
          th:replace="~{fragments/button :: filter-full-width(text='씨앗 선택', id='filter-tab-btn')}"
        ></div>
      </section>

      <section class="filter-tab-container none" id="filter-bg-blur">
        <h2 class="none">씨앗 선택</h2>
        <div
          th:replace="~{fragments/tab-filter::filter-tab-get(title='씨앗 선택', name='seed', values=${seeds}, source='reg')}"
        ></div>
      </section>
    </main>

    <section class="nav-back-container">
      <h2 class="none">네비 바 뒤 공백</h2>
    </section>

    <aside>
      <section class="nav-container">
        <h2 class="none">네비게이션 바</h2>
        <!-- aside 컴포넌트 -->
        <div th:replace="~{fragments/nav :: navigation-bar(home)}"></div>
      </section>
    </aside>
  </body>
  <script th:src="@{/js/filter-tab.js}"></script>
</html>
