<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link th:href="@{/css/fragments.css}" rel="stylesheet"/>
    <link th:href="@{/css/layout.css}" rel="stylesheet"/>
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.min.css" />
    <title>Document</title>
</head>
<body>
<header th:object="${treeInfo}">
    <h1 class="none">사용자 트리 세부정보</h1>
    <section th:replace="~{fragments/background :: user-info-back-header
        (src='javascript:history.back()',backimgpath=*{coverImageName},userimg='card-tree-author.png',username='빵형',userid='@BreadFitt',userurl='javascript:history.back()')}">
        <h2 class="none">브랜치 검색</h2>
        <!-- 컴포넌트 -->
    </section>
</header>
<main>
    <section class="user-tree-info__container" th:object="${treeInfo}">
        <h2 class="none">회고록 정보</h2>
        <div th:replace="~{fragments/card :: card-tree-info-cover(src=*{coverImageName},treetitle=*{title},booktitle=*{bookTitle})}">
        </div>
    </section>
<!-- 에디터 뷰어-->
    <section class="my-tree-list" th:object="${memoir}">
        <h2 class="none">에디터 뷰어</h2>
        <input class="viewer-content hidden" th:value="*{text}"/>
        <div id="viewer"></div>
    </section>

    <section class="tree-index-comment-container">
        <h1 class="none">댓글</h1>
        <div th:replace="~{fragments/bar :: comment(profileImg=@{/svg/comment-profile.svg}, commentCount='199')}"></div>

        <section id="comment-filter-tab-id"
                 class="book-detail-comment-tab-container book-detail-comment-tab-container--active">
            <h1 class="none">댓글 탭</h1>
            <div th:replace="~{fragments/tab-comment :: tab-comment}"></div>
        </section>
    </section>

    <section class="branch-list__container">
        <h2 th:replace="~{fragments/text :: text-main-title(title='브랜치 목록', size=24)}"></h2>
        <!-- 컴포넌트 -->
        <section class="branch-filter-container">
            <h3 class="none">브랜치 필터</h3>
            <!-- 컴포넌트 -->
            <div th:replace="~{fragments/filter :: filter-seed-text-btns(bookmark='책갈피',seed1='씨앗',seed2='씨앗')}"></div>
        </section>

        <section class="branch-filter-search__container">
            <h3 class="none">브랜치 검색 결과</h3>
            <!-- 컴포넌트 -->
            <div th:replace="~{fragments/bar :: bar-search-result(result='10')}"></div>
        </section>
        <section class="branch-filter-result-list__container">
            <h3 class="none">브랜치 리스트</h3>
            <!-- 컴포넌트 -->
            <div th:replace="~{fragments/card :: card-branch__list(${lists})}"></div>
        </section>
    </section>
</main>

<section class="nav-back-container">
    <h2 class="none">네비바 뒤 공백</h2>
</section>
<aside>
    <section class="nav-container">
        <h2 class="none">네비게이션</h2>
        <!-- 트리 생성 언더바  -->
        <div th:replace="~{fragments/nav :: navigation-bar(active='home')}"></div>
    </section>
</aside>

<!--toast view CDN-->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-viewer.js"></script>
<script>
    const viewer = new toastui.Editor({
        el: document.querySelector('#viewer'),
        viewer: true,
        height: '500px',
        initialValue: "hello"
    });
    let elem = document.querySelector('.viewer-content');
    console.log(elem.value);
    viewer.setMarkdown(elem.value);
</script>

<script>
    function commentTabActive() {
        const commentTab = document.getElementById("comment-filter-tab-id");

        commentTab.classList.add("book-detail-comment-tab-container--active");

        document.body.classList.add("no-scroll");
        window.scrollTo({top: 0, behavior: "smooth"});
    }

    function commentTabInactive() {
        const commentTab = document.getElementById("comment-filter-tab-id");

        commentTab.classList.remove("book-detail-comment-tab-container--active");
        document.body.classList.remove("no-scroll");
    }

    document.getElementById("bar-comment-id").addEventListener("click", commentTabActive);
    document.getElementById("top-bar-comment__back-icon-box-id").addEventListener("click", commentTabInactive);
    // document.getElementById("bg-book-detail-box-id").addEventListener("click", commentTabInactive);
</script>

<script>
    document.getElementById("input-comment-input__input-id").addEventListener("focus", function () {
        const submitBtn = document.getElementById("input-comment-input__submit-id");
        setTimeout(() => {
            submitBtn.classList.add("input-comment-input__submit--active")
        }, 100);
    });

    document.getElementById("input-comment-input__input-id").addEventListener("focusout", function () {
        const submitBtn = document.getElementById("input-comment-input__submit-id");
        submitBtn.classList.remove("input-comment-input__submit--active");
    });
</script>
</body>
</html>
