<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link th:href="@{/css/fragments.css}" rel="stylesheet"/>
    <link th:href="@{/css/layout.css}" rel="stylesheet"/>
    <!-- Editor's Style -->
    <link rel="stylesheet" href="https://uicdn.toast.com/editor/latest/toastui-editor.min.css" />

    <title>Document</title>
</head>
<body>
<header>
    <h1 class="none">도서 완독 후 회고록 생성</h1>

    <section>
        <h2 class="none">회고록 생성</h2>
        <!-- 컴포넌트 -->
        <div th:replace="~{fragments/top-bar :: top-bar-back(title='회고록 생성', link='javascript:history.back()')}">
        </div>
    </section>
</header>

<main >
    <h2 class="none">완독한 도서</h2>
    <section class="tree-book-reg-search-book__title-container">
        <h3 class="none">도서 TEXT 컨테이너</h3>
        <div th:replace="~{fragments/text :: text-main-title(title='완독한 도서', size=28)}"></div>
    </section>
    <section class="tree-reg-cover-info__container" th:object = "${treeInfo}">
        <h3 class="none">도서 커버 및 도서 정보</h3>
        <section class="tree-reg-cover__container">
            <h4 class="none">도서 커버</h4>
            <div th:replace="~{fragments/link :: link__one-image-detail(src=@{book/{bookImage}(bookImage = *{coverImageName})}, href='javascript:history.back()')}">
            </div>
        </section>
        <section class="tree-reg-book-info__container">
            <h4 class="none">도서 정보</h4>
<!--            translator null 체크 fragments 내부에 있음.-->
            <div th:replace="~{fragments/text :: text-book-info(seed=*{bookCategory}, title=*{bookTitle}, author=*{bookAuthor}, translators = *{bookTranslator}, publisher = *{bookPublisher})}">
            </div>
        </section>
    </section>
<!--    이하는 field를 이용하기 위해 일부러 fragment를 이용하지 않았음.-->
<!--    검증 오류 이후에 값을 그대로 유지하기 위함.-->
    <form th:action="@{/memoir/reg(t=${treeId})}" method="POST" th:object="${memoirForm}">
        <section class="register__input-container">
            <h3 class="none">회고록 제목 입력</h3>
            <!-- 컴포넌트 -->
            <div class="input-text__bar">
                <label class="input-text__label">
                    <span class="input-text__label-text" th:text="'회고록 제목'">제목</span>
                    <input class="input-text__input" th:field="*{title}" th:placeholder="'제목을 입력해 주세요.'"
                    />
                </label>
            </div>
            <div class="text--errors" th:errors="*{title}"></div>
        </section>

        <section class="register__input-container">
            <h3 class="none">회고록 설명글</h3>
<!--            toast 에디터2.0 -->
            <div id="editor"></div>
            <textarea class="hidden" id="editor-text" th:field="*{text}"></textarea>
            <!-- 컴포넌트 -->
<!--            <div class="input-textarea__box">-->
<!--                <label class="input-textarea__label tree-input__large-text-label">-->
<!--                    <span th:text="'회고록'">트리 설명</span>-->
<!--                    &lt;!&ndash; textarea  태그 사이에 공백 X > placeholder 동작안함&ndash;&gt;-->
<!--                    <textarea-->
<!--                            class="input-textarea__textarea tree-input__large-textarea"-->
<!--                            th:field="*{text}"-->
<!--                            th:placeholder="'무엇을 느끼셨나요?'"-->
<!--                    ></textarea>-->
<!--                </label>-->
<!--            </div>-->
            <div class="text--errors" th:errors="*{text}"></div>
        </section>
        <section class="register__input-container">
            <h3 class="none">공개 여부</h3>
            <!-- 컴포넌트 -->
            <div class="input-visibility" th:fragment="input-visibility(name)">
                <p class="input-visibility__name">공개 여부</p>
                <div class="input-visibility__btns">
                    <label class="input-visibility__label">
                        <input class="input-visibility__btn"
                                label="공개"
                                type="radio"
                                th:field="*{visibility}"
                                id="public"
                                value="1"
                                checked
                        />
                    </label>
                    <label class="input-visibility__label">
                        <input
                                class="input-visibility__btn"
                                label="비공개"
                                type="radio"
                                th:field="*{visibility}"
                                id="private"
                                value="0"
                        />
                    </label>
                </div>
            </div>
        </section>
        <section class="register__input-container--last">
            <h3 class="none">회고록 생성 버튼</h3>
            <!-- 컴포넌트 -->
            <div onclick = "savePost()" th:insert="~{fragments/button :: submit-btn-full-bar('회고록 생성하기')}" >
            </div>
        </section>
    </form>
</main>

<section class="nav-back-container">
    <h2 class="none">네비게이션 바 뒤 빈 공백</h2>
</section>

<aside>
    <section class="nav-container">
        <h2 class="none">네비게이션 바</h2>
        <!-- aside 컴포넌트 -->
        <div th:replace="~{fragments/nav :: navigation-bar('home')}"></div>
    </section>
</aside>
<!--toast CDN-->
<script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js">
<!--    nameSpace사용 -->
</script>
<script>
    const editor = new toastui.Editor({
    el: document.querySelector('#editor'),
    height: '500px',
    initialEditType: 'wysiwyg',
    previewStyle: 'vertical'
        ,placeholder: '무엇을 느끼셨나요?'
        ,usageStatistics: false,
//         hooks starts
        hooks: {
            async addImageBlobHook(blob, callback) {
                try {
                    /**
                     * 에디터에 업로드한 이미지를 FormData 객체에 저장
                     */
                    const formData = new FormData();
                    formData.append('image', blob);

                    // MemoirFileApiController - uploadEditorImage 메서드 호출
                    const response = await fetch('/tui-editor/image-upload', {
                        method : 'POST',
                        body : formData,
                    });
                    // 컨트롤러에서 전달받은 디스크에 저장된 파일 명
                    const filename = await response.text();
                    console.log('서버에 저장된 파일 명 : ', filename);

                    // addImageBlobHook의 callback을 통해 디스크에 저장된 이미지 에디터에 렌더링
                    const imageUrl = `/tui-editor/image-print?filename=${filename}`;
                    callback(imageUrl, 'image loading fail');
                    console.log(blob);
                    console.log(callback);
                } catch (error){
                    console.log("업로드 실패 : ", error);
                }
            }
        }
//         hooks ends
});
    //게시글 저장
    async function savePost() {
        //유효성 검사.
        if(editor.getMarkdown().length < 1 || editor.getHTML().length < 1){
            alert('내용을 입력해 주세요');
            throw new Error ('editor content is required');
        }
        //textaread의 value에 getHTMl() 담아주기
        document.getElementById('editor-text').value = editor.getHTML();
    }

</script>
</body>
</html>