/** @format */
@import url('../../../../../static/common/reset.css');
@import url('../../../../../static/common/variables.css');

a {
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search__form {
  display: flex;
  align-items: center;
}
.search-bar {
  background: var(--main2);
  border-radius: 20px;
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.search-bar--label{
  display: flex;
  flex-grow: 1;
  font-size: 14px;
}
.search-bar--input {
  width: 100%;
  font-weight: var(--semi-bold);
  font-size: 14px;
  background-color: var(--main2);
  border: none;
}
.search-bar--input:focus {
  outline: none;
}
/*  */
.search-bar--close {
  display: none;
}
.search-bar--input:not(:placeholder-shown) {
  font-weight: var(--semi-bold);
  font-size: 14px;
  background-color: var(--main2);
}
/*  */
.search-bar--input:not(:placeholder-shown) + .search-bar--close {
  display: inline;
  height: 18px;
}
/*  */
.search-bar-img {
  height: 18px;
}
