<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="buttons.css" rel="stylesheet">
</head>

<body>

    <!-- 책 아이콘 버튼 -->
    <button class="booklist__btn">
        <img src="../../../static/svg/icon-booklist__button.svg" alt="icon-booklist__button" />
    </button>
    
    <!-- 북마크 아이콘 버튼 -->
    <button class="bookmark__btn">
        <img src="../../../static/svg/icon-bookmark__button.svg" alt="icon-bookmark__button" />
    </button>
    
    <!-- 가지뻗기 아이콘 버튼 -->
    <button class="branch__btn">
        <img src="../../../static/svg/icon-branch__button.svg" alt="icon-branch__button" />
    </button>
    
    <!-- 체크 아이콘 버튼 -->
    <button class="check__btn">
        <img src="../../../static/svg/icon-check__button.svg" alt="icon-check__button" />
    </button>
    
    <!-- 녹색배경 텍스트 아이콘 버튼 -->
    <button class="text__btn--green">버튼<!--여기에 아무텍스트나 입력가능--></button>
    
    <!-- 녹생배경 가지뻗기 아이콘 버튼 -->
    <button class="branch__btn--green">
        <img src="../../../static/svg/icon-branch__button--green.svg" alt="icon-branch__button--green" />
    </button>
    
    <!-- 녹생배경 북마크 아이콘 버튼 -->
    <button class="bookmark__btn--green">
        <img src="../../../static/svg/icon-bookmark__button--green.svg" alt="icon-bookmark__button--green" />
    </button>
    
    <!-- 녹생배경 책 아이콘 버튼 -->
    <button class="booklist__btn--green">
        <img src="../../../static/svg/icon-booklist__button--green.svg" alt="icon-booklist__button--green" />
    </button>
    
    <!-- 녹생배경 트리 생성하기 버튼 -->
    <button class="create__btn--green">트리 생성하기</button>
    
    <!-- 흰색배경 트리 생성하기 버튼 -->
    <button class="create__btn--white">트리 생성하기</button>
    
    <!-- 체크박스 -->
    <label class="checkbox">
        <!-- 아래 p 영역에 텍스트 입력가능 ex)저는 한국인 입니다 -->
        <p></p>
        <input type="checkbox" class="checkbox__input">
        <span class="checkbox__check"></span>
        <!-- 아래 p 영역에 텍스트 입력가능 ex)동의합니다. -->
        <p></p>
    </label>

</body>

</html>