@import url("../../../static/common/variables.css");

/* 책 아이콘 버튼 */
.booklist__button {
  background-color: var(--white);
  border: none;
}
.booklist__button:hover{
  cursor: pointer;
}

/* 북마크 아이콘 버튼 */
.bookmark__button {
  background-color: var(--white);
  border: none;
}
.bookmark-__button:hover{
  cursor: pointer;
}

/* 가지뻗기 아이콘 버튼 */
.branch__button {
  background-color: var(--white);
  border: none;
}
.branch__button:hover{
  cursor: pointer;
}

/* 체크 아이콘 버튼 */
.check__button {
  background-color: var(--white);
  border: none;
}
.check__button:hover{
  cursor: pointer;
}

/* 녹색배경 텍스트 아이콘 버튼 */
.text__button--green {
  width: fit-content;
  min-width: 56px;
  height: 62px;
  background-color: var(--main1);
  color: var(--white);
  box-shadow: 0 4px
  16px rgba(0, 0, 0, 0.25);
  text-align: center;
  font-size: 16px;
  font-weight: var(--bold);
  border-radius: 16px;
  transition: all 1s;
  padding: 20px;
}
.text__button--green:focus{
  outline: 0;
}
.text__button--green:hover{
  background-color: var(--main1);
  cursor: pointer;
  box-shadow: 0 2px
  4px rgba(0, 0, 0, 0.25);
}


/* 녹색배경 가지뻗기 아이콘 버튼 */
.branch__button--green {
  width: 56px;
  height: 56px;
  background: var(--main1);
  color: var(--white);
  border: none;
  box-shadow: 0 4px
  16px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  transition: all 1s;
  padding: 17px;
  display: flex; /* 플렉스 박스 레이아웃 활성화 */
  flex-direction: row; /* 가로 방향으로 아이템 배치 */
  align-items: center; /* 세로 방향 중앙 정렬 */
  justify-content: center; /* 가로 방향 중앙 정렬 */
  position: relative; /* 상대 위치 설정 */
}
.branch__button--green:focus{
  outline: 0;
}
.branch__button--green:hover{
  background-color: var(--main1);
  cursor: pointer;
  box-shadow: 0 2px
  4px rgba(0, 0, 0, 0.25);
}

/* 녹색배경 북마크 아이콘 버튼 */
.bookmark__button--green {
  width: 56px;
  height: 56px;
  background: var(--main1);
  color: var(--white);
  border: none;
  box-shadow: 0 4px
  16px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  transition: all 1s;
  padding: 17px;
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
  position: relative; 
}
.bookmark__button--green:focus{
  outline: 0;
}
.bookmark__button--green:hover{
  background-color: var(--main1);
  cursor: pointer;
  box-shadow: 0 2px
  4px rgba(0, 0, 0, 0.25);
}

/* 녹색배경 책 아이콘 버튼 */
.booklist__button--green {
  width: 56px;
  height: 56px;
  background: var(--main1);
  color: var(--white);
  border: none;
  box-shadow: 0 4px
  16px rgba(0, 0, 0, 0.25);
  border-radius: 16px;
  transition: all 1s;
  padding: 17px;
  display: flex; 
  flex-direction: row; 
  align-items: center; 
  justify-content: center; 
  position: relative; 
}
.booklist__button--green:focus{
  outline: 0;
}
.booklist__button--green:hover{
  background-color: var(--main1);
  cursor: pointer;
  box-shadow: 0 2px
  4px rgba(0, 0, 0, 0.25);
}

/* 녹색배경 트리 생성하기 버튼 */
.create__button--green {
  width: fit-content;
  min-width: 327px;
  height: 56px;
  background-color: var(--main1);
  color: var(--white);
  border: none;
  box-shadow: 0 4px
  16px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: var(--bold);
  border-radius: 16px;
  transition: all 1s;
}
.create__button--green:focus{
  outline: 0;
}
.create__button--green:hover{
  background-color: var(--main1);
  cursor: pointer;
  box-shadow: 0 2px
  4px rgba(0, 0, 0, 0.25);
}

/* 흰색배경 트리 생성하기 버튼 */
.create__button--white {
  width: fit-content;
  min-width: 327px;
  height: 56px;
  background-color: var(--main2);
  color: var(--white);
  border: none;
  box-shadow: 0 4px
  16px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  font-weight: var(--bold);
  border-radius: 16px;
  transition: all 1s;
}
.create__button--white:focus{
  outline: 0;
}
.create__button--white:hover{
  background-color: var(--main2);
  cursor: pointer;
  box-shadow: 0 2px
  4px rgba(0, 0, 0, 0.25);
}

/* 체크박스 */
.checkbox {
  position: relative;
  font-size: 24px;
  font-weight: var(--bold);
  color: var(--main1);
  cursor: pointer;
}
.checkbox__input {
  position: absolute;
  opacity: 0;
}
.checkbox__check {
  position: relative;
  display: inline-block;
  top: 5px;
  width: 24px;
  height: 24px;
  border: 2px solid var(--main1);;
  border-radius: 4px;
  margin-right: 4px;
}
.checkbox__input:checked~.checkbox__check {
  background: var(--main1);;
  border-color: var(--main1);;
}
.checkbox__check::before {
  content: " ";
  position: absolute;
  top: 4px;
  left: 3px;
  width: 15px; 
  height: 6px;
  border-bottom: 4px solid var(--white);
  border-left: 4px solid var(--white);
  transform: scale(0) rotate(-45deg);
}
.checkbox__input:checked~.checkbox__check::before {
  transform: scale(1) rotate(-45deg);
}