<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="test.css">
<body>

    <button class="booklist--green">
        <img class="booklist--green" src="icon/booklist--green.svg" /></button>
    
    <button class="bookmark--green">
        <img class="bookmark--green" src="icon/bookmark--green.svg" /></button>
    
    <button class="branch--green">
        <img class="branch--green" src="icon/branch--green.svg" /></button>
    
    <button class="check--white">
        <img class="check--white" src="icon/check--white.svg" /></button>
    
    <button class="__button">버튼</button>
    
    <button class="__branch">
        <img class="__branch" src="icon/__branch.svg" /></button>
    
    <button class="__bookmark">
        <img class="__bookmark" src="icon/__bookmark.svg" /></button>
    
    <button class="__booklist">
        <img class="__booklist" src="icon/__booklist.svg" /></button>
    
    <button class="create--green__button">트리 생성하기</button>
    
    <button class="create--white__button">트리 생성하기</button>
    
    <label class="checkbox"><input type="checkbox" class="hide"></label>
    


</body>

</html>