@import "reset.css";
@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://fastly.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

.booklist--green {
  background-color: #ffffff;
  border: none;
  font-size: 14px;
  transition: 1;
}
.booklist--green:focus{
  outline: 0;
}
.booklist--green:hover{
  cursor: pointer;
}

.bookmark--green {
  background-color: #ffffff;
  border: none;
  font-size: 14px;
  transition: 1;
}
.bookmark--green:focus{
  outline: 0;
}
.bookmark--green:hover{
  cursor: pointer;
}

.branch--green {
  background-color: #ffffff;
  border: none;
  font-size: 14px;
  transition: 1;
}
.branch--green:focus{
  outline: 0;
}
.branch--green:hover{
  cursor: pointer;
}

.check--white {
  background-color: #ffffff;
  border: none;
  font-size: 14px;
  transition: 1;
}
.check--white:focus{
  outline: 0;
}
.check--white:hover{
  cursor: pointer;
}

.__button {
  padding: 17px,17px,17px,17px;
  width: flex ;
  height: 50px;
  background-color: #323a27;
  color: #ffffff;
  box-shadow: 0 4px
  16px rgba(0, 0, 0, 0.25);
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
  transition: 1;
}
.__button:focus{
  outline: 0;
}
.__button:hover{
  background-color: #323a27;
  cursor: pointer;
  box-shadow: 0 2px
  4px rgba(0, 0, 0, 0.25);
}

.__branch {
  width: 50px;
  height: 50px;
  background-color: #323a27;
  color: #ffffff;
  border: none;
  box-shadow: 0 4px
  16px rgba(0, 0, 0, 0.25);
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
  transition: 1;
}
.__branch:focus{
  outline: 0;
}
.__branch:hover{
  background-color: #323a27;
  cursor: pointer;
  box-shadow: 0 2px
  4px rgba(0, 0, 0, 0.25);
}


.__bookmark {
  width: 50px;
  height: 50px;
  background-color: #323a27;
  color: #ffffff;
  border: none;
  box-shadow: 0 4px
  16px rgba(0, 0, 0, 0.25);
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
  transition: 1;
}
.__bookmark:focus{
  outline: 0;
}
.__bookmark:hover{
  background-color: #323a27;
  cursor: pointer;
  box-shadow: 0 2px
  4px rgba(0, 0, 0, 0.25);
}

.__booklist {
  width: 50px;
  height: 50px;
  background-color: #323a27;
  color: #ffffff;
  border: none;
  box-shadow: 0 4px
  16px rgba(0, 0, 0, 0.25);
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
  transition: 1;
}
.__booklist:focus{
  outline: 0;
}
.__booklist:hover{
  background-color: #323a27;
  cursor: pointer;
  box-shadow: 0 2px
  4px rgba(0, 0, 0, 0.25);
}


.create--green__button {
  width: 300px;
  height: 50px;
  background-color: #323a27;
  color: #ffffff;
  border: none;
  box-shadow: 0 4px
  16px rgba(0, 0, 0, 0.25);
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
  transition: 1;
}
.create--green__button:focus{
  outline: 0;
}
.create--green__button:hover{
  background-color: #323a27;
  cursor: pointer;
  box-shadow: 0 2px
  4px rgba(0, 0, 0, 0.25);
}


.create--white__button {
  width: 300px;
  height: 50px;
  background-color: #E5EDDB;
  color: #323a27;
  border: none;
  box-shadow: 0 4px
  16px rgba(0, 0, 0, 0.25);
  font-family: 'Pretendard-Regular';
  font-size: 14px;
  font-weight: bold;
  border-radius: 16px;
  transition: 1;
}
.create--white__button:focus{
  outline: 0;
}
.create--white__button:hover{
  background-color: #E5EDDB;
  cursor: pointer;
  box-shadow: 0 2px
  4px rgba(0, 0, 0, 0.25);
}



.hide {
  overflow: hidden;
  display: block;
  position: absolute;
  border: 0;
  width: 1px;
  height: 1px;
  clip: rect(1px, 1px, 1px, 1px);
}

label.checkbox {
  display: inline-block;
  background-color: #323a27;
  height: 24px;
  width: 24px;
  border-radius: 8px;

}

label.checkbox::before {
  border-image: "icon/checkbox-check-icon.svg";
}

input[type="checkbox"]:checked + label {
  content: icon;
}

