<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<link rel="stylesheet" href="test.css">
<body>
    
    <img class="green-booklist" src="icon/green-booklist.svg" />

    <img class="green-bookmark" src="icon/green-bookmark.svg" />

    <img class="green-branch" src="icon/green-branch.svg" />

    <img class="white-check" src="icon/white-check.svg" />


    
    <div class="button">
        <div class="button-box">버튼</div>
    </div>
    
      
    <div class="branch">
        <img class="branch-icon" src="icon/branch.svg" />
    </div>

    <div class="bookmark">
        <img class="bookmark-icon" src="icon/bookmark.svg" />
    </div>

    <div class="booklist">
        <img class="bookkist-icon" src="icon/booklist.svg" />
    </div>

    <div class="button-tree-green">
        <div class="button-tree-green-create">
          <div class="button-tree-green-create-text">트리 생성하기</div>
        </div>
    </div>
    
    <div class="button-tree-white">
        <div class="button-tree-white-create">
          <div class="button-tree-white-create-text">트리 생성하기</div>
        </div>
    </div>
      
    <section class="checkbox">
        <div class="checkbox-check">
            <img class="checkbox-check-icon" src="icon/checkbox-check-icon.svg" />
        </div>

        <div class="checkbox-space"></div>
    </section>

</body>

</html>