<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="top-bar.css" />
  </head>
  <body>
    <div class="top-bar--green">
      <p class="top-bar__title">트리 생성</p>
      <div class="tob-bar--a">
        <img
          src="/src/main/resources/static/svg/back-arrow-icon.svg"
          alt="top-bar--backarrow.svg"
        />
      </div>
    </div>

    <div class="top-bar--green">
      <p class="top-bar__title">트리 생성</p>
      <div class="tob-bar--a">
        <img
          src="/src/main/resources/static/svg/back-arrow-icon.svg"
          alt="top-bar--backarrow.svg"
        />
      </div>
      <p class="top-bar__text">초기화</p>
    </div>

    <div class="top-bar--green">
      <p class="top-bar__title">트리 생성</p>
      <div class="tob-bar--a">
        <img
          src="/src/main/resources/static/svg/back-arrow-icon.svg"
          alt="top-bar--backarrow.svg"
        />
      </div>
      <p class="top-bar__text">완료</p>
    </div>

    <div class="top-bar--green">
      <div class="tob-bar--a">
        <img
          src="/src/main/resources/static/svg/back-arrow-icon.svg"
          alt="top-bar--backarrow.svg"
        />
      </div>
      <form
        class="tree-input-text--select__tag-button-form"
        action="#"
        method="post"
      >
        <label class="tree-input-text--select__tag-button-name">태그 1 </label>
      </form>
      <p class="top-bar__text">완료</p>
    </div>

    <div class="top-bar--white">
      <p class="top-bar__title">필터 이름</p>
      <div class="top-bar--btn">
        <img
          src="/src/main/resources/static/svg/back-arrow-icon.svg"
          alt="top-bar--backarrow.svg"
        />
      </div>
    </div>

    <div class="top-bar--white">
      <p class="top-bar__title">필터 이름</p>
      <div class="tob-bar--btn">
        <img
          src="/src/main/resources/static/svg/back-arrow-icon.svg"
          alt="top-bar--backarrow.svg"
        />
      </div>
      <p class="top-bar__text">초기화</p>
    </div>

    <div class="branch-state-main">
      <div class="branch-name">
        <div class="branch-icon-box">
          <div>
            <img
              class="branch-box-image"
              src="/src/main/resources/static/svg/branch-box--icon.svg"
              alt="브랜치 아이콘"
            />
          </div>
        </div>
        <p class="branch-name--name">브랜치 이름</p>
      </div>
      <div class="branch-state">
        <div class="branch-stats">
          <p>로그<span id="data-XXX">999+</span></p>
          <p>좋아요<span id="data-XXX">32</span></p>
          <p>조회<span id="data-XXX">32</span></p>
        </div>
        <div class="branch-date">
          <p><span class="data-XXX">2024-07-18</span></p>
        </div>
      </div>
    </div>
  </body>
</html>
