<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="topbar.css" rel="stylesheet" />
  </head>

  <!-- topbar-comment -->
  <div class="topbar-comment">
    <div class="topbar-comment__btn">
      <img
        src="/src/main/resources/static/svg/topbar-comment__btn.svg"
        alt="comment-control-bar"
      />
    </div>
    <div class="topbar-comment-header">
      <div class="topbar-comment__title">댓글</div>
      <div class="topbar-comment__cancel-icon" onclick="">
        <img
          src="/src/main/resources/static/svg/topbar-comment__cancel-icon.svg"
        />
      </div>
    </div>

    <div class="topbar-comment__filters">
      <div class="topbar-comment__popfilter">
        <input
          class="topbar-comment__input"
          label="인기순"
          type="radio"
          id="comment-popfilter"
          name="comment-filter"
          value="popular"
          checked
        />
      </div>
      <div class="topbar-comment__recfilter">
        <input
          class="topbar-comment__input"
          label="최신순"
          type="radio"
          id="comment-recfilter"
          name="comment-filter"
          value="recent"
        />
      </div>
    </div>
  </div>

  <!-- footer -->
  <footer class="tree-footer">
    <header class="tree-footer-header">
      <h1 class="tree-footer-header__title">공지사항</h1>
      <p class="tree-footer-header__added">서비스 개발 진행중</p>
    </header>
    <div class="tree-footer__membership">
      <a href="#" class="membership-login">로그인</a>
      <a href="#" class="membership-join">회원가입</a>
      <a href="#" class="membership-asking">문의하기</a>
    </div>
    <div class="tree-footer__app">
      <a href="#" class="app-info">이용약관</a>
      <span class="app-sep">|</span>
      <a href="#" class="app-membership-policy">개인정보처리방침</a>
    </div>
    <div class="tree-footer__logo">
      <img
        src="/src/main/resources/static/img/logo/logo-sample.png"
        width="80"
        height="80"
        alt="app-logo"
      />
    </div>
  </footer>

  <!-- user-bar -->
  <!-- 팔로우 된 사람이면 팔로잉으로 버튼 스타일 변경해야 함 -->

  <div class="topbar-user-bar">
    <div class="topbar-user-bar__profile">
      <div class="topbar-user-bar__image">
        <img
          src="/src/main/resources/static/svg/topbar-user-bar__image.svg"
          alt="user-bar"
        />
      </div>
      <div class="topbar-user-bar-info">
        <p class="topbar-user-bar-name">빵형</p>
        <p class="topbar-user-bar-id">@BreadFit</p>
      </div>
    </div>
    <div class="topbar-user-bar__followbtn" onclick="">팔로우</div>
  </div>

  <!-- comment-box-button -->
  <div class="topbar-comment-box">
    <div class="topbar-comment-box-info">
      <div class="topbar-comment-box-title">댓글</div>
      <span class="topbar-comment-box-cnt">0</span>
    </div>
    <div class="topbar-comment-box__field">
      <img
        class="topbar-comment-box__user-img"
        src="/src/main/resources/static/svg/topbar-comment-box__user-img.svg"
      />
      <div class="topbar-comment-box__popup-btn" label="댓글 추가..."></div>
    </div>
  </div>

  <!-- comment-box-input -->
  <div class="topbar-comment-box">
    <form class="topbar-comment-box__form" action="#" method="">
      <img
        class="topbar-comment-box__user-img"
        src="/src/main/resources/static/svg/topbar-comment-box__user-img.svg"
      />
      <input
        class="topbar-comment__input"
        placeholder="댓글 추가..."
        name="comment-content"
        id="commentXXX"
      />
      <button class="topbar-comment-box__submit-btn" type="submit">
        <img
          class="topbar-comment-box__submit-img"
          src="/src/main/resources/static/svg/topbar-comment-box__submit.svg"
        />
      </button>
    </form>
  </div>

  <!-- breadcrumbs -->
  <div class="topbar-breadcrumbs">
    <div class="topbar-breadcrumbs-box">
      <div class="topbar-breadcrumbs-title">
        <div class="topbar-breadcrumbs-tree" id="topbar-breadcrumbs-tree">
          자바 공부를 위한 트리
        </div>
        <div class="topbar-breadcrumbs-sep">/</div>
        <div class="topbar-breadcrumbs-branch" id="topbar-breadcrumbs-branch">
          브랜치명
        </div>
        <div class="topbar-breadcrumbs-sep">/</div>
        <div class="topbar-breadcrumbs-log" id="topbar-breadcrumbs-log">
          로그명
        </div>
      </div>
    </div>
  </div>

  <!-- option or create -->
  <div class="topbar-option-or-create">
    <p class="topbar-option-or-create-text">옵션 선택 또는 생성</p>
  </div>
</html>
