<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/reset.css" />
    <title>Document</title>
</head>
<body>
    <heaer>
        <h1 class="none">로그 목록</h1>
        <!-- 컨포넌트 -->
        <section>
            <h2 class="none">로그 경로</h2>
            <!-- 컨포넌트 -->
        </section>
    </heaer>

    <main>
        <section>
            <h2 class="none">로그 정보</h2>
            <!-- 컨포넌트 -->
            <section>
                <h3 class="none">로그 리스트</h3>
                <!-- 컨포넌트 -->
            </section>
    
            <section>
                <h3 class="none">현재 로그 날짜</h3>
                <!-- 컨포넌트 -->
            </section>
        </section>
    </main>

    <footer>

        <section>
            <h2 class="none">로그 생성 버튼</h2>
            <!-- 컨포넌트 -->
        </section>

        <section>
            <h2 class="none">현재 브랜치 정보</h2>
            <!-- 컨포넌트 -->
        </section>

    </footer>
</body>
</html>