@import url("../../../../static/common/variables.css");

/* reading progress */
.card-reading-progress {
  background-color: var(--main2);
  border-radius: 8px;
  padding: 16px;
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  height: 143px;
  box-shadow: var(--shadow-basic);
}

.card-reading-progress__title {
  display: flex;
  justify-content: space-between;
  color: var(--main1);
  font-size: 16px;
  font-weight: var(--semi-bold);
}

.card-reading-progress-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
}

.card-reading-progress__bar-container {
  border-radius: 100px;
  background-color: var(--gray);
  height: 4px;
  width: 100%;
  margin-bottom: 2px;
}

.card-reading-progress__bar {
  border-radius: 100px;
  background-color: var(--main1);
  width: 80%;
  height: 4px;
  content-visibility: hidden;
}

.card-reading-progress__num {
  font-size: 16px;
  font-weight: var(--semi-bold);
  color: var(--main1);
}

.card-reading-progress__sep {
  font-size: 14px;
  color: var(--main1);
}

.card-progress-page__num {
  font-size: 12px;
  font-weight: var(--semi-bold);
  color: var(--main1);
}

.card-reading-progress-status__list {
  font-size: 14px;
  line-height: var(--line-height-main);
  color: var(--text-sub);
  transform: translate(0px, -8.8px);
}

.card-reading-progress-status__num {
  font-weight: var(--bold);
}

/* tree card */
.card-tree-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-tree-detail {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.card-tree__book-cover {
  width: 80px;
  height: 120px;
  margin-right: 8px;
}

.card-tree-detail__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  transform: translateY(-8px);
}

.card-tree-detail__tags {
  line-height: var(--line-height-sub);
}

.card-tree-detail__tag {
  color: var(--text-sub);
  font-size: 10px;
  margin-right: 2px;
}

.card-tree-detail__name {
  font-size: 18px;
  font-weight: var(--bold);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-tree-detail__explanation {
  font-size: 14px;
  font-weight: var(--regular);
  color: var(--text-sub);
}

.card-tree-detail__info {
  font-size: 14px;
  font-weight: var(--regular);
  color: var(--text-sub);
}

.card-tree-detail__info-created-date {
  font-size: 14px;
  font-weight: var(--regular);
  color: var(--text-sub);
  display: flex;
  justify-content: end;
  transform: translateY(8px);
}
