@import url("../../../../static/common/variables.css");

/* reading progress */
.card-reading-progress {
  background-color: var(--main2);
  border-radius: 8px;
  padding: 16px;
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  height: 143px;
  box-shadow: var(--shadow-basic);
}

.card-reading-progress__title {
  display: flex;
  justify-content: space-between;
  color: var(--main1);
  font-size: 16px;
  font-weight: var(--semi-bold);
}

.card-reading-progress-content {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: end;
}

.card-reading-progress__bar-container {
  border-radius: 100px;
  background-color: var(--gray);
  height: 4px;
  width: 100%;
  margin-bottom: 2px;
}

.card-reading-progress__bar {
  border-radius: 100px;
  background-color: var(--main1);
  width: 80%;
  height: 4px;
  content-visibility: hidden;
}

.card-reading-progress__num {
  font-size: 16px;
  font-weight: var(--semi-bold);
  color: var(--main1);
}

.card-reading-progress__sep {
  font-size: 14px;
  color: var(--main1);
}

.card-progress-page__num {
  font-size: 12px;
  font-weight: var(--semi-bold);
  color: var(--main1);
}

.card-reading-progress-status__list {
  font-size: 14px;
  line-height: var(--line-height-main);
  color: var(--text-sub);
  transform: translate(0px, -8.8px);
}

.card-reading-progress-status__num {
  font-weight: var(--bold);
}

/* tree card */
.card-tree-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-tree-detail {
  display: flex;
  flex-direction: row;
  margin-bottom: 40px;
}

.card-tree__book-cover {
  width: 80px;
  height: 120px;
  margin-right: 8px;
}

.card-tree-detail__box {
  display: flex;
  flex-direction: column;
  width: 100%;
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  transform: translateY(-8px);
}

.card-tree-detail__tags {
  line-height: var(--line-height-sub);
}

.card-tree-detail__tag {
  color: var(--text-sub);
  font-size: 10px;
  margin-right: 2px;
}

.card-tree-detail__name {
  font-size: 18px;
  font-weight: var(--bold);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-tree-detail__explanation {
  font-size: 14px;
  font-weight: var(--regular);
  color: var(--text-sub);
}

.card-tree-detail__info {
  font-size: 14px;
  font-weight: var(--regular);
  color: var(--text-sub);
}

.card-tree-detail__info-created-date {
  font-size: 14px;
  font-weight: var(--regular);
  color: var(--text-sub);
  display: flex;
  justify-content: end;
  transform: translateY(8px);
}

/* branch represent */
.branch-rep,
.branch-rep * {
  box-sizing: border-box;
}
.branch-rep {
  background: rgba(229, 237, 219, 0.4);
  border-radius: 8px;
  padding: 14px 16px 14px 16px;
  display: flex;
  flex-direction: column;
  gap: 4px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.branch-rep-frame {
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.branch-rep-header {
  display: flex;
  flex-direction: row;
  gap: 4px;
  row-gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.branch-rep-img {
  background: var(--main-1, #323a27);
  border-radius: 4px;
  padding: 8px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  row-gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 40px;
  height: 40px;
  position: relative;
}
.git-branch-01 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
.branch-rep-titlebox {
  display: flex;
  flex-direction: column;
  gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-shrink: 0;
  width: 82px;
  position: relative;
}
.branch-rep-date {
  color: var(--text-sub, #767676);
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 12px;
  line-height: 100%;
  letter-spacing: -0.025em;
  font-weight: 400;
  position: relative;
  align-self: stretch;
}
.branch-rep-title {
  color: #000000;
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 18px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 700;
  position: relative;
  align-self: stretch;
}
.branch-rep-content {
  display: flex;
  flex-direction: row;
  row-gap: 0px;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}
.branch-rep-info {
  display: flex;
  flex-direction: row;
  gap: 10px;
  row-gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.branch-rep-leaf {
  display: flex;
  flex-direction: row;
  gap: 1px;
  row-gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.branch-rep-leaf-name {
  color: var(--text-sub, #767676);
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 400;
  position: relative;
}
.branch-rep-leaf-num {
  color: var(--text-sub, #767676);
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 700;
  position: relative;
}
.branch-rep-views {
  display: flex;
  flex-direction: row;
  gap: 1px;
  row-gap: 0px;
  align-items: center;
  justify-content: flex-start;
  flex-shrink: 0;
  position: relative;
}
.branch-rep-views-name {
  color: var(--text-sub, #767676);
  text-align: left;
  font-family: "Pretendard-Regular", sans-serif;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 400;
  position: relative;
}
.branch-rep-views-num {
  color: var(--text-sub, #767676);
  text-align: left;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.025em;
  font-weight: 700;
  position: relative;
}
.favorite-24-dp-5-f-6368-fill-0-wght-400-grad-0-opsz-24-1 {
  flex-shrink: 0;
  width: 24px;
  height: 24px;
  position: relative;
  overflow: visible;
}
