@import url(.././../../static/common/variables.css);


/* =================================
            top-bar
  ================================== */
.top-bar--green {
    background: var(--main2, #e5eddb);
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    height: 76px;
    position: relative;
    border-bottom: 1px solid var(--gray);
    padding: 0 24px 0 24px;
}
.top-bar__frame {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 13.5px;
}
.tree-input-text--select__tag {
    display: flex;
    flex: 0 0 auto;
    align-items: center;
    height: 30px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 12px;
    background-color: var(--main1);
    font-size: 14px;
    font-weight: var(--semi-bold);
    color: var(--text-icon);
}
.top-bar__success-link {
    order: 2;
}
.top-bar__text {
    color: var(--main1, #323a27);
    font-size: 16px;
    letter-spacing: var(--letter-spacing-main);
    font-weight: var(--bold);
    align-self: flex-end;
    background: transparent;
    border: none;
    padding: 0;
    order: 2;
    line-height: 2;
}
/* ======================================
            tree-input-text__form
    ==================================== */
.tree-input-text__form {
    display: flex;
    justify-content: center;
}
.tree-input-text__subject {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 16px;
    font-weight: var(--semi-bold);
}
.tree-input-text__rectangle {
    display: flex;
    flex-grow: 1;
    height: 56px;
    border: none;
    font-size: 16px;
    font-weight: var(--regular);
    color: var(--text-sub);
    background-color: var(--main3);
    padding-left: 16px;
}
.tree-input-text__rectangle:focus {
    outline: none;
}
.tree-input-text__rectangle:not(:placeholder-shown) {
    color: var(--text-main);
    border: 1px solid var(--filter-checked);
    outline: none;
}
.tree-input-text__rectangle__re-enter {
    display: block;
    height: 56px;
    border-color: var(--warning);
    font-size: 16px;
    font-weight: var(--regular);
    color: var(--warning);
    background-color: var(--main3);
    padding-left: 16px;
}

/* ===========================
        option or create
  =============================  */
.top-bar__tag-info-box {
    padding: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    row-gap: 0;
    align-items: center;
    justify-content: flex-start;
    flex-shrink: 0;
}
.top-bar__tag-info-text {
    color: var(--main1);
    text-align: left;
    font-size: 10px;
    line-height: var(--line-height-main);
    letter-spacing: var(--letter-spacing-main);
    font-weight: var(--regular);
}

/* ===================================
            delete-btn
  ===================================  */
.delete-seed__form {
    display: flex;
    height: 58px;
    border: none;
    background-color: var(--main3);
    align-items: center;
    border-top: 1px solid var(--gray);
    border-bottom: 1px solid var(--gray);
}
.delete-seed__btn {
    display: flex;
    border: none;
    height: 24px;
    padding-left: 16px;
    background-color: var(--main3);
}
.delete-seed__btn-msg {
    padding-left: 16px;
    font-size: 16px;
    font-weight: var(--regular);
    color: var(--text-sub);
}