/** @format */
@import url("../../css/reset.css");
@import url("../../../../variables/variables.css");
/* .search__form {
  display: flex;
  align-items: center;
  height: 5rem;
  padding-top: 1rem;
  margin-right: 1rem;
}
.search-bar {
  background: #e5eddb;
  border-radius: 2rem;
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.search-bar > p {
  color: var(--text-sub);
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: var(--extra-bold);
  position: relative;
}
.search-bar img {
  height: 1.5rem;
}
.search-bar-back-close {
  display: flex;
  background: #e5eddb;
  border-radius: 2rem;
  margin-left: 1rem;
  padding: 8px 16px 8px 16px;
  align-items: center;
  justify-content: space-between;
  flex: 1 0 auto;
}
.search-bar-back-close > p {
  color: #767676;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 14px;
  font-weight: 800;
  position: relative;
}
.search-bar__button {
  width: 5rem;
  display: flex;
  justify-content: space-between;
} */
a {
  text-decoration: none;
}
.tree-input-text__subject {
  font-display: var(--filter-checked);
  font-size: 20px;
  font-weight: var(--extra-bold);
}
.tree-input-text__form {
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
}
.tree-input-text-radius {
  display: block;
  width: 100vw;
  height: 3.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 20px;
  font-display: #767676;
  background-color: var(--main2);
  padding-left: 1rem;
  position: relative;
}
.tree-input-text-radius--complete {
  display: block;
  width: 100vw;
  height: 3.5rem;
  border-color: #323a27;
  border-radius: 0.5rem;
  font-size: 20px;
  font-weight: 550;
  color: #323a27;
  background-color: var(--main2);
  padding-left: 1rem;
  position: relative;
}
.tree-input-text-radius--re {
  display: block;
  width: 100vw;
  height: 3.5rem;
  border-color: #ba0c0c;
  border-radius: 0.5rem;
  font-size: 20px;
  font-weight: 550;
  color: #ba0c0c;
  background-color: var(--main2);
  padding-left: 1rem;
  position: relative;
}
.tree-input-text-rectangle {
  display: block;
  width: 100vw;
  height: 3.5rem;
  border: none;
  font-size: 20px;
  font-display: #767676;
  background-color: var(--main2);
  padding-left: 1rem;
  position: relative;
}
.tree-input-text__subject {
  width: 100%;
  font-size: 2rem;
}
.tree-input-text-select {
  display: flex;
  height: 4rem;
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--main2);
  align-content: center;
  text-align: right;
  justify-content: space-between;
}
.tree-input-text-select__tag {
  display: flex;
  align-content: center;
}
.tree-input-text-select-description {
  display: grid;
  align-content: center;
  margin-left: 1rem;
  color: #767676;
  font-size: 20px;
}
.input-next-button {
  border: none;
  background-color: var(--main2);
}

.tree-input-text-select__tag {
  display: flex;
  align-content: center;
  position: relative;
}
.tree-input-text-select__tag-button {
  display: flex;
  align-content: center;
  height: 2rem;
  margin-left: 1rem;
  border-radius: 4rem;
  background-color: var(--main1);
}
.tree-input-text-select__tag-button > p {
  display: grid;
  margin-left: 1rem;
  margin-right: 0rem;
  align-content: center;
  font-size: 1rem;
  font-weight: var(--semi-bold);
  color: var(--text-icon);
}
.tree-input-text-select__tag-button > button {
  margin-right: 1rem;
  border-radius: 10rem;
  border: none;
  font-size: 1rem;
  font-weight: var(--semi-bold);
  background-color: var(--main1);
  color: var(--text-icon);
}

.delete-seed__form {
  display: block;
  height: 3.5rem;
  border: none;
  position: relative;
}
.delete-seed__button {
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  font-size: 20px;
  font-display: #767676;
  text-align: left;
  background-color: #e5eddb;
}
.delete-seed__button img {
  padding-right: 0.5rem;
}
