/** @format */
@import url('../../css/reset.css');
@import url('../../../../variables/variables.css');
a {
  text-decoration: none;
}
button {
  cursor: pointer;
}
.tree-input-text__subject {
  font-display: var(--filter-checked);
  font-size: 20px;
  font-weight: var(--extra-bold);
}
.tree-input-text__form {
  display: flex;
  justify-content: center;
  margin-top: 0.3rem;
}
.tree-input-text-radius {
  display: block;
  width: 100vw;
  height: 3.5rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 20px;
  font-display: #767676;
  background-color: var(--main2);
  padding-left: 1rem;
  position: relative;
}
.tree-input-text-radius--complete {
  display: block;
  width: 100vw;
  height: 3.5rem;
  border-color: #323a27;
  border-radius: 0.5rem;
  font-size: 20px;
  font-weight: 550;
  color: #323a27;
  background-color: var(--main2);
  padding-left: 1rem;
  position: relative;
}
.tree-input-text-radius--re {
  display: block;
  width: 100vw;
  height: 3.5rem;
  border-color: #ba0c0c;
  border-radius: 0.5rem;
  font-size: 20px;
  font-weight: 550;
  color: #ba0c0c;
  background-color: var(--main2);
  padding-left: 1rem;
  position: relative;
}
.tree-input-text-rectangle {
  display: block;
  width: 100vw;
  height: 3.5rem;
  border: none;
  font-size: 20px;
  font-display: #767676;
  background-color: var(--main2);
  padding-left: 1rem;
  position: relative;
}
.tree-input-text__subject {
  width: 100%;
  font-size: 2rem;
}
.tree-input-text-select {
  display: flex;
  height: 4rem;
  margin-top: 1rem;
  border: none;
  border-radius: 1rem;
  background-color: var(--main2);
  align-content: center;
  text-align: right;
  justify-content: space-between;
}
.tree-input-text-select__selected {
  display: flex;
  height: 4rem;
  margin-top: 1rem;
  border: 1px solid;
  border-color: var(--main1);
  border-radius: 1rem;
  background-color: var(--main2);
  align-content: center;
  text-align: right;
  justify-content: space-between;
}
.tree-input-text-select__re {
  display: flex;
  height: 4rem;
  margin-top: 1rem;
  border: 1px solid;
  border-color: var(--warning);
  border-radius: 1rem;
  background-color: var(--main2);
  align-content: center;
  text-align: right;
  justify-content: space-between;
}
.tree-input-text-select__tag {
  display: flex;
  align-content: center;
}
.tree-input-text-select-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  color: var(--text-sub);
  font-size: 20px;
}
.tree-input-text-select-description__selected {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  color: var(--text-main);
  font-weight: var(--extra-bold);
  font-size: 20px;
}
.tree-input-text-select-description__re {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1rem;
  color: var(--warning);
  font-weight: var(--extra-bold);
  font-size: 20px;
}
.tree-input-text-select__rewrite-msg {
  color: var(--warning);
}
.tree-input-large-text-label {
  display: flex;
  flex-direction: column;
  font-weight: var(--semi-bold);
}
.tree-input-large-textarea {
  border: none;
  border-radius: 1rem;
  margin-top: 0.4rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  background-color: var(--main2);
  height: 20rem;
  box-sizing: border-box;
  outline: none;
}
.tree-input-large-textarea::placeholder {
  font-weight: var(--midium);
  color: var(--main1);
}
.tree-input-large-textarea__complate {
  border: none;
  border-radius: 1rem;
  margin-top: 0.4rem;
  padding-top: 0.5rem;
  padding-left: 0.5rem;
  background-color: var(--main2);
  height: 20rem;
  box-sizing: border-box;
  outline: none;
}
.tree-input-large-textarea__complate::placeholder {
  font-weight: var(--semi-bold);
  color: var(--text-main);
}
.input-next-button {
  border: none;
  margin-right: 1rem;
  background-color: var(--main2);
}

div.tree-input-text-select__tag {
  display: flex;
  justify-content: center;
  align-items: center;
}
.tree-input-text-select__tagbutton {
  height: 2rem;
  margin-left: 1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  border-radius: 4rem;
  background-color: var(--main1);
  font-size: 1rem;
  font-weight: var(--semi-bold);
  color: var(--text-icon);
}
.delete-seed__form {
  display: block;
  height: 3.5rem;
  border: none;
}
.delete-seed__button {
  display: flex;
  flex-direction: row;
  border: none;
  width: 100%;
  height: 100%;
  padding-left: 2rem;
  font-size: 16px;
  color: var(--text-sub);
  text-align: left;
  align-items: center;
  background-color: #e5eddb;
}
.delete-seed__button img {
  padding-right: 0.5rem;
}
