<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Recorders.ggogit.domain.book.repository.BookRepository">
    <insert id="save" parameterType="Recorders.ggogit.domain.book.entity.Book">
        INSERT INTO BOOK (MEMBER_ID, TITLE, AUTHOR, PUBLISHER, PUBLIC_DATE, TOTAL_PAGE, IMAGE_FILE, RESOURCE_FROM)
        VALUES (#{memberId}, #{title}, #{author}, #{publisher}, #{publicDate}, #{totalPage}, #{imageFile}, #{resourceFrom})
    </insert>
</mapper>