<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="Recorders.ggogit.domain.tree.repository.TreeRegRepository">

    <insert id="addTreeRow" parameterType="Tree">
        INSERT INTO TREE(MEMBER_ID,SEED_ID,TITLE,DESCRIPTION,BOOK_MARK_COUNT,VISIBILITY)
        VALUES
            (#{memberId},#{seedId},#{title},#{description},#{bookMarkCountNum},#{visibility})
    </insert>

</mapper>