<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/css/fragments.css}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet" />

    <title>Document</title>
  </head>
  <body>

    <header>
      <h1 class="none">도서 세부 정보</h1>
      <section class="book-detail-top-bar-container">
        <h1 class="none">뒤로가기 상단바</h1>
        <div th:replace="~{fragments/top-bar :: clear-back}"></div>
      </section>
    </header>

    <main>
      <section class="book-detail-bg-container">
        <h1 class="none">도서 배경 이미지</h1>
        <div th:replace="~{fragments/background :: book-detail(imgSrc=@{/img/book/detail/book.jpg})}"></div>

        <section class="book-detail-like-bar-container">
          <h1 class="none">좋아요 및 공유</h1>
          <div th:replace="~{fragments/bar :: like-share(likeLink='#', shareLink='#')}"></div>
        </section>
      </section>

      <section class="book-detail-book-info-container">
        <h1 class="none">도서 제목 및 저자 정보</h1>
        <div th:replace="~{fragments/text :: text-book-info('시/에세이','무정형의 삶','올라프',null,'위즈덤하우스')}"></div>
      </section>

      <section class="book-detail-book-info-container">
        <h1 class="none">도서 기본 정보</h1>

        <div th:replace="~{fragments/card :: tree-info-card(date=${book.publicDate}, pagecount=${book.totalPage})}"></div>
      </section>

      <section class="book-detail-comment-container">
        <h1 class="none">댓글</h1>
        <div th:replace="~{fragments/bar :: comment(profileImg=@{/svg/comment-profile.svg}, commentCount='199')}"></div>

        <section id="comment-filter-tab-id" class="book-detail-comment-tab-container book-detail-comment-tab-container--active none">
          <h1 class="none">댓글 탭</h1>
          <div th:replace="~{fragments/tab-comment :: tab-comment}"></div>
        </section>

      </section>

      <section class="book-detail-my-tree-container">
        <h1 class="none">도서의 나의 트리 정보</h1>
        <section class="book-detail-my-tree-title-container">
          <h1 th:replace="~{fragments/text :: text-main-title(title='나의 트리', size=28)}"></h1>
        </section>

        <section class="book-detail-my-tree-list-container">
            <h1 class="none">나의 트리 리스트</h1>
            <section class="book-detail-my-tree-card-container">
              <div th:replace="~{fragments/card :: card-tree-list(list)}"></div>
            </section>
        </section>
      </section>

      <section class="book-detail-other-recode-container">
        <h1 class="none">도서의 다른 기록 보기</h1>
        <section class="book-detail-other-recode-title-container">
          <h1 th:replace="~{fragments/text :: text-main-title(title='다른 기록 보기', size=28)}"></h1>
        </section>

        <section class="book-detail-other-recode-sub-title-container">
          <h1 th:replace="~{fragments/text :: text-main-title(title='트리 리스트', size=24)}"></h1>
        </section>

        <section class="book-detail-other-tree-list-container">
          <h1 class="none">트리 리스트</h1>
            <section class="book-detail-other-tree-card-container">
                <div th:replace="~{fragments/card :: sns-card-tree-list(list=${type1})}"></div>
            </section>
        </section>

        <section class="book-detail-other-recode-sub-title-container">
          <h1 th:replace="~{fragments/text :: text-main-title(title='회고록', size=24)}"></h1>
        </section>

        <section class="book-detail-other-tree-list-container">
          <h1 class="none">회고록 리스트</h1>
          <section class="book-detail-other-tree-card-container">
            <div th:replace="~{fragments/card :: sns-card-tree-list(list=${type2})}"></div>
          </section>
        </section>

        <section class="book-detail-other-recode-sub-title-container">
          <h1 th:replace="~{fragments/text :: text-main-title(title='나뭇잎', size=24)}"></h1>
        </section>

        <section class="book-detail-other-tree-list-container">
          <h1 class="none">나뭇잎 리스트</h1>
          <section class="book-detail-other-tree-card-container">
            <div th:replace="~{fragments/card :: sns-card-tree-list(list=${type3})}"></div>
          </section>
        </section>

      </section>

    </main>

    <aside class="book-detail-bot-aside-container">
      <h1 class="none">트리 생성 하단 바</h1>
      <div th:replace="fragments/bot-bar :: create-tree"></div>
    </aside>

    <footer th:replace="~{fragments/footer :: footer}"></footer>


  <script>
    function commentTabActive() {
      const topBar = document.getElementById("top-bar-clear-back-id");
      const likeShareBar = document.getElementById("bar-like-share-id");
      const bookImage = document.getElementById("bg-book-detail__front-img-box-id");
      const commentTab = document.getElementById("comment-filter-tab-id");

      topBar.classList.add("top-bar-clear-back-box--none");
      likeShareBar.classList.add("bar-like-share-box--none");
      bookImage.classList.add("bg-book-detail__front-img-box--comment-active");
      commentTab.classList.add("book-detail-comment-tab-container--active");

      document.body.classList.add("no-scroll");
      window.scrollTo({top: 0, behavior: "smooth"});
    }

    function commentTabInactive() {
        const topBar = document.getElementById("top-bar-clear-back-id");
        const likeShareBar = document.getElementById("bar-like-share-id");
        const bookImage = document.getElementById("bg-book-detail__front-img-box-id");
        const commentTab = document.getElementById("comment-filter-tab-id");

        topBar.classList.remove("top-bar-clear-back-box--none");
        likeShareBar.classList.remove("bar-like-share-box--none");
        bookImage.classList.remove("bg-book-detail__front-img-box--comment-active");
        commentTab.classList.remove("book-detail-comment-tab-container--active");
        document.body.classList.remove("no-scroll");
    }

    document.getElementById("bar-comment-id").addEventListener("click", commentTabActive);
    document.getElementById("bot-bar-create-tree__icon-box-id").addEventListener("click", commentTabActive);
    document.getElementById("top-bar-comment__back-icon-box-id").addEventListener("click", commentTabInactive);
    document.getElementById("bg-book-detail-box-id").addEventListener("click", commentTabInactive);
  </script>

  <script>
    document.getElementById("input-comment-input__input-id").addEventListener("focus", function() {
      const submitBtn = document.getElementById("input-comment-input__submit-id");
      setTimeout(() => {
        submitBtn.classList.add("input-comment-input__submit--active")
      }, 100);
    });

    document.getElementById("input-comment-input__input-id").addEventListener("focusout", function() {
      const submitBtn = document.getElementById("input-comment-input__submit-id");
      submitBtn.classList.remove("input-comment-input__submit--active");
    });
  </script>

  </body>
</html>
