<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="filter.css" />
    <title>filter</title>
  </head>
  <!-- tree-filter -->
  <div class="tree-main-list-filter">
    <a href="#" class="btn btn--unchecked sortIcon">정렬 아이콘</a>
    <a href="#" class="btn btn--unchecked">도서</a>
    <a href="#" class="btn btn--unchecked">영감</a>
    <a href="#" class="btn btn--unchecked">유튜브</a>
    <a href="#" class="btn btn--unchecked">완독</a>
  </div>
</html>
