<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="filter.css"
      th:href="~{component/hyeonjin/filter/filter.css}"
    />
    <title>filter</title>
  </head>
  <!-- tree-sort -->
  <div class="filter-tree-sort">
    <div class="filter-tree-sort__icon">정렬</div>
    <div th:each="treeFilter : ${treeFilters}">
      <label
        ><input
          class="filter-tree-sort__btn"
          th:type="checkbox"
          th:value="${treeFilter.value}"
          th:field="${treeFilters}"
          th:label="${treeFilter.value}"
      /></label>
    </div>
  </div>
</html>
