@import url(../.././../../static/common/variables.css);

/* tree-sort */
.filter-tree-sort {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  gap: 13px;
}

.filter-tree-sort__btn {
  display: flex;
  text-align: center;
  font-size: 12px;
  font-weight: var(--semi-bold);
  letter-spacing: var(--letter-spacing-main);
  line-height: var(--line-height-main);
  border-radius: 8px;
  padding: 9.5px 20px;
  appearance: none;
  background-color: var(--filter-unchecked);
  color: var(--text-sub);
}

.filter-tree-sort__btn:checked {
  color: var(--white);
  background-color: var(--main1);
}

.filter-tree-sort__btn::after {
  content: attr(label);
}

.filter-tree-sort__icon {
  width: 36px;
  height: 36px;
  border-radius: 8px;
  content-visibility: hidden;
  background-image: url("../../../../static/svg/sort.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--filter-unchecked);
}
