<link rel="stylesheet" href="./style.css" />

<div class="cards-felt-logs">
  <ul class="cards-felt-logs-lists">
    <li class="card-felt-loglist">
      <a class="card-tree-list" href="#">
        <div class="card-tree-cover">
          <img
            src="../../../../../resources/static/img/card-felt-log-bookcover.png"
            alt="표지"
          />
        </div>
        <div class="card-tree-info">
          <div class="card-tree-category">
            <p>도서</p>
            <p>자기 개발</p>
          </div>
          <p class="card-tree-treetitle">우연이 모여 운명이 되었다</p>
          <p class="card-tree-contenttitle">우리가 운명이라고 불렀던 것들</p>
          <div class="card-tree-contentinfo">
            <p>2023</p>
            <p>·</p>
            <p>슈페판 클라인</p>
            <p>·</p>
            <p>포레스트북스</p>
          </div>
        </div>
      </a>
      <div class="card-tree-comment">
        <div class="card-tree-comment-title">
          <p>이것은 우연인가 운명인가</p>
          <p>2024-07-14</p>
        </div>
        <div class="card-tree-comment-input">
          <label
            ><input type="text" value="그 모든 우연이 모여 오늘이 탄생했다."
          /></label>
        </div>
        <div class="card-tree-comment-reacttab">
          <div class="card-tree-comment-reacticon">
            <button>
              <img src="../res/icons/comment.svg" alt="comment_icon" />
            </button>
            <button>
              <img src="../res/icons/like.svg" alt="like_icon" />
            </button>
          </div>
          <div class="card-tree-comment-reactviews">
            <p>+999</p>
            <p>조회수</p>
          </div>
        </div>
      </div>
      <a class="card-tree-author-info" href="#">
        <div class="card-tree-author-img">
          <img
            src="../../../../static/img/card-tree-author.png"
            alt="author-img"
          />
        </div>
        <div class="card-tree-author-name">
          <p>군만두</p>
        </div>
      </a>
    </li>
  </ul>
</div>
<!--  -->
<!--  -->
<div class="cards-felt-logs">
  <ul class="cards-felt-logs-lists">
    <li class="card-felt-loglist">
      <a class="card-tree-list" href="#">
        <div class="card-tree-cover">
          <img
            src="../../../../../resources/static/img/card-felt-log-bookcover.png"
            alt="표지"
          />
        </div>
        <div class="card-tree-info">
          <div class="card-tree-category">
            <p>도서</p>
            <p>자기 개발</p>
          </div>
          <p class="card-book-title">우리가 운명이라고 불렀던 것들</p>
          <div class="card-book-contentinfo">
            <p>2023</p>
            <p>·</p>
            <p>슈페판 클라인</p>
            <p>·</p>
            <p>포레스트북스</p>
          </div>
        </div>
      </a>
      <div class="card-commentary">
        <div class="card-commentary-title">
          <p>회고록 제목</p>
          <p>2024-07-14</p>
        </div>
        <div class="card-commentary-input">
          <label><input type="text" value="회고록 내용" /></label>
        </div>
        <div class="card-commentary-reacttab">
          <div class="card-commentary-reacticon">
            <button>
              <img src="../res/icons/comment.svg" alt="comment_icon" />
            </button>
            <button>
              <img src="../res/icons/like.svg" alt="like_icon" />
            </button>
          </div>
          <div class="card-commentary-reactviews">
            <p>+999</p>
            <p>조회수</p>
          </div>
        </div>
      </div>
      <a class="card-tree-author-info" href="#">
        <div class="card-tree-author-img">
          <img
            src="../../../../static/img/card-tree-author.png"
            alt="author-img"
          />
        </div>
        <div class="card-tree-author-name">
          <p>군만두</p>
        </div>
      </a>
    </li>
  </ul>
</div>
