<link rel="stylesheet" href="./style.css" />

<div class="card-felt__author">
  <div class="card-felt__author-frame">
    <div class="card__author-img-frame">
      <img
        class="card__author-img"
        src="/src/main/resources/static/img/card/card-tree-author.png"
        alt="author-img"
      />
    </div>
    <div class="card__author-info">
      <p class="card__author-name" name="data-xxx">군만두</p>
      <p class="card__author-niciname" name="data-xxx">@HotDumpling</p>
      <div>
        <span class="card__author-tree-num">트리</span
        ><span class="card__author-tree-num" name="data-xxx">1,000</span>
      </div>
      <div>
        <span class="card__author-leaf-num">나뭇잎</span
        ><span class="card__author-leaf-num" name="data-xxx">1,000</span>
      </div>
    </div>
  </div>
</div>
