<link rel="stylesheet" href="./style.css"/>

<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<div class="card-book__info">
    <div class="card-book__info-frame">
        <div class="card-book__info-detail">
            <div>
                <img class="card-book__info-cover" src="/src/main/resources/static/img/card/card-book__info-cover.svg"
                     alt="cover">
            </div>
            <div class="card-book__info-text">
                <div>
                    <span class="card-book__info-category" id="data-xxx">도서</span>
                    <span class="card-book__info-category" id="data-xxx">문학</span>
                </div>
                <div class="card-book__info-tree-title" id="data-xxx">테크트리</div>
                <div class="card-book__info-book-title" id="data-xxx">트리갭의 샘물</div>
                <div class="card-book__info-publish-frame">
                    <span class="card-book__info-publish" id="data-xxx">2022</span>
                    <span class="card-book__info-publish">·</span>
                    <span class="card-book__info-publish" id="data-xxx">나탈리 배비트</span>
                    <span class="card-book__info-publish">·</span>
                    <span class="card-book__info-publish" id="data-xxx">오늘책</span>
                </div>
            </div>
            <div class="card-book__react-icons">
                <a class="card-book__react-icon" href="#">
                    <img
                            class="card-book__react-icon-img"
                            src="/src/main/resources/static/svg/comment.svg"
                            alt="comment_icon"
                    />
                </a>
                <div class="card-book__react-icon">
                    <img
                            class="card-book__react-icon-img"
                            src="/src/main/resources/static/svg/like.svg"
                            alt="like_icon"
                    />
                </div>
            </div>
        </div>

        <div class="card-book__meta-data">
        <div class="card-book__meta-update">
            <span class="card-book__meta-update-time" id="data-xxx">2024-07-13</span>
        </div>
            <div class="card-book__meta-views">
                <span>
            <span class="card-book__meta-view-num" id="data-xxx">999+</span>
            <span class="card-book__meta-view">나뭇잎</span>
          </span> <span>
            <span class="card-book__meta-view-num" id="data-xxx">999+</span>
            <span class="card-book__meta-view">조회수</span>
          </span>
            </div>
        </div>
    </div>
</div>