<link rel="stylesheet" href="./style.css" />

<div class="card-felt__cover">
  <div class="card-felt__cover-frame">
    <div class="card-felt__cover-img-frame">
      <img
        name="data-xxx"
        src="/src/main/resources/static/svg/card-felt__cover.svg"
        alt="cover_img"
      />
    </div>
    <div>
      <div>
        <span class="card-felt__cover-category" name="data-xxx">도서</span
        ><span class="card-felt__cover-category" name="data-xxx"
          >정치 비평</span
        >
      </div>
      <p class="card-felt_cover-title">그의 운명에 대한 아주 개인...</p>
      <div>
        <span class="card-felt__cover-create" name="data-xxx">유시민</span
        ><span class="card-felt__cover-create">·</span
        ><span class="card-felt__cover-create" name="data-xxx">생각의길</span>
      </div>
      <p class="card-felt__cover-update-time" name="data-xxx">1분전</p>
    </div>
  </div>
</div>
