<link rel="stylesheet" href="./style.css" />

<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<div class="cards-felt__logs">
  <ul class="cards-felt--log-list">
    <li>
      <a class="card-felt__book-details" href="#">
        <div>
          <img
            id="data-xxx"
            class="card-felt__book-cover"
            src="/src/main/resources/static/img/card/card-felt-log-bookcover.png"
            alt="표지"
          />
        </div>
        <div class="card-felt__book-info">
          <div class="card-felt__book-category">
            <p class="card-felt__book-category" id="data-xxx">도서</p>
            <p class="card-felt__book-category" id="data-xxx">자기 개발</p>
          </div>
          <p id="data-xxx" class="card-felt__book-content-title">
            우리가 운명이라고 불렀던 것들
          </p>
          <div class="card-felt__book-content-info">
            <p class="card-felt__book-content-info">
              <span class="card-felt__book-content-info" id="data-xxx"
                >2023</span
              ><span class="card-felt__book-content-info">·</span
              ><span class="card-felt__book-content-info" id="data-xxx"
                >슈페판 클라인</span
              ><span class="card-felt__book-content-info">·</span
              ><span class="card-felt__book-content-info" id="data-xxx"
                >포레스트북스</span
              >
            </p>
          </div>
        </div>
      </a>
      <div class="card-felt__bottom-frame">
        <div class="card-felt__tree-info">
          <p class="card-felt__tree-title" id="data-xxx">
            이것은 우연인가 운명인가
          </p>
          <p class="card-felt__tree-date" id="data-xxx">2024-07-14</p>
        </div>
        <div>
          <p class="card-felt__tree-description" id="data-xxx">
            그 모든 우연이 모여 오늘이 탄생했다.
          </p>
        </div>
        <div class="card-felt__react-tab">
          <div class="card-felt__react-icon">
            <a class="card-felt__react-icon" href="#">
              <img
                src="/src/main/resources/static/svg/comment.svg"
                alt="comment_icon"
              />
            </a>
            <div class="card-felt__react-icon">
              <img
                src="/src/main/resources/static/svg/like.svg"
                alt="like_icon"
              />
            </div>
          </div>
          <div class="card-felt__react-views">
            <p id="data-xxx">999+</p>
            <p class="card-felt__react-views-static">조회수</p>
          </div>
        </div>
      </div>
      <a class="card-felt__author-info" href="#">
        <div class="card-felt__author-img-frame">
          <img
            class="card-felt__author-img"
            id="data-xxx"
            src="/src/main/resources/static/img/card/card-tree-author.png"
            alt="author-img"
          />
        </div>
        <div class="card-felt__author-name">
          <p id="data-xxx">군만두</p>
        </div>
      </a>
    </li>
  </ul>
</div>
<!--  -->
<!--  -->

<div class="cards-felt--logs">
  <ul class="cards-felt--log-list">
    <li>
      <a class="card-felt__book-details" href="#">
        <div>
          <img
                  id="data-xxx"
                  class="card-felt__book-cover"
                  src="/src/main/resources/static/img/card/card-felt-log-bookcover.png"
                  alt="표지"
          />
        </div>
        <div class="card-felt__book-info">
          <div class="card-felt__book-category">
            <p class="card-felt__book-category" id="data-xxx">도서</p>
            <p class="card-felt__book-category" id="data-xxx">자기 개발</p>
          </div>
          <p id="data-xxx" class="card-felt__book-content-title">
            우리가 운명이라고 불렀던 것들
          </p>
          <div class="card-felt__book-content-info">
            <p class="card-felt__book-content-info">
              <span class="card-felt__book-content-info" id="data-xxx"
              >2023</span
              ><span class="card-felt__book-content-info">·</span
            ><span class="card-felt__book-content-info" id="data-xxx"
            >슈페판 클라인</span
            ><span class="card-felt__book-content-info">·</span
            ><span class="card-felt__book-content-info" id="data-xxx"
            >포레스트북스</span
            >
            </p>
          </div>
        </div>
        <div class="card-felt__book-badge-case">
          <img
                  class="card-felt__book-badge"
                  id="data-xxx"
                  src="/src/main/resources/static/svg/badge.svg"
                  alt="badge"
          />
        </div>
      </a>
      <div class="card-felt__bottom-frame">
        <div class="card-felt__memoir-info">
          <p class="card-felt__memoir-title" id="data-xxx">회고록 제목</p>
          <p class="card-felt__memoir-date" id="data-xxx">2024-07-14</p>
        </div>
        <div>
          <p class="card-felt__memoir-description" id="data-xxx">
            회고록 내용 회고록 내용 회고록 내용 회고록 내용
          </p>
        </div>
        <div class="card-felt__react-tab">
          <div class="card-felt__react-icon">
            <a class="card-felt__react-icon" href="#">
              <img
                      src="/src/main/resources/static/svg/comment.svg"
                      alt="comment_icon"
              />
            </a>
            <div class="card-felt__react-icon">
              <img
                      src="/src/main/resources/static/svg/like.svg"
                      alt="like_icon"
              />
            </div>
          </div>
          <div class="card-felt__react-views">
            <p id="data-xxx">999+</p>
            <p class="card-felt__react-views-static">조회수</p>
          </div>
        </div>
      </div>
      <a class="card-felt__author-info" href="#">
        <div class="card-felt__author-img-frame">
          <img
                  class="card-felt__author-img"
                  id="data-xxx"
                  src="/src/main/resources/static/img/card/card-tree-author.png"
                  alt="author-img"
          />
        </div>
        <div class="card-felt__author-name">
          <p id="data-xxx">군만두</p>
        </div>
      </a>
    </li>
  </ul>
</div>

<!--  -->
<!--  -->
<div class="cards-felt__logs">
  <ul class="cards-felt--log-list">
    <li>
      <a class="card-felt__book-details" href="#">
        <div>
          <img
                  id="data-xxx"
                  class="card-felt__book-cover"
                  src="/src/main/resources/static/img/card/card-felt-log-bookcover.png"
                  alt="표지"
          />
        </div>
        <div class="card-felt__book-info">
          <div class="card-felt__book-category">
            <p class="card-felt__book-category" id="data-xxx">도서</p>
            <p class="card-felt__book-category" id="data-xxx">정치 비평</p>
          </div>
          <p class="card-felt__tree-title--color-sub">운명이란 무엇인가?</p>
          <p class="card-felt__book-content-title--color-sub" id="data-xxx" >
            그의 운명에 대한 아주 개인적인 생각
          </p>
          <div class="card-felt__book-content-info">
            <p class="card-felt__book-content-info">
              <span class="card-felt__book-content-info" id="data-xxx"
              >2024</span
              ><span class="card-felt__book-content-info">·</span
            ><span class="card-felt__book-content-info" id="data-xxx"
            >유시민</span
            ><span class="card-felt__book-content-info">·</span
            ><span class="card-felt__book-content-info" id="data-xxx"
            >생각의길</span
            >
            </p>
          </div>
        </div>
      </a>
      <div class="card-felt__bottom-frame--margin">
        <div class="card-felt__leaf-info">
          <p class="card-felt__leaf-title" id="data-xxx">
            나뭇잎 제목 입니다.
          </p>
          <p class="card-felt__leaf-date" id="data-xxx">2024-07-14</p>
        </div>
        <div>
          <p class="card-felt__leaf-description" id="data-xxx">
            코딩 테스트 합격자 되기 자바스크립트 편의 영감 기록을 남기는 이유는 다음과 같습니다.
            영감 기록을 작성하면 책에서 배운 내용을 정리하고 이해도를 높일 수 있습니다.
          </p>
        </div>
        <div class="card-felt__react-tab">
          <div class="card-felt__react-icon">
            <a class="card-felt__react-icon" href="#">
              <img
                      src="/src/main/resources/static/svg/comment.svg"
                      alt="comment_icon"
              />
            </a>
            <div class="card-felt__react-icon">
              <img
                      src="/src/main/resources/static/svg/like.svg"
                      alt="like_icon"
              />
            </div>
          </div>
          <div class="card-felt__react-views">
            <p id="data-xxx">999+</p>
            <p class="card-felt__react-views-static">조회수</p>
          </div>
        </div>
      </div>
    </li>
  </ul>
</div>
