<link rel="stylesheet" href="./style.css" />

<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<ul>
  <li class="card-log__list">
    <div>
      <div class="card-log__author-img-frame">
        <img
          class="card-log__author-img"
          name="data-xxx"
          src="/src/main/resources/static/svg/card-commet-author.svg"
          alt="author-img"
        />
      </div>
    </div>
    <div class="card-log__info">
      <div class="card-log__create">
        <span class="card-log__create-info" name="data-xxx">@SeaDragon</span
        ><span class="card-log__create-info">·</span
        ><span class="card-log__create-info" name="data-xxx">3분전</span>
      </div>
      <div class="card-log__content-form">
        <input
          class="card-log__content-detail-show"
          type="checkbox"
          id="card-log__content-detail"
        />
        <label class="card-log__content-detail" for="card-log__content-detail"
          ></label
        >
        <div class="card-log__content">
          돈의 속성은 현대 사회에서 중요한 역할을 한다. 돈은 교환 수단이자 가치
          저장의 수단이며, 경제적 자유와 선택을 가능하게 한다. 그러나 돈의
          추구가 삶의 목적이 되어선 안 되며, 균형 있는 경제적 목표와 윤리적
          가치가 중요하다.
        </div>
      </div>
      <div class="card-log__like-info">
        <input class="card-log__like" type="checkbox" id="card-log__like" />
        <label class="card-log__like-frame" for="card-log__like"></label>
        <p class="card-log__like-num">26</p>
      </div>
    </div>
    <div class="card-log__detail-frame">
      <a href="#">
        <img
          src="/src/main/resources/static/svg/card-detail.svg"
          alt="detail"
        />
      </a>
    </div>
  </li>
</ul>
