@import url('../../../../static/common/reset.css');
@import url('../../../../static/common/variables.css');

a {
  text-decoration: none;
}
button {
  margin: 0;
  padding: 0;
  border: none;
}
ul,
li {
  list-style-type: none;
}
.cards-felt__logs {
  display: flex;
  flex-direction: column;
}
.cards-felt--log-list {
  display: flex;
  justify-content: center;
}
.card-felt--log-lists {
  display: flex;
  flex-direction: column;
}
.card-felt__book-details {
  display: flex;
  padding-bottom: 8px;
}
.card-felt__book-cover {
  height: 120px;
  border-radius: 5px;
  border: 1px solid var(--main1);
}
.card-felt__book-info {
  padding-left: 8px;
  height: 68;
  color: var(--text-sub);
}
.card-felt__book-bedge-case {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: right;
  align-items: center;
}
.card-felt__book-bedge {
  top: 10.5px;
  height: 19px;
}
.card-felt__book-category {
  display: flex;
  font-size: 10px;
  color: var(--text-sub);
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  padding-right: 4px;
}
.card-felt__book-content-title {
  font-size: 14px;
  color: var(--main);
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt__book-content-info {
  display: flex;
  font-size: 12px;
  color: var(--text-sub);
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  padding-right: 4px;
}
.card-felt__tree {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
.card-felt__tree-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}
.card-felt__tree-title {
  align-content: center;
  color: var(--text-main);
  font-size: 18px;
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt__tree-date {
  align-content: center;
  color: var(--text-sub);
  font-size: 14px;
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.card-felt__tree-description {
  color: var(--text-sub);
  font-size: 14px;
  font-weight: var(--reguler);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt__memoir {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
.card-felt__memoir-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}
.card-felt__memoir-title {
  align-content: center;
  color: var(--text-main);
  font-size: 18px;
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt__memoir-date {
  align-content: center;
  color: var(--text-sub);
  font-size: 14px;
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.card-felt__memoir-description {
  color: var(--text-sub);
  font-size: 14px;
  font-weight: var(--reguler);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt__react-tab {
  display: flex;
  justify-content: space-between;
}
.card-felt__comment-reacticon {
  display: flex;
  padding-bottom: 10px;
}
.card-felt__react-icon {
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-right: 8px;
  width: 21px;
  height: 21px;
  justify-items: center;
  align-items: center;
}
.card-felt__react-views {
  display: flex;
  font-size: 12px;
  color: var(--text-sub);
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  align-items: center;
}
.card-felt__react-views-static {
  padding-left: 5px;
  font-size: 8px;
  color: var(--text-sub);
  font-weight: var(--reguler);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt__author-info {
  display: flex;
  align-items: center;
  padding-top: 8px;
  margin-bottom: 16px;
}
.card-felt__author-img-frame {
  width: 24px;
  height: 24px;
  border-radius: 70%;
  overflow: hidden;
}

.card-felt__author-img {
  height: 24px;
  object-fit: cover;
}
.card-felt__author-name {
  padding-left: 10px;
  font-size: 14px;
  color: var(--text-sub);
  font-weight: var(--reguler);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.card-felt__book-title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--text-sub);
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt__book-contentinfo {
  display: flex;
  font-size: 12px;
  color: var(--text-sub);
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.card-felt__book-contentinfo > p {
  padding-right: 4px;
}

.card-felt__author {
  display: flex;
  justify-content: center;
  align-content: center;
}

.card-felt__author-frame {
  padding: 20px;
  display: flex;
  flex-direction: column;
  border-radius: 24px;
  background-color: var(--white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card__author-img-frame {
  display: flex;
  justify-content: center;
  text-align: center;
  width: 150px;
  height: 150px;
  border-radius: 70%;
  overflow: hidden;
}

.card__author-img {
  height: 150px;
  object-fit: cover;
}
.card__author-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
.card__author-name {
  padding-top: 26px;
  color: var(--main1);
  font-size: 14px;
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card__author-niciname {
  padding-bottom: 6px;
  color: var(--main1);
  font-size: 10px;
  font-weight: var(--reguler);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card__author-tree-num {
  padding-left: 2px;
  color: var(--main1);
  font-size: 14px;
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card__author-leaf-num {
  padding-left: 2px;
  color: var(--main1);
  font-size: 14px;
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt__cover {
  display: flex;
  justify-content: center;
  align-content: center;
}
.card-felt__cover-frame {
  width: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  padding-bottom: 8px;
}
.card-felt__cover-img-frame {
  height: 240px;
  padding-bottom: 8px;
}
.card-felt__cover-category {
  display: inline-block;
  padding-right: 4px;
  color: var(--text-sub);
  font-size: 10px;
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt_cover-title {
  color: var(--main1);
  font-size: 14px;
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-log__info {
  width: 133;
}
.card-felt__cover-create {
  padding-right: 4px;
  color: var(--text-sub);
  font-size: 14px;
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt__cover-update-time {
  color: var(--text-sub);
  font-size: 14px;
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-log__list {
  display: flex;
  justify-content: center;
  align-content: center;
}
.card-log__author-img-frame {
  display: flex;
  padding-right: 13px;
  justify-content: center;
  text-align: center;
  width: 24px;
  height: 24px;
  border-radius: 70%;
  overflow: hidden;
}

.card-log__author-img {
  object-fit: cover;
}
.card-log__create-info {
  padding-right: 2px;
  color: var(--text-sub);
  font-size: 12px;
  font-weight: var(--reguler);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-log__content-form {
  display: flex;
  flex-direction: column;
}
.card-log__content-detail-show {
  order: 2;
  display: none;
}
.card-log__content-detail {
  order: 3;
  color: var(--text-sub);
  font-size: 12px;
  font-weight: var(--semi-bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  height: 14px;
  cursor: pointer;
}
.card-log__content-detail-show:not(:checked) ~ .card-log__content {
  order: 1;
  padding-top: 4px;
  padding-bottom: 4px;
  color: var(--main1);
  font-size: 14px;
  font-weight: var(--semi-bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.card-log__content-detail-show:checked + .card-log__content-detail {
  display: none;
}
.card-log__content-detail-show:checked ~ .card-log__content {
  order: 1;
  padding-top: 4px;
  padding-bottom: 4px;
  color: var(--main1);
  font-size: 14px;
  font-weight: var(--semi-bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-log__like-info {
  padding-top: 14px;
  display: flex;
}
.card-log__like {
  display: none;
}
.card-log__like:disabled + .card-log__like-frame {
  background-image: url('/src/main/resources/static/svg/tumbsup-off.svg');
}
.card-log__like:checked + .card-log__like-frame {
  background-image: url('/src/main/resources/static/svg/tumbsup-on.svg');
}

.card-log__like-frame {
  padding-left: 23px;
  background-repeat: no-repeat;
  display: block;
  height: 14px;
  cursor: pointer;
  background-image: url('/src/main/resources/static/svg/tumbsup-off.svg');
}
.card-log__detail-frame {
  height: 24px;
  width: 24px;
  padding-left: 13px;
}
