@import url('../../../../static/common/reset.css');
@import url('../../../../static/common/variables.css');

a {
  text-decoration: none;
}
button {
  margin: 0;
  padding: 0;
  border: none;
}
.cards-felt--logs {
  display: flex;
  flex-direction: column;
}
.cards-felt--loglists {
  display: flex;
  justify-content: center;
}
.card-felt--log-lists {
  display: flex;
  flex-direction: column;
}
.card-felt--book__details {
  display: flex;
  padding-bottom: 8px;
}
.card-felt--book__cover {
  height: 120px;
  border-radius: 5px;
  border: 1px solid var(--main1);
}
.card-felt--book__info {
  padding-left: 8px;
  height: 68;
  color: var(--text-sub);
}
.card-felt__book-bedge-case {
  display: flex;
  width: 40px;
  height: 40px;
  justify-content: right;
  align-items: center;
}
.card-felt__book-bedge {
  top: 10.5px;
  height: 19px;
}
.card-felt--book__category {
  display: flex;
  font-size: 10px;
  color: var(--text-sub);
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  padding-right: 4px;
}
.card-felt--book__content-title {
  font-size: 14px;
  color: var(--main);
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt--book__content-info {
  display: flex;
  font-size: 12px;
  color: var(--text-sub);
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  padding-right: 4px;
}
.card-felt__tree {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
.card-felt__tree-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}
.card-felt__tree-title {
  align-content: center;
  color: var(--text-main);
  font-size: 18px;
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt__tree-date {
  align-content: center;
  color: var(--text-sub);
  font-size: 14px;
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.card-felt__tree-description {
  color: var(--text-sub);
  font-size: 14px;
  font-weight: var(--reguler);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt__memoir {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
.card-felt__memoir-info {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}
.card-felt__memoir-title {
  align-content: center;
  color: var(--text-main);
  font-size: 18px;
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt__memoir-date {
  align-content: center;
  color: var(--text-sub);
  font-size: 14px;
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.card-felt__memoir-description {
  color: var(--text-sub);
  font-size: 14px;
  font-weight: var(--reguler);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt__react-tab {
  display: flex;
  justify-content: space-between;
}
.card-felt__comment-reacticon {
  display: flex;
  padding-bottom: 10px;
}
.card-felt__react-icon {
  display: flex;
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding-right: 8px;
  width: 21px;
  height: 21px;
  justify-items: center;
  align-items: center;
}
.card-felt__react-views {
  display: flex;
  font-size: 12px;
  color: var(--text-sub);
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  align-items: center;
}
.card-felt__react-views-static {
  padding-left: 5px;
  font-size: 8px;
  color: var(--text-sub);
  font-weight: var(--reguler);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt__author-info {
  display: flex;
  align-items: center;
  padding-top: 8px;
  margin-bottom: 16px;
}
.card-felt__author-img-frame {
  width: 24px;
  height: 24px;
  border-radius: 70%;
  overflow: hidden;
}

.card-felt__author-img {
  height: 24px;
  object-fit: cover;
}
.card-felt__author-name {
  padding-left: 10px;
  font-size: 14px;
  color: var(--text-sub);
  font-weight: var(--reguler);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.card-felt--book__title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--text-sub);
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-felt--book__contentinfo {
  display: flex;
  font-size: 12px;
  color: var(--text-sub);
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.card-felt--book__contentinfo > p {
  padding-right: 4px;
}
