@import url('../../../../static/common/reset.css');
@import url('../../../../static/common/variables.css');

a {
  text-decoration: none;
}
button {
  margin: 0;
  padding: 0;
  border: none;
}
.cards-felt-logs {
  display: flex;
  flex-direction: column;
}
.cards-felt-logs-lists {
  display: flex;
  justify-content: center;
}
.card-felt-loglist {
  display: flex;
  flex-direction: column;
}
.card-tree-list {
  display: flex;
  padding-bottom: 8px;
}
.card-tree-cover > img {
  height: 120px;
  border-radius: 5px;
  padding-right: 8px;
  filter: drop-shadow(1px 1px 1px rgba(0, 0, 0, 1));
}
.card-tree-info {
  height: 68;
  color: var(--text-sub);
}
.card-tree-category {
  display: flex;
  font-size: 10px;
  color: var(--text-sub);
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-tree-category > p {
  padding-right: 4px;
}
.card-tree-treetitle {
  font-size: 14px;
  color: var(--main);
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-tree-contenttitle {
  margin: 0;
  padding: 0;
  font-size: 12px;
  color: var(--text-sub);
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-tree-contentinfo {
  display: flex;
  font-size: 12px;
  color: var(--text-sub);
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.card-tree-contentinfo > p {
  padding-right: 4px;
}
.card-tree-comment {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}
.card-tree-comment-title {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4px;
}
.card-tree-comment-title > p {
  align-content: center;
  color: var(--text-main);
  font-size: 18px;
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-tree-comment-title > p + p {
  align-content: center;
  color: var(--text-sub);
  font-size: 14px;
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.card-tree-comment-input > label {
  width: 100%;
}

.card-tree-comment-input > label > input {
  width: 100%;
  border: none;
  color: var(--text-sub);
  font-size: 14px;
  font-weight: var(--reguler);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-tree-comment-reacttab {
  display: flex;
  justify-content: space-between;
}
.card-tree-comment-reacticon {
  display: flex;
  padding-bottom: 10px;
}
.card-tree-comment-reacticon > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px;
  width: 21px;
  height: 21px;
  justify-items: center;
  align-items: center;
}
.card-tree-comment-reactviews {
  display: flex;
  font-size: 12px;
  color: var(--text-sub);
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  align-items: center;
}
.card-tree-comment-reactviews > p + p {
  padding-left: 5px;
  font-size: 8px;
  color: var(--text-sub);
  font-weight: var(--reguler);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-tree-author-info {
  display: flex;
  align-items: center;
  padding-top: 8px;
  margin-bottom: 16px;
}
.card-tree-author-img {
  width: 24px;
  height: 24px;
  border-radius: 70%;
  overflow: hidden;
}

.card-tree-author-img > img {
  height: 24px;
  object-fit: cover;
}
.card-tree-author-name {
  padding-left: 10px;
  font-size: 14px;
  color: var(--text-sub);
  font-weight: var(--reguler);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.card-book-title {
  margin: 0;
  padding: 0;
  font-size: 14px;
  color: var(--text-sub);
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-book-contentinfo {
  display: flex;
  font-size: 12px;
  color: var(--text-sub);
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.card-book-contentinfo > p {
  padding-right: 4px;
}
.card-commentary {
  display: flex;
  flex-direction: column;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
}

.card-commentary-title {
  display: flex;
  padding-bottom: 4px;
  justify-content: space-between;
}
.card-commentary-title > p {
  align-content: center;
  color: var(--text-main);
  font-size: 18px;
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-commentary-title > p + p {
  align-content: center;
  color: var(--text-sub);
  font-size: 14px;
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.card-commentary-input > label {
  width: 100%;
}

.card-commentary-input > label > input {
  width: 100%;
  border: none;
  color: var(--text-sub);
  font-size: 14px;
  font-weight: var(--reguler);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-commentary-reacttab {
  display: flex;
  justify-content: space-between;
}
.card-commentary-reacticon {
  display: flex;
  padding-bottom: 10px;
}
.card-commentary-reacticon > button {
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin-right: 8px;
  width: 21px;
  height: 21px;
  justify-items: center;
  align-items: center;
}
.card-commentary-reactviews {
  display: flex;
  font-size: 12px;
  color: var(--text-sub);
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  align-items: center;
}
.card-commentary-reactviews > p + p {
  padding-left: 5px;
  font-size: 8px;
  color: var(--text-sub);
  font-weight: var(--reguler);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
