<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="textbox.css" rel="stylesheet" />
  </head>

  <!-- no-tree -->
  <div class="textbox-no-tree">
    <p class="textbox-no-tree__text-top">현재 기록중인 트리가 없습니다</p>
    <p class="textbox-no-tree__text-bottom">트리를 검색해주세요</p>
  </div>

  <!-- no-seed -->
  <div class="textbox-no-tree" th:fragment="textbox-no-seed">
    <p class="textbox-no-tree__text-top">트리를 생성하기 위한</p>
    <p class="textbox-no-tree__text-bottom">씨앗을 선택해주세요</p>
  </div>

  <!-- recent-tree-info -->
  <div class="textbox-recent-tree-info">
    <a href="#" class="textbox-recent-tree-info__a">
      <h2 class="textbox-recent-tree-info__tree-title">나의 첫번째 트리</h2>
      <div class="textbox-recent-tree-info__tag tag">시/에세이</div>
      <p class="textbox-recent-tree-info__book-title">무정형의 삶</p>
      <div class="textbox-recent-tree-info__items">
        <p class="textbox-recent-tree-info__author">
          김민철<span>&nbsp;·&nbsp;</span>
        </p>
        <p class="textbox-recent-tree-info__publisher">위즈덤 하우스</p>
      </div>
      <p class="textbox-recent-tree-info__date">2024.07.15</p>
    </a>
  </div>

  <!-- tree-ex -->
  <div class="textbox-recent-tree-ex">
    <h2 class="textbox-recent-tree-ex__h2">트리 설명</h2>
    <p class="textbox-recent-tree-ex__p">
      코딩 테스트 합격자 되기 자바스크립트 편의 영감 기록을 남기는 이유는 다음과
      같습니다. 영감 기록을 작성하면 책에서 배운 내용을 정리하고 이해도를 높일
      수 있습니다.
    </p>
  </div>

  <!-- tree-count-->
  <div class="textbox-tree-count">
    <h2 class="textbox-tree-count__h2">트리 목록</h2>
    <p class="textbox-tree-count__p">
      <span class="textbox-tree-count__num">14</span>그루
    </p>
  </div>

  <!-- book-info -->
  <div class="textbox-book-info">
    <div class="tag">시/에세이</div>
    <p class="textbox-book-info__book-title">무정형의 삶</p>
    <div class="textbox-book-info__items">
      <p class="textbox-book-info__author">김민철<span>&nbsp;·&nbsp;</span></p>
      <p class="textbox-book-info__publisher">위즈덤 하우스</p>
    </div>
  </div>
</html>
