<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/fragments.css}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet" />
    <title>Document</title>
</head>
<body>
    <header >
        <h1 class="none">트리 브랜치 세부 정보</h1>
        <section class="back-search-bar__container">
        <!-- 컴포넌트 -->
            <div th:replace="~{fragments/input :: input-back-search(placeholder='그의 운명에 대한 아주 개인적인 생각',
                                href='#')}">
            </div>
        </section>
    </header>

    <main>
        <section class="branch-tree-info__container">
            <h2 class="none">트리 세부 정보</h2>
            <!-- 컴포넌트 -->
            <div th:replace="~{fragments/card :: card-tree-info-cover(src='/svg/card-tree-cover.svg',treetitle='자바 공부를 위한 트리',booktitle='혼자 공부하는 자바')}">
            </div>
        </section>
        <section class="branch-tree-detail-container">
            <h2 class="none">트리 상세 설명 </h2>
            <div th:replace="~{fragments/card ::
            card-hidden-info(hiddentext='자세히',
            authors='김민철',translators='ㅈㅈㅈㅈ',publisher='위즈덤 하우스', page='400',seed='도서 카테고리',
            treedescription='코딩 테스트 합격자 되기 자바스크립트 편의 영감 기록을 남기는 이유는 다음과 같습니다. 영감 기록을 작성하면 책에서 배운 내용을 정리하고 이해도를 높일 수 있습니다.',
            progress='80',readpage='320',fullpage='400',
            leaf='99',like='99',view='99')}"></div>
        </section>
        <section class="branch-list__container">
            <h2 th:replace="~{fragments/text :: text-main-title(title='브랜치 목록', size=24)}"></h2>
            <!-- 컴포넌트 -->
            <section class="branch-filter-container">
                <h3 class="none">브랜치 필터</h3>
                <!-- 컴포넌트 -->
                <div th:replace="~{fragments/filter :: filter-seed-text-btns(bookmark='책갈피',seed1='씨앗',seed2='씨앗')}"></div>
            </section>

            <section class="branch-filter-search__container">
                <h3 class="none">브랜치 검색 결과</h3>
                <!-- 컴포넌트 -->
                <div th:replace="~{fragments/bar :: bar-search-result(result='10')}"></div>
            </section>
            <section class="branch-filter-result-list__container">
                <h3 class="none">브랜치 리스트</h3>
                <!-- 컴포넌트 -->
                <div th:replace="~{fragments/card :: card-branch__list(${lists})}"></div>
            </section>
        </section>
    </main>

    <section class="nav-back-container">
        <h2 class="none">네비바 뒤 공백</h2>
    </section>
    <aside>
        <section class="nav-container">
          <h2 class="none">네비게이션</h2>
          <!-- 트리 생성 언더바  -->
            <div th:replace="~{fragments/nav :: navigation-bar(active='home')}"></div>
        </section>
    </aside>

</body>
</html>