<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Recorders.ggogit.domain.memoir.repository.MemoirRepository">
    <insert id="save" parameterType="Memoir"
            useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        INSERT INTO MEMOIR(TREE_ID, TITLE, TEXT, VISIBILITY)
        VALUES(#{treeId}, #{title}, #{text}, #{visibility})
    </insert>
    <select id="findById" resultType="Memoir">
        SELECT *
        FROM MEMOIR
        WHERE ID = #{id}
    </select>
    <delete id="delete">
        DELETE MEMOIR
        WHERE ID = #{id}
    </delete>
    <update id="update" parameterType="Memoir" keyProperty="id" keyColumn="ID">
        UPDATE MEMOIR
        SET TITLE = #{title}, TEXT = #{text}, VISIBILITY = #{visibility}
        WHERE ID = #{id}
    </update>
    <select id="findAll" resultType="Memoir">
        SELECT *
        FROM MEMOIR
    </select>
    <select id="findByTreeId" resultType="Memoir">
        SELECT *
        FROM MEMOIR
        WHERE TREE_ID = #{treeId}
    </select>
    <select id="findByTitle" resultType="Memoir">
        SELECT *
        FROM MEMOIR
        WHERE TITLE LIKE '%${title}%'
    </select>

    <select id="findCntById" resultType="MemoirCommentLikeView" parameterType="MemoirCommentLikeView">
        SELECT NVR(*,0)
        FROM MEMOIR_CL_CNT
        WHERE ID = #{id}
    </select>


</mapper>