<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../css/reset.css">
    <link rel="stylesheet" href="../css/styles.css">

    <title>Document</title>
</head>
<body>

    <!-- 컴포넌트 시작: 트리 없음 도서 이미지 -->
    <div class="no-tree-book-bg">
        <ul class="no-tree-book-bg__list">
            <li class="no-tree-book-bg__item">
              <img class="no-tree-book-bg__img" src="../img/no-tree-left-book.png" alt="도서 예시 이미지" />
            </li>
            <li class="no-tree-book-bg__item">
              <img class="no-tree-book-bg__img" src="../img/no-tree-mid-book.png" alt="도서 예시 이미지" />
            </li>
            <li class="no-tree-book-bg__item">
              <img class="no-tree-book-bg__img" src="../img/no-tree-right-book.png" alt="도서 예시 이미지" />
            </li>
        </ul>
    </div>
    <!-- 컴포넌트 끝-->

    <!-- 컴포넌트 시작: 트리 도서 이미지 -->
    <div class="tree-book-bg">
        <ul class="tree-book-bg__list">
            <li class="tree-book-bg__item">
                <img class="tree-book-bg__img" src="../img/home-book.png" alt="도서 예시 이미지" />
            </li>
            <a href="#">
                <li class="tree-book-bg__item mid__item">
                    <img class="tree-book-bg__img mid__img" src="../img/home-book.png" alt="도서 예시 이미지" />
                </li>
            </a>
            <li class="tree-book-bg__item">
                <img class="tree-book-bg__img" src="../img/home-book.png" alt="도서 예시 이미지" />
            </li>
        </ul>
    </div>
    <!-- 컴포넌트 끝-->
     
    <!-- 컴포넌트 시작: 필터 Blur -->
    <!-- <div class="blur-box"></div> -->
    <!-- 컴포넌트 끝-->

    <!-- 컴포넌트 시작: 도서 디테일 배경 -->
    <div class="book-bg">
        <img class="book-bg__img" src="../img/bg-book.png" alt="">
    </div>
    <!-- 컴포넌트 끝-->

</body>
</html>