<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="./styles.css" />
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/reset.css" />

    <title>Document</title>
  </head>
  <body>
    <!-- 컴포넌트 시작: 트리 없음 도서 이미지 -->
    <div class="no-tree-book-bg">
      <ul class="no-tree-book-bg__list">
        <li class="no-tree-book-bg__item">
          <img
            class="no-tree-book-bg__img"
            src="../../../static/img/home/no-tree-left-book.png"
            alt="도서 예시 이미지"
          />
        </li>
        <li class="no-tree-book-bg__item">
          <img
            class="no-tree-book-bg__img"
            src="../../../static/img/home/no-tree-mid-book.png"
            alt="도서 예시 이미지"
          />
        </li>
        <li class="no-tree-book-bg__item">
          <img
            class="no-tree-book-bg__img"
            src="../../../static/img/home/no-tree-right-book.png"
            alt="도서 예시 이미지"
          />
        </li>
      </ul>
    </div>
    <!-- 컴포넌트 끝-->

    <!-- 컴포넌트 시작: 트리 도서 이미지 -->
    <div class="tree-book-bg">
      <ul class="tree-book-bg__list">
        <li class="tree-book-bg__item">
          <img
            class="tree-book-bg__img"
            src="../../../static/img/home/home-left-book.png"
            alt="도서 예시 이미지"
          />
        </li>
        <a href="#">
          <li class="tree-book-bg__item mid__item">
            <img
              class="tree-book-bg__img mid__img"
              src="../../../static/img/home/home-mid-book.png"
              alt="도서 예시 이미지"
            />
          </li>
        </a>
        <li class="tree-book-bg__item">
          <img
            class="tree-book-bg__img"
            src="../../../static/img/home/home-right-book.png"
            alt="도서 예시 이미지"
          />
        </li>
      </ul>
    </div>
    <!-- 컴포넌트 끝-->

    <!-- 컴포넌트 시작: 필터 Blur -->
    <!-- <div class="blur-box"></div> -->
    <!-- 컴포넌트 끝-->

    <!-- 컴포넌트 시작: 도서 디테일 배경 -->
    <div class="book-bg">
      <img class="book-bg__img" src="../../../static/img/home/bg-book.png" alt="" />
    </div>
    <!-- 컴포넌트 끝-->

  <!-- 컴포넌트 시작: 배경 반반(흰/초), 도서 중앙 1개-->
  <div class="text-book-info-frame">
    <div class="text-book-info-book-img">
      <a class="text-book-info-book-img-anker" href="#">
      <img src="../../../static/img/home/home-mid-book.png" alt="표지">
      <p class="text-book-info-book-img-p">자세히 보기</p>
      </a>
    </div>
    <div class="text-book-info-frame">
      <div class="text-book-info-empty-space"></div>
      <div class="text-book-info__category">
        <p class="text-book-info__seed">시/에세이</p>
      </div>
      <div class="text-book-info__category">
      <p class="text-book-info__title">무정형의 삶</p>
    </div>
      <div class="text-book-info__create">
        <span class="text-book-info-create-info">김민철</span>
        <span class="text-book-info-create-info">·</span>
        <span class="text-book-info-create-info">위즈덤하우스</span></div>
    </div>

  </div>
    <!-- 컴포넌트 끝-->
  </body>
</html>
