<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/reset.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="none">회고록 생성</h1>
        <!-- 컴포넌트 -->
    </header>
    <main>
        <section>
            <h2 class="none">도서 정보</h2>
            <!-- 트리 생성 언더바  -->

            <section>
                <h3 class="none">도서 이미지</h3>
                <!-- 트리 생성 언더바  -->
            </section>

            <section>
                <h3 class="none">간단한 도서 정보</h3>
                <!-- 트리 생성 언더바  -->
            </section>
        </section>

        <section>
            <h2 class="none">회고록 기록</h2>
            <!-- 트리 생성 언더바  -->

            <section>
                <h3 class="none">회고록 제목</h3>
                <!-- 트리 생성 언더바  -->
            </section>

            <section>
                <h3 class="none">회고록 내용</h3>
                <!-- 트리 생성 언더바  -->
            </section>

            <section>
                <h3 class="none">공개성</h3>
                <!-- 트리 생성 언더바  -->
            </section>

            <section>
                <h3 class="none">회고록 생성 버튼</h3>
                <!-- 트리 생성 언더바  -->
            </section>
            
        </section>
    </main>
    <footer></footer>
</body>
</html>