@import url("reset.css");
@import url("text.css");
@import url("effect.css");

:root {
  /* Color styles */

  /* Background Colors */
  --white: #ffffff;
  --gray: #d9d9d9;
  --main1: #323a27;
  --main1--opacity10: #323a271a;
  --main2: #e5eddb;
  --main2--opacity40: #E5EDDB66;
  --main3: #f5f8f1;

  --filter-unchecked: #f2f2f2;
  --filter-checked: #323a27;
  --btn-no-active: #f5f5f5;
  --btn-active: #323a27;
  --warning: #ba0c0c;
  --bg: #e5eddb;
  --bg-blur: #666666;

  /* Log */
  --branch-left: #D6D8D4;

  /* Colors */
  --text-main: #323a27;
  --text-sub: #767676;
  --text-no-active: #b2b2b2;
  --text-icon: #ffffff;

  /* Text-weight styles */
  --extra-bold: 800;
  --bold: 700;
  --semi-bold: 600;
  --medium: 500;
  --regular: 400;
  --light: 300;
  --thin: 100;

  /* Text-others */
  --line-height-main: 140%;
  --line-height-sub: 120%;

  --letter-spacing-main: -2.5%;
  --letter-spacing-sub: -2.5%;

  --margin-left-main: 24px;
  --margin-right-main: 24px;

  /* shadows */
  --shadow-basic: 0 4px 16px rgba(0, 0, 0, 0.25);
  --shadow-active: 0 2px 4px rgba(0, 0, 0, 0.25);
}
