<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Recorders.ggogit.domain.leaf.repository.LeafTagRepository">

    <insert id="save" parameterType="LeafTag"
            useGeneratedKeys="true" keyProperty="id,updateTime,createTime" keyColumn="ID,UPDATE_TIME,CREATE_TIME">
        INSERT INTO LEAF_TAG (MEMBER_ID , NAME)
        VALUES (#{memberId}, #{name})
    </insert>

    <select id="findAll" resultType="LeafTag">
        SELECT * FROM (
            SELECT t.*, ROWNUM AS RNUM FROM (
                SELECT *
                FROM LEAF_TAG
                <where>
                    <if test="memberId != null">
                        MEMBER_ID = #{memberId}
                    </if>
                    <if test="name != null">
                        AND NAME LIKE '%${name}%'
                    </if>
                </where>
                ORDER BY ID DESC
            ) t
            WHERE ROWNUM &lt;= #{limit}
        )
        WHERE RNUM &gt; #{offset}
    </select>

    <select id="count" resultType="Long">
        SELECT COUNT(*)
        FROM LEAF_TAG
        <where>
            <if test="memberId != null">
                MEMBER_ID = #{memberId}
            </if>
            <if test="name != null">
                AND NAME LIKE '%${name}%'
            </if>
        </where>
    </select>

    <select id="findById" parameterType="Long" resultType="LeafTag">
        SELECT *
        FROM LEAF_TAG
        WHERE ID = #{id}
    </select>

    <select id="existsById" parameterType="Long" resultType="Boolean">
        SELECT COUNT(LEAF_ID) > 0
        FROM LEAF_BOOK
        WHERE LEAF_ID = #{leafId}
    </select>

    <select id="existsByMemberIdAndName" parameterType="LeafTag" resultType="Long">
        SELECT CASE
            WHEN COUNT(ID) > 0 THEN 1
            ELSE 0
        END AS row_exists
        FROM LEAF_TAG
        WHERE MEMBER_ID = #{memberId}
              AND NAME = #{name}
    </select>
    
    <update id="update" parameterType="LeafTag">
        UPDATE LEAF_TAG
        SET NAME = #{name}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="LeafTag">
        DELETE
        FROM LEAF_TAG
        WHERE ID = #{id}
    </delete>

    <delete id="deleteById" parameterType="Long">
        DELETE
        FROM LEAF_TAG
        WHERE ID = #{id}
    </delete>

</mapper>