<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Recorders.ggogit.domain.leaf.repository.LeafTagRepository">

    <insert id="save" parameterType="LeafTag"
            useGeneratedKeys="true" keyProperty="id" keyColumn="ID">
        INSERT INTO LEAF_TAG (MEMBER_ID , NAME)
        VALUES (#{memberId}, #{name})
    </insert>

    <select id="findAll" resultType="LeafTag">
        SELECT *
        FROM LEAF_TAG
    </select>

    <select id="findById" parameterType="Long" resultType="LeafTag">
        SELECT *
        FROM LEAF_TAG
        WHERE ID = #{id}
    </select>

    <update id="update" parameterType="LeafTag">
        UPDATE LEAF_TAG
        SET NAME = #{name}
        WHERE ID = #{id}
    </update>

</mapper>