<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="footer.css" />
    <title>footer</title>
  </head>
  <!-- ===========================
                footer
      ============================  -->
  <footer class="tree-footer">
    <header class="tree-footer-header">
      <h1 class="tree-footer-header__title">공지사항</h1>
      <p class="tree-footer-header__added">서비스 개발 진행중</p>
    </header>
    <div class="tree-footer__membership">
      <a href="#" class="membership-login">로그인</a>
      <a href="#" class="membership-join">회원가입</a>
      <a href="#" class="membership-asking">문의하기</a>
    </div>
    <div class="tree-footer__app">
      <a href="#" class="app-info">이용약관</a>
      <span class="app-sep">|</span>
      <a href="#" class="app-membership-policy">개인정보처리방침</a>
    </div>
    <div class="tree-footer__logo">
      <img
        src="/src/main/resources/static/img/logo/logo-sample.png"
        width="80"
        height="80"
        alt="app-logo"
      />
    </div>
  </footer>
</html>
