<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments.css}" />

    <title>home</title>
  </head>
  <body>
    <header>
      <h1 class="none">나의 트리</h1>
      <section class="header-search-container">
        <h2 class="none">나의 트리 검색 링크</h2>
        <div th:replace="~{fragments/header :: header-search-link}"></div>
      </section>
    </header>

    <main>
      <section class="my-tree-container">
        <h2 class="none">나의 트리 정보</h2>
        <section class="my-tree-title-container">
          <h3
            th:replace="~{fragments/text :: text-main-title('나의 트리', 28)}"
          ></h3>
        </section>

        <section class="book-tree-info-container">
          <h3 class="none">최근 트리 이미지 캐러셀</h3>
          <section class="book-img-container">
            <div
              th:replace="~{fragments/background :: bg-tree-book-covers(trees=${treeInfoList})}"
            ></div>
          </section>

          <section class="book-tree-explanation-container">
            <h3 class="none">트리 설명</h3>
            <ul class="book-tree-explanation-list">
              <li
                class="book-tree-explanation-item none"
                th:each="tree: ${treeInfoList}"
                th:with="exIdx=${treeStat.index}"
                th:classappend="${exIdx}"
              >
                <div
                  th:replace="~{fragments/text::recent-tree-ex(text=${tree.description})}"
                ></div>
                <section
                  class="card-progress-home-container"
                  th:with="readingPage=${tree.readingPage}, totalPage=${tree.bookTotalPage}, progress=${T(java.lang.String).format('%.1f',(readingPage*100.0)/totalPage)},
            leaf=${tree.treeLeafCnt}, like=${tree.treeLikeCnt}, view=${tree.treeViewCnt}"
                >
                  <h4 class="none">트리 진행률</h4>
                  <div
                    th:replace="~{fragments/card::card-progress-bar(${progress}, ${readingPage}, ${totalPage})}"
                  ></div>
                  <div
                    th:replace="~{fragments/card::card-react-numbers(${leaf},${like},${view})}"
                  ></div>
                </section>
              </li>
            </ul>
          </section>
        </section>
      </section>

      <section class="my-tree-list" th:object="${treeList}">
        <h2 class="none">나의 트리 목록</h2>
        <div th:replace="~{fragments/text::tree-count(*{size})}"></div>
        <section>
          <h2 class="none">트리 정렬 필터 버튼</h2>
          <div th:replace="~{fragments/filter::filter-tree-list}"></div>
        </section>
      </section>

      <section>
        <h2 class="none">트리 검색 결과</h2>
        <section class="tree-card-list">
          <h3 class="none">트리 검색 리스트</h3>
          <div th:each="tree : *{treeList}">
            <div
              th:replace="~{fragments/card::card-tree-details(tree = ${tree})}"
            ></div>
          </div>
        </section>
        <section>
          <h3 class="none">검색 결과 없음</h3>
          <div
            class="margin-bottom500"
            th:if="*{size} eq 0"
            th:insert="~{fragments/text::text-info(text = '트리가 없습니다.', boldText='트리를 생성해 주세요' )}"
          ></div>
        </section>
      </section>
    </main>

    <footer>
      <div th:replace="~{fragments/footer::footer('개발 중입니다~')}"></div>
    </footer>

    <section class="nav-back-container">
      <h3 class="none">네비 바 뒤 공백</h3>
    </section>

    <aside class="nav-container">
      <section class="short-btn-container">
        <h4 class="none">트리 생성 버튼</h4>
        <div
          th:replace="~{fragments/button::btn-short-a--green(href= '/seed/index', text='트리 생성')}"
        ></div>
      </section>
      <div th:replace="~{fragments/nav :: navigation-bar(home)}"></div>
    </aside>
  </body>
  <script th:src="@{/js/home-tree-index-carousel.js}" type="module"></script>
  <script th:src="@{/js/home-tree-explanation.js}" type="module"></script>
</html>
