<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />

    <link rel="stylesheet" href="../../../static/css/reset.css" />
    <link rel="stylesheet" href="../../../static/css/styles.css" />

    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 class="none">나의 트리 홈</h1>
      <section class="search">
        <h2 class="none">나의 트리 검색</h2>
        <a href="#">
          <div class="search__input">
            <p class="search__placeholder">나의 트리 검색</p>
            <img src="../../../static/svg/lens.svg" alt="lens.svg" />
          </div>
        </a>
      </section>
    </header>

    <main>
      <section class="tree-list">
        <h2 class="none">나의 최근 검색 정보</h2>
        <section class="tree-list__title">
          <h3 class="tree-list__h">나의 최근 트리</h3>
        </section>

        <section class="book-img">
          <h3 class="none">트리 이미지</h3>
          <ul class="book-img__list">
            <a href="">
              <li>
                <img src="../../../static/img/home/home-left-book.png" alt="" />
              </li>
            </a>
            <a href="">
              <li>
                <img src="../../../static/img/home/home-mid-book.png" alt="" />
              </li>
            </a>
            <a href="">
              <li>
                <img
                  src="../../../static/img/home/home-right-book.png"
                  alt=""
                />
              </li>
            </a>
          </ul>
        </section>

        <section class="book-info-container">
          <h3 class="none">트리 정보</h3>
          <div class="book-info-container__book-category">
            <p class="book-info-container__category">시/에세이</p>
          </div>
          <p class="book-info-container__tree-name">나의 첫번째 트리</p>
          <p class="book-info-container__book-name">무정형의 삶</p>
          <p class="book-info-container__book-maker-box">
            <span class="book-info-container__author">김민철</span>
            ·
            <span class="book-info-container__publisher">위즈덤하우스</span>
          </p>
          <p class="book-info-container__year">2024.07.15</p>
        </section>
      </section>
    </main>
  </body>
</html>
