<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="stylesheet" th:href="@{/css/layout.css}" />
    <link rel="stylesheet" th:href="@{/css/fragments.css}" />

    <title>home</title>
  </head>
  <body>
    <header>
      <h1 class="none">나의 트리</h1>
      <section class="header-search-container">
        <h2 class="none">나의 트리 검색 링크</h2>
        <div th:replace="~{fragments/header :: header-search-link}"></div>
      </section>
    </header>

    <main>
      <section class="my-tree-container">
        <h2 class="none">나의 트리 정보</h2>
        <section class="my-tree-title-container">
          <h3
            th:replace="fragments/text :: text-main-title('나의 트리', 28)"
          ></h3>
        </section>

        <section class="book-tree-info-container">
          <section class="book-img-container">
            <h3 class="none">트리 이미지</h3>
            <div
              th:replace="~{fragments/background :: bg-tree-book-covers(trees=${treeList})}"
            ></div>
          </section>

          <section class="tree-info-container">
            <h4 class="none">트리 정보</h4>
            <!-- 컴포넌트 start -->

            <section class="text-info-container">
              <h5 class="none">도서 정보</h5>
              <!-- 컴포넌트 start -->

              <!-- 컴포넌트 end -->
            </section>

            <!-- 컴포넌트 end -->
          </section>
        </section>
      </section>
    </main>
  </body>
  <script th: src = "@{/js/home-tree-index-carousel.js}">
  </script>
</html>
