<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />

  <link th:href="@{/css/reset.css}" rel="stylesheet" />
  <link th:href="@{/css/styles.css}" rel="stylesheet" />

  <title>나의 트리</title>
</head>
<body>

  <header>
    <h1 class="none">나의 트리</h1>
    <section class="header-search-container">
      <h1 class="none">나의 트리 검색 링크</h1>
      <div th:replace="fragments/header :: header-search-link"></div>
    </section>
  </header>

  <main>
    <section class="my-tree-container">
      <h1 class="none">나의 트리 정보</h1>

      <section class="my-tree-title-container">
        <h1 th:replace="fragments/text :: text-main-title('나의 트리')"></h1>
      </section>

      <section class="book-img-container">
        <h1 class="none">트리 이미지</h1>
        <div th:replace="fragments/background :: no-tree-bg-book"></div>
      </section>

      <section class="text-info-container">
        <h1 class="none">트리 생성 안내</h1>
        <div th:replace="fragments/text :: text-info(text='현재 기록중인 트리가 없습니다', boldText='트리를 생성해 주세요')"></div>
      </section>

    </section>

    <section class="btn-full-width-link-container">
      <h1 class="none">트리 생성 버튼</h1>
      <div th:replace="fragments/button-link :: full-width(link='#', text='트리 생성')"></div>
    </section>
  </main>

  <aside class="nav-container">
    <h1 class="none">네비게이션 하단</h1>
    <nav th:replace="fragments/nav :: navigation-bar(active='home')"></nav>
  </aside>

</body>
</html>