<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="top-bar.css">
</head>
<body>
    <div class="top-bar">        
        <p class="top-bar__title">트리 생성</p>        
        <div><img src="svgs/icon.svg" /></div>
    </div>           

    <div class="top-bar">        
        <p class="top-bar__title">트리 생성</p>               
            <div><img src="svgs/icon.svg" /></div>
            <p class="top-bar__text">초기화</p>        
    </div>           

    <div class="top-bar">        
        <p class="top-bar__title">트리 생성</p>      
            <div><img src="svgs/icon.svg" /></div>
            <p class="top-bar__text">완료</p>
    </div>                
</div>           
</body>
</html>