<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- START: 나의 트리 트리 없음 도서 배경-->
    <div class="no-tree-bg-book" th:fragment="no-tree-bg-book">
        <ul class="no-tree-bg-book__list">
            <li class="no-tree-bg-book__item">
                <img  class="no-tree-bg-book__image" th:src="@{/img/home/no-tree-left-book.png}" alt="트리 없음 왼쪽 이미지" />
            </li>
            <li class="no-tree-bg-book__item">
                <img class="no-tree-bg-book__image" th:src="@{/img/home/no-tree-mid-book.png}" alt="트리 없음 중앙 이미지" />
            </li>
            <li class="no-tree-bg-book__item">
                <img  class="no-tree-bg-book__image" th:src="@{/img/home/no-tree-right-book.png}"  alt="트리 없음 오른쪽 이미지" />
            </li>
        </ul>
    </div>
<!-- END: 나의 트리 트리 없음 도서 배경-->

</body>
</html>
