<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>

<!-- ==========================================
     FRAGMENT: 3개의 임시 도서 이미지
     설명: 나의 트리 홈 - 트리 없는 경우 배경 3개의 초록생 도서 이미지
     ========================================== -->
<div class="bg-no-tree-book" th:fragment="bg-no-tree-book">
    <ul class="bg-no-tree-book__list">
        <li class="bg-no-tree-book__item">
            <img  class="bg-no-tree-book__image" th:src="@{/img/home/no-tree-left-book.png}" alt="트리 없음 왼쪽 이미지" />
        </li>
        <li class="bg-no-tree-book__item">
            <img class="bg-no-tree-book__image" th:src="@{/img/home/no-tree-mid-book.png}" alt="트리 없음 중앙 이미지" />
        </li>
        <li class="bg-no-tree-book__item">
            <img  class="bg-no-tree-book__image" th:src="@{/img/home/no-tree-right-book.png}"  alt="트리 없음 오른쪽 이미지" />
        </li>
    </ul>
</div>

<!-- ==========================================
     FRAGMENT: 도서 1개, 배경 반반(흰/초)
     설명: 트리 생성 시 검색된 도서 정보 표현 화면
     ========================================== -->
<div class="bg-book-info--half__bg-frame" th:fragment="bg-book-info--half--one-book">
    <div class="bg-book-info--half__bg-book-img">
        <a class="bg-book-info--half__bg-book-img-anker" href="#">
            <img th:src="@{/img/home/home-mid-book.png}" alt="표지">
            <p class="bg-book-info--half__bg-book-img-p">자세히 보기</p>
        </a>
    </div>
    <div class="bg-book-info--half__bg-book-info-frame">
        <div class="bg-book-info--half__bg-book-info-empty-space"></div>
        <div class="bg-book-info--half__bg-book-info__category">
            <p class="bg-book-info--half__bg-book-info__seed">시/에세이</p>
        </div>
        <div class="bg-book-info--half__bg-book-info__category">
            <p class="bg-book-info--half__bg-book-info__title">무정형의 삶</p>
        </div>
        <div class="bg-book-info--half__bg-book-info__create">
            <span class="bg-book-info--half__bg-book-info-create-info">김민철</span>
            <span class="bg-book-info--half__bg-book-info-create-info">·</span>
            <span class="bg-book-info--half__bg-book-info-create-info">위즈덤하우스</span></div>
    </div>

</div>
</body>
</html>
