<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>

<!-- ==========================================
     FRAGMENT: 3개의 임시 도서 이미지
     설명: 나의 트리 홈 - 트리 없는 경우 배경 3개의 초록생 도서 이미지
     ========================================== -->
<div class="bg-no-tree-book" th:fragment="bg-no-tree-book">
    <ul class="bg-no-tree-book__list">
        <li class="bg-no-tree-book__item">
            <img  class="bg-no-tree-book__image" th:src="@{/img/home/no-tree-left-book.png}" alt="트리 없음 왼쪽 이미지" />
        </li>
        <li class="bg-no-tree-book__item">
            <img class="bg-no-tree-book__image" th:src="@{/img/home/no-tree-mid-book.png}" alt="트리 없음 중앙 이미지" />
        </li>
        <li class="bg-no-tree-book__item">
            <img  class="bg-no-tree-book__image" th:src="@{/img/home/no-tree-right-book.png}"  alt="트리 없음 오른쪽 이미지" />
        </li>
    </ul>
</div>

<!-- ==========================================
     FRAGMENT: 사용자 정보 화면 - 사용자 설정 대표 이미지 배경 + 산단바 + 바
     설명: 사용자 트리 정보 user/tree/index
     ========================================== -->
<div class="" th:fragment="user-info-back-header(src,userinfos)">

</div>
</body>
</html>
