<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>

<!-- ==========================================
     FRAGMENT: 로그 경로 바
     ========================================== -->
<div class="log-path-box" th:fragment="log-path(tree, branch, log)">
    <p class="log-path-box__frame">
        <span class="log-path-box__tree-name">트리 이름</span>
        /
        <span class="log-path-box__branch-name">브랜치 이름</span>
        /
        <span class="log-path-box__log-name">로그 제목</span>
    </p>
</div>
<!--==========================================
    ??개의 검색결과 출력 / A태그 추가
==========================================-->
<div class="bar-search-result-frame" th:fragment="bar-search-result(result)">
    <div class="bar-search-result__data-frame">
        <span class="bar-search-result__num-data" th:text="${result} + '개'"></span>
        <p class="bar-search-result__num-p">의 검색 결과</p>
    </div>
    <div class="bar-search-current-frame">
        <input
                class="bar-search-current__detail-input"
                type="checkbox"
                id="bar-search-current__detail"
        />
        <label
                class="bar-search-current__detail"
                for="bar-search-current__detail"
        >최근 수정한 수</label>
        <div class="bar-search-current__filter-frame">
            <form action="#" method="post">
                <input ></input>
            </form>
        </div>
    </div>
</div>
</body>
</html>