<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>

<!-- START -->
<div class="select-input-box" th:fragment="select-input-box(label, id)">
    <label class="tree-input-text__subject">
        <span th:text="${label}">label</span>
        <div class="tree-input-text--select__selected">
            <p class="tree-input-text--select__selected-description">선택해주세요</p>
            <button class="input-next-button" th:id="${id}" type="button">
                <img th:src="@{/svg/next.svg}" alt="next-button" />
            </button>
        </div>
    </label>
</div>
<!-- END -->

</body>
</html>
