<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>
<!-- ================ -->
<!-- tree-info-card -->
<!-- ================ -->
<div class="card-tree-info-box" th:fragment="tree-info-card(date, pagecount)">
    <div class="card-tree-info">기본 정보</div>
    <div class="card-tree-info__frame">
        <div>
            <p class="card-tree-info__title">발행(출시)일자</p>
            <p class="card-tree-info__title">쪽수</p>
        </div>
        <div>
            <p class="card-tree-info__content" th:text="${#dates.format(date, 'yyyy-MM-dd')}"></p>
            <p class="card-tree-info__content" th:text="${pagecount + ' 쪽'}"></p>
        </div>
    </div>
</div>

    <!-- ================ -->
    <!-- tree card -->
    <!-- ================ -->
    <div
            class="card-tree-details"
            th:fragment="card-tree-details(tree)"
            th:object="${tree}"
    >
      <a class="card-tree-detail" th:href="@{/tree/detail/{id}(id=*{treeId})}">
        <img
          class="card-tree__book-cover"
          src="/src/main/resources/static/svg/card-felt__cover.svg"
          th:src="@{/svg/{img}(img=*{coverImageName})}"
          alt="treeCover"
        />
        <div class="card-tree-detail__box">
          <!--반복문으로 넣어야 할듯..-->
          <div class="card-tree-detail__tags">
            <span class="card-tree-detail__tag" id="data-XXX" th:text="*{bookCategory}">도서</span>
<!--            <span class="card-tree-detail__tag" id="data-XXX">정치비평</span>-->
          </div>
          <!---->
            <div class="card-tree-detail__slot">
                <p class="card-tree-detail__name" id="data-XXX" th:text="*{bookTitle}">
                    운명이란 무엇인가?
                </p>
                <div th:if="*{bookComplete}" class="card-tree-detail__complete-icon" ></div>
            </div>
          <p
            class="card-tree-detail__explanation"
            id="data-XXX"
            th:text="*{title}"
          >
            그의 운명에 대한 아주 개인적인 생각
          </p>
          <div class="card-tree-detail__info">
            <span
                    class="card-tree-detail__info"
                    id="data-XXX"
                    th:text="*{bookPublishedYear}"
            >2024</span
            >
                    <span class="card-tree-detail__info">/</span>
                    <span
                            class="card-tree-detail__info"
                            id="data-XXX"
                            th:text="*{bookAuthor}"
                    >유시민</span
                    >
                    <span class="card-tree-detail__info">/</span>
                    <span
                            class="card-tree-detail__info"
                            id="data-XXX"
                            th:text="*{bookPublisher}"
                    >생각의 길</span
                    >
                </div>
                <span
                        class="card-tree-detail__info-created-date"
                        id="data-XXX"
                        th:text="*{leafCreatedAt}"
                >2024-07-15</span
                >
            </div>
        </a>
    </div>
</div>

<!-- ================ -->
<!-- book preview -->
<!-- 위의 tree card와 클래스는 동일함 -->
<!-- ================ -->
<div
        class="card-tree-details"
        th:fragment="card-book-previews(bookPreivew)"
        th:object="${bookPreview}"
>
    <a class="card-tree-detail">
        <img class="card-tree__book-cover"
             src="/src/main/resources/static/svg/card-felt__cover.svg"
             th:src="@{/svg/{img}(img=*{imageFile})}"
        />
        <div class="card-tree-detail__box">
            <!--반복문으로 넣어야 할듯..-->
            <div class="card-tree-detail__tags">
                <span class="card-tree-detail__tag" th:text="*{category}">도서</span>
            </div>
            <!---->
            <p class="card-tree-detail__name" th:text="*{title}">
                운명이란 무엇인가?</p>
            <div class="card-tree-detail__info">
            <span
                    class="card-tree-detail__info"
                    th:text="*{publishDate}">2024</span>
                <span class="card-tree-detail__info">/</span>
                <span class="card-tree-detail__info"
                        th:text="*{author}"
                >유시민</span
                >
                <span class="card-tree-detail__info">/</span>
                <span class="card-tree-detail__info" th:text="*{publisher}">생각의 길</span>
            </div>
            <span
                    class="card-tree-detail__info-created-date"
                    id="data-XXX"
                    th:text="*{createTime}">2024-07-15</span>
        </div>
    </a>
</div>
</div>

<!-- =========================
            branch-state
      ========================== -->

<div class="branch-state-main">
    <div class="branch-state__header">
        <div class="branch-state__icon-box">
            <div>
                <img
                        class="branch-state__box-image"
                        src="/src/main/resources/static/svg/branch-box--icon.svg"
                        alt="브랜치 아이콘"
                />
            </div>
        </div>
        <p class="branch-state__name">브랜치 이름</p>
    </div>
    <div class="branch-state__info">
        <div class="branch-state__stats">
            <p>로그<span class="branch-state__nums" id="data-XXX">999+</span></p>
            <p>좋아요<span class="branch-state__nums" id="data-XXX">32</span></p>
            <p>조회<span class="branch-state__nums" id="data-XXX">32</span></p>
        </div>
        <p class="branch-state__date" id="data-XXX">2024-07-18</p>
    </div>
</div>

<!-- ================ -->
<!-- reading progress--->
<!-- ================ -->
<div class="card-reading-progress" >
    <div class="card-reading-progress__header" th:fragment="card-progress-bar(progress,readpage,fullpage)">
        <div class="card-reading-progress__title">
            <h2>독서 진행률</h2>
            <div>
          <span class="card-reading-progress__num" id="data-XXX" th:text="${progress}"></span
          ><span class="card-reading-progress__sep">%</span>
            </div>
        </div>
        <div class="card-reading-progress-content">
            <div class="card-reading-progress__bar-container">
                <div class="card-reading-progress__bar" th:style="'width:'+ ${progress}+'%;'" id="data-XXX"></div>
            </div>
            <div class="card-reading-progress__page-num">
                <span class="card-progress-page__current" id="data-XXX" th:text="${readpage}"></span>
                <span class="card-progress-page__sep">/</span>
                <span class="card-progress-page__total" id="data-XXX" th:text="${fullpage}"></span>
            </div>
        </div>
    </div>

    <div class="card-reading-progress-status__list" th:fragment="card-react-numbers(leaf,like,view)">
        <p class="card-reading-progress-status__leaf" th:with="varLeaf=${leaf}">
            나뭇잎
            <span class="card-reading-progress-status__num"  th:if="${varLeaf gt 999}">+999</span>
            <span class="card-reading-progress-status__num" th:if="${varLeaf le 999}" id="data-XXX"
                  th:text="${leaf}"
            ></span
            >
        </p>
        <p class="card-reading-progress-status__like" th:with="varLike=${like}">
            좋아요
            <span class="card-reading-progress-status__num" th:if="${varLike gt 999}">+999</span>
            <span class="card-reading-progress-status__num" th:if="${varLike le 999}" id="data-XXX"
                  th:text="${like}"
            ></span
            >
        </p>
        <p class="card-reading-progress-status__views" th:with="varView=${view}">
            조회수
            <span class="card-reading-progress-status__num" th:if="${varView gt 999}">+999</span>
            <span class="card-reading-progress-status__num" th:if="${varView le 999}" id="data-XXX"
                  th:text="${view}"
            ></span
            >
        </p>
    </div>
</div>
<!--
card : img - treeTitle, bookTitle
Branch List 사용
-->
<div class="card-tree-info-cover-frame" th:fragment="card-tree-info-cover(src,treetitle,booktitle)">
    <div class="card-tree-info-cover">
        <img th:src="${src}" alt="cover">
    </div>
    <div>
        <p class="card-tree-title" th:text="${treetitle}"></p>
        <p class="card-book-title" th:text="${booktitle}"></p>
    </div>
</div>
<!---->
<div class="card-tree-info__detail-frame"
     th:fragment="card-hidden-info(hiddentext,
     authors,translators,publisher,page,seed,
     treedescription,
     progress,readpage,fullpage,
     leaf,like,view)">
    <input
            class="card-tree-info__detail-input"
            type="checkbox"
            id="card-tree-info__detail"
    />
    <label
            class="card-tree-info__detail"
            for="card-tree-info__detail"
    >자세히</label>
    <section class="card-tree-info__detail-content">
        <h3 class="none">트리 상세 설명 보기</h3>
        <section class="card-tree-info__detail-tree-container">
            <h4 class="none">트리 정보</h4>
            <div th:replace="~{fragments/text :: text-book-info--no-title(${authors},${translators},${publisher},${page},${seed})}">
            </div>
        </section>
        <section class="card-tree__description-title__container">
            <h3 th:replace="~{fragments/text :: text-main-title(title='트리설명', size=18)}"></h3>
            <p class="card-tree__description-content" name="data-XXX" th:text="${treedescription}"></p>
        </section>
        <section class="card-progress__container" >
            <div class="card-reading-progress-no-background">
                <div th:replace="~{fragments/card :: card-progress-bar(${progress},${readpage},${fullpage})}"></div>
                <div th:replace="~{fragments/card :: card-react-numbers(${leaf},${like},${view})}"></div>
            </div>
        </section>
        <section class="card-tree-memoir-create-btn-container none">
            <div th:replace="~{fragments/button :: link-full-width(link='#', text='회고록 작성')}"></div></section>
    </section>
</div>

<!---->
<div class="card-branch__list-frame" th:fragment="card-branch__list(lists)" th:each="lists : ${lists}">
    <a class="branch-info-frame" href="#">
        <div class="branch-img-frame">
            <img th:src="@{'/svg/' + ${lists.src}}" alt="브랜치 이미지">
        </div>
        <div class="branch-detail-info">
            <p class="branch-detail-info--regdate" th:text="${lists.regDate}"></p>
            <p class="branch-detail-info--name" th:text="${lists.name}"></p>
        </div>
    </a>
    <div class="branch-card-bottom-info-frame">
        <div class="branch-card-bottom-info">
            <span>나뭇잎<p th:text="${lists.leaf}"></p></span>
            <span>조회수<p th:text="${lists.view}"></p></span></div>
        <div class="__like-frame">
            <input
                    class="__like-input"
                    type="checkbox"
                    th:id="${lists.id}"
            />
            <label
                    class="__like"
                    th:for="${lists.id}"
            ></label>
        </div>
    </div>
</div>

<!-- ==========================================
     FRAGMENT: 나의 트리 카드
     ========================================== -->
<div class="card-tree-box" th:fragment="card-tree">
    <div class="card-tree__top-box">
        <a href="">
            <div class="card-tree__top-tree-icon-box">
                <img class="card-tree__top-tree-img" th:src="@{/svg/tree-icon--white.svg}" alt="트리 아이콘">
            </div>
        </a>
        <div class="card-tree__top-sns-icon-box">
            <div class="card-tree__top-share-icon-box">
                <img th:src="@{/svg/comment.svg}" alt="댓글 아이콘">
            </div>
            <div class="card-tree__top-like-icon-box">
                <img th:src="@{/svg/like.svg}" alt="좋아요 아이콘">
            </div>
        </div>
    </div>
    <a href="">
        <div class="card-tree__bot-box">
            <div class="card-tree__bot-info-box">
                <p class="card-tree__bot-title">트리 이름트리 이름트리 이름트리 이름트리 이름트리 이름</p>
                <p class="card-tree__bot-date">2024-07-10</p>
            </div>
            <div class="card-tree__bot-statistics-box">
                <p class="card-tree__bot-leaf-text">
                    <span class="card-tree__bot-leaf-count">999+</span> 나뭇잎
                </p>
                <p class="card-tree__bot-view-text">
                    <span class="card-tree__bot-view-count">999+</span> 조회수
                </p>
            </div>
        </div>
    </a>
</div>


<!-- ==========================================
     FRAGMENT: 나의 트리 카드 리스트
     ========================================== -->
<div class="card-tree-list-box" th:fragment="card-tree-list(list)">
    <ul class="card-tree__list">
        <li class="card-tree__item">
            <div th:replace="~{fragments/card :: card-tree}"></div>
        </li>
        <li class="card-tree__item">
            <div th:replace="~{fragments/card :: card-tree}"></div>
        </li>
    </ul>
</div>

<!-- ==========================================
     FRAGMENT: SNS 트리 카드 리스트
     ========================================== -->
<div class="sns-card-tree-box" th:fragment="sns-card-tree(type)">
    <div class="sns-card-tree__top-box">
        <a href="">
            <div class="sns-card-tree__top-tree-icon-box" th:if="${type eq 1}">
                <img class="sns-card-tree__top-tree-img" th:src="@{/svg/tree-icon--white.svg}" alt="트리 아이콘">
            </div>
            <div class="sns-card-tree__top-memoir-icon-box" th:if="${type eq 2}">
                <img class="sns-card-tree__top-tree-img" th:src="@{/svg/memoir-icon--white.svg}" alt="회고록 아이콘">
            </div>
            <div class="sns-card-tree__top-leaf-icon-box" th:if="${type eq 3}">
                <img class="sns-card-tree__top-tree-img" th:src="@{/svg/leaf-icon--white.svg}" alt="나뭇잎 아이콘">
            </div>
        </a>
        <div class="sns-card-tree__top-sns-icon-box">
            <div class="sns-card-tree__top-share-icon-box">
                <img th:src="@{/svg/comment.svg}" alt="댓글 아이콘">
            </div>
            <div class="sns-card-tree__top-like-icon-box">
                <img th:src="@{/svg/like.svg}" alt="좋아요 아이콘">
            </div>
        </div>
    </div>
    <a href="">
        <div class="sns-card-tree__mid-box">
            <p class="sns-card-tree__mid-title">트리제목트리제목트리제목트리제목트리제목</p>
            <p class="sns-card-tree__mid-date">2024-08-18</p>
        </div>

        <div class="sms-card-tree__memoir-text-box" th:if="${type eq 3}">
            <q class="sms-card-tree-memoir-text">코딩 테스트 합격자 되기 자바스크립트 편의 영감 기록을 남기는 이유는 다음과 같습니다. 영감 기록을 작성하면 책에서 배운 내용을 정리하고 이해도를 높일 수 있습니다.</q>
        </div>
    </a>
    <div class="sns-card-tree__bot-box">
        <div class="sns-card-tree__bot-nickname-box">
            <a href="">
                <p class="sns-card-tree__bot-nickname">
                    <span class="sns-card-tree__bot-nickname-text">한태규짱</span>
                    <span class="sns-card-tree__bot-nickname-id">@gksxorb147</span>
                </p>
            </a>
        </div>
        <a href="">
            <div class="sns-card-tree__bot-statistics-box">
                <p class="sns-card-tree__bot-leaf-text">
                    <span class="sns-card-tree__bot-leaf-count">999+</span> 나뭇잎
                </p>
                <p class="sns-card-tree__bot-view-text">
                    <span class="sns-card-tree__bot-view-count">999+</span> 조회수
                </p>
            </div>
        </a>
    </div>
</div>

<!-- ==========================================
     FRAGMENT: SNS 트리 카드 리스트
     ========================================== -->
<div class="sns-card-tree-list-box" th:fragment="sns-card-tree-list(list)">
    <ul class="sns-card-tree__list">
        <li class="sns-card-tree__item" th:each="type : ${list}">
            <div th:replace="~{fragments/card :: sns-card-tree(type=${type})}"></div>
        </li>
    </ul>
</div>


<!-- ==========================================
     FRAGMENT: another records 리스트
     ========================================== -->
<div class="card-another-records-box" th:fragment="card-another-records(type)">
    <div class="card-another-records__top-box">
        <a class="card-another-records__top-anker" href="">
<!--            표지-->
            <div th:if="${type eq 1}">
                <img class="card-another-records__top-cover-box" th:src="@{/img/card/card-book__info-cover.svg}" alt="트리 아이콘">
            </div>
            <div  th:if="${type eq 2}">
                <img class="card-another-records__top-cover-box" th:src="@{/img/card/detail-book.png}" alt="회고록 아이콘">
            </div>
            <div th:if="${type eq 3}">
                <img class="card-another-records__top-cover-box" th:src="@{/img/card/card-book__log-info-cover.svg}" alt="나뭇잎 아이콘">
            </div>


            <div class="card-another-records__mid-box">
                <div class="card-another-records__mid-seed-frame"  name="data-xxx">
                    <span class="card-another-records__mid-seed" name="data-xxx">도서</span>
                    <span class="card-another-records__mid-seed" name="data-xxx">문학</span>
                </div>
                <p class="card-another-records__mid-another--title" name="data-xxx" th:if="${type eq 1}">테크트리</p>
                <p class="card-another-records__mid-another--title" name="data-xxx" th:if="${type eq 2}">HTML이란 무엇인가?</p>
                <p class="card-another-records__mid-another--title--sub" name="data-xxx" th:if="${type eq 3}">그 남자 과연 나의 운명일까</p>
                <p class="card-another-records__mid-work-title" name="data-xxx">트리갭의 샘물</p>
                <div class="card-another-records__info">
                    <span class="card-another-records__info" name="data-XXX">2024</span>
                    <span class="card-another-records__info" name="data-XXX">/</span>
                    <span class="card-another-records__info" name="data-XXX">유시민</span>
                    <span class="card-another-records__info" name="data-XXX">/</span>
                    <span class="card-another-records__info" name="data-XXX">생각의 길</span>
                </div>
            </div>

        </a>
        <div class="card-another-records__icon-box">
            <div class="card-another-records__share-icon-box">
                <img th:src="@{/svg/comment.svg}" alt="댓글 아이콘">
            </div>
            <div class="card-another-records__like-icon-box" name="data-xxx">
                <input
                        class="card-another-records__like-bold-input"
                        type="checkbox"
                        th:id="like"
                />
                <label
                        class="card-another-records__like-bold"
                        th:for="like"
                ></label>
            </div>
        </div>
    </div>

    <div class="card-another-records__bot-box">
        <div class="card-another-records__bot-nickname-box" th:if="${type eq 3}">
            <a href="">
                <div class="card-another-records__log-text-box">
                    <q class="card-another-records-log-title">웹툰이지만 로깅합니다</q>
                    <q class="card-another-records-log-content">코딩 테스트 합격자 되기 자바스크립트 편의 영감 기록을 남기는 이유는 다음과 같습니다. 영감 기록을 작성하면 책에서 배운 내용을 정리하고 이해도를 높일 수 있습니다.</q>
                </div>
            </a>
        </div>
        <div class="card-another-records__bot-box-etc-info">
            <div class="card-another-records__bot-box-etc-date">2024-07-18</div>
            <div class="card-another-records__bot-statistics-box">
                <a href="">
                <p th:if="${type eq 1}" class="card-another-records__bot-leaf-text">
                    <span class="card-another-records__bot-leaf-count">999+</span> 나뭇잎
                </p>
                <p th:if="${type eq 2}" class="card-another-records__bot-leaf-text">
                    <span class="card-another-records__bot-leaf-count">999+</span> 나뭇잎
                </p>
                <p class="card-another-records__bot-view-text">
                    <span class="card-another-records__bot-view-count">999+</span> 조회수
                </p>
                </a>
            </div>
        </div>
    </div>
</div>

<!-- ==========================================
     FRAGMENT: another records 리스트
     ========================================== -->
<div class="card-another-records-list-box" th:fragment="card-another-records-list(list)">
    <ul class="card-another-records__list">
        <li class="card-another-records__item" th:each="type : ${list}">
            <div th:replace="~{fragments/card :: card-another-records(type=${type})}"></div>
            <div class="card-another-records__list-empty-space" th:if="${type eq 3}"></div>
        </li>
    </ul>
</div>

</body>
</html>
