<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>filter</title>
  </head>
  <body>
    <!-- =============================
                나뭇잎 전체 검색
                filter-search-log 
        ============================== -->
    <div class="search-filter-log" th:fragment="search-filter-log(text)">
      <label class="search-filter-log__checkbox-labal" for="search-log-filter"
        ><input
          class="search-filter-log__checkbox-input"
          type="checkbox"
          id="search-log-filter"
          name="log-filter"
        />
        <span class="search-filter-log__checkbox-input-text" th:text="${text}"
          >나뭇잎 전체 검색</span
        >
      </label>
    </div>

    <!-- =============================
              씨앗 필터
              text - btn- btn- btn -btn - btn
              filter-seed-text-3btn
      ============================== -->
  <div class="filter-text-3btn-frame" th:fragment="filter-seed-text-btns(bookmark,seed1,seed2)">
    <span><label><input  class="filter-seed__text" type="text" placeholder="로그 검색하기"></label></span>
    <ul class="filter-category-frame">
      <li>
        <input
                class="filter-category__bookmark"
                type="checkbox"
                id="filter-category__bookmark"
        />
        <label
                class="filter-category__bookmark__detail"
                for="filter-category__bookmark"
        >책갈피</label>

        <ul class="filter-category__bookmark__list">
          <li th:each="bm : ${bookmark}" th:text="${bm}"></li>
        </ul>
      </li>
      <li>
        <input
                class="filter-category__seed"
                type="checkbox"
                id="filter-category__seed1"
        />
        <label
                class="filter-category__seed__detail"
                for="filter-category__seed1"
        >씨앗</label>

        <ul class="filter-category__seed__list">
          <li th:each="s1 : ${seed1}" th:text="${s1}"></li>
        </ul>
      </li><li>
      <input
              class="filter-category__seed"
              type="checkbox"
              id="filter-category__seed2"
      />
      <label
              class="filter-category__seed__detail"
              for="filter-category__seed2"
      >씨앗</label>

      <ul class="filter-category__seed__list">
        <li th:each="s2 : ${seed2}" th:text="${s2}"></li>
      </ul>
    </li><li>
      <input
              class="filter-category__seed"
              type="checkbox"
              id="filter-category__seed3"
      />
      <label
              class="filter-category__seed__detail"
              for="filter-category__seed3"
      >씨앗</label>

      <ul class="filter-category__seed__list">
        <li th:each="s3 : ${seed3}" th:text="${s3}"></li>
      </ul>
    </li><li>
      <input
              class="filter-category__seed"
              type="checkbox"
              id="filter-category__seed4"
      />
      <label
              class="filter-category__seed__detail"
              for="filter-category__seed4"
      >씨앗</label>

      <ul class="filter-category__seed__list">
        <li th:each="s4 : ${seed4}" th:text="${s4}"></li>
      </ul>
    </li>
    </ul>
  </div>
  </body>
</html>
