<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>

<!-- START -->
<div class="visibility" th:fragment="visibility-box(name)">
    <p class="visibility__name">공개 여부</p>
    <div class="visibility__btns">
        라벨 생성 요구
        <input
                class="visibility__btn"
                label="공개"
                type="radio"
                th:name="${name}"
                id="public"
                value="1"
                checked
        />
        <input
                class="visibility__btn"
                label="비공개"
                type="radio"
                th:name="${name}"
                id="private"
                value="0"
        />
    </div>
</div>
<!-- END -->

</body>
</html>
