<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>

<!-- START -->
<div class="book-input-img-box" th:fragment="book-input-img">
    <label class="book-input-img-box__label">
        <input
                type="file"
                name="bookImage"
                id="book-input-img-box__input-id"
                class="book-input-img-box__input"
                accept="image/*"
        />
        <img
                id="book-input-img-box__img-id"
                th:src="@{/svg/book-photo-form.svg}"
                alt="Upload Image"
                class="book-input-img-box__img"
        />
    </label>
</div>
<!-- END -->

</body>
</html>
