<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <body>
    <!-- ==========================================
     FRAGMENT: 필터 선택 박스
     ========================================== -->
    <div class="input-select-box" th:fragment="input-select-box(label, id)">
      <label class="input-select__subject">
        <span th:text="${label}">label</span>
        <div class="input-select--select__selected">
          <p class="input-select--select__selected-description">선택해주세요</p>
          <button class="input-next-button" th:id="${id}" type="button">
            <img th:src="@{/svg/next.svg}" alt="next-button" />
          </button>
        </div>
      </label>
    </div>

    <!-- ==========================================
     FRAGMENT: 트리 직접 입력 도서 이미지 받기
     ========================================== -->
    <div class="input-book-img-box" th:fragment="book-input-img">
      <label class="input-book-img-box__label">
        <input
          type="file"
          name="bookImage"
          id="input-book-img-box__input-id"
          class="input-book-img-box__input"
          accept="image/*"
        />
        <img
          id="input-book-img-box__img-id"
          th:src="@{/svg/book-photo-form.svg}"
          alt="Upload Image"
          class="input-book-img-box__img"
        />
      </label>
    </div>

    <!-- ==========================================
     FRAGMENT: 공개성 여부 체크
     ========================================== -->
    <div class="input-visibility" th:fragment="input-visibility(name)">
      <p class="input-visibility__name">공개 여부</p>
      <div class="input-visibility__btns">
        <label class="input-visibility__label">
          <input
            class="input-visibility__btn"
            label="공개"
            type="radio"
            th:name="${name}"
            id="public"
            value="1"
            checked
          />
        </label>
        <label class="input-visibility__label">
          <input
            class="input-visibility__btn"
            label="비공개"
            type="radio"
            th:name="${name}"
            id="private"
            value="0"
          />
        </label>
      </div>
    </div>

    <!-- ==========================================
     FRAGMENT: 텍스트 입력 바
     ========================================== -->
    <div
      class="input-text__bar"
      th:fragment="text-box(label, placeholder, name)"
    >
      <label class="input-text__label">
        <span class="input-text__label-text" th:text="${label}">지은이</span>
        <input
          class="input-text__input"
          th:id="${name}"
          th:name="${name}"
          th:placeholder="${placeholder}"
        />
      </label>
      <p class="input-text__input-wrong none">
        텍스트 입력을 다시 입력해주세요.
      </p>
    </div>

    <!-- ==========================================
     FRAGMENT: 많은 텍스트 입력
     ========================================== -->
    <div
      class="input-textarea__box"
      th:fragment="textarea-box(label, placeholder, name)"
    >
      <label class="input-textarea__label tree-input__large-text-label">
        <span th:text="${label}">트리 설명</span>
        <!-- textarea  태그 사이에 공백 X > placeholder 동작안함-->
        <textarea
          class="input-textarea__textarea tree-input__large-textarea"
          th:id="${name}"
          th:name="${name}"
          th:placeholder="${placeholder}"
        ></textarea>
      </label>
    </div>

    <!-- ===================================
                input-back-search - anchor
            검색버튼 - 뒤로 가기 버튼 있음. - 앵커버전
      ==================================== -->
    <div
      class="search__form"
      th:fragment="input-back-search(placeholder, href)"
    >
      <div>
        <a th:href="@{|${href}|}">
          <img th:src="@{/svg/back.svg}" alt="back button" />
        </a>
      </div>
      <form class="search-bar" action="#" method="get">
        <label class="search-bar--label">
          <input
            class="search-bar--input"
            type="text"
            th:placeholder="${placeholder}"
          />
          <button class="search-bar--close" type="reset">
            <img th:src="@{/svg/close-button.svg}" alt="close-btn" />
          </button>
        </label>
        <button>
          <img
            src="/src/main/resources/static/svg/lens.svg"
            th:src="@{/svg/lens.svg}"
            alt="lens"
          />
        </button>
      </form>
    </div>

    <!-- ===================================
                input-back-search - input
            검색버튼 - 뒤로 가기 버튼 있음. - text input(post)버전
      ==================================== -->
    <div
      class="search__form"
      th:fragment="input-back-search-text(placeholder, action, name)"
    >
      <div>
        <a href="#">
          <img
            src="/src/main/resources/static/svg/back.svg"
            th:src="@{/svg/back.svg}"
            alt="back button"
          />
        </a>
      </div>
      <form class="search-bar" action="" th:action="${action}" method="post">
        <label class="search-bar--label">
          <input
            class="search-bar--input"
            type="text"
            th:name="${name}"
            th:id="${name}"
            th:placeholder="${placeholder}"
            autocomplete="off"
          />
          <button class="search-bar--close" type="reset">
            <img
              src="/src/main/resources/static/svg/close-button.svg"
              th:src="@{/svg/close-button.svg}"
              alt="close-btn"
            />
          </button>
        </label>
        <button type="submit">
          <img
            src="/src/main/resources/static/svg/lens.svg"
            th:src="@{/svg/lens.svg}"
            alt="lens"
          />
        </button>
      </form>
    </div>
    <!--  ==========================================
      FRAGMENT: 고정 데이터 화면에 안보임
      ========================================== -->
    <div class="input-none none" th:fragment="default-data(name, value)">
      <label class="input-none__label">
        <input
          class="input-none__input"
          type="text"
          th:name="${name}"
          th:value="${value}"
        />
      </label>
    </div>
<!--  ==========================================
      FRAGMENT: 로그 페이지 구간 기록
      ========================================== -->
    <div class="input-page-number-box" th:fragment="page-number">
      <p class="input-page-number__title">페이지</p>
      <div class="input-page-number__frame">
        <label class="input-page-number__label">
          <input
                  class="input-page-number__input--start"
                  name="startPage"
                  type="number"
                  placeholder="시작 페이지"
                  min="0"
          />
        </label>
        <label class="input-page-number__label">
          <input
                  class="input-page-number__input--end"
                    name="endPage"
                  type="number"
                  placeholder="마지막 페이지"
                  min="0"
          />
        </label>
      </div>
    </div>

<!--  ==========================================
      FRAGMENT: 태그 선택 입력 박스
      ========================================== -->
    <div class="input-tag-select-box" th:fragment="tag-select">
        <p class="input-tag-select__label-text">선택</p>
        <label class="input-tag-select__bg">
            <div class="input-tag-select__button-box">
              <!-- start 태그 리스트 3개 -->

              <div class="input-tag-select__tag-box">
                <ul class="input-tag-select__tags">

                  <li class="input-tag-select__tag">
                    <label class="input-tag-select__tag-label">
                      <span class="input-tag-select__tag-text">태그</span>
                      <button class="input-tag-select__tag-delete-btn">
                        <img th:src="@{/svg/x-button.svg}" alt="next-button" />
                      </button>
                      <input class="none" name="tag" value="1" disabled />
                    </label>
                  </li>

                  <li class="input-tag-select__tag">
                    <label class="input-tag-select__tag-label">
                      <span class="input-tag-select__tag-text">태그</span>
                      <button class="input-tag-select__tag-delete-btn">
                        <img th:src="@{/svg/x-button.svg}" alt="next-button" />
                      </button>
                      <input class="none" name="tag" value="1" disabled />
                    </label>
                  </li>

                  <li class="input-tag-select__tag">
                    <label class="input-tag-select__tag-label">
                      <span class="input-tag-select__tag-text">태그</span>
                      <button class="input-tag-select__tag-delete-btn">
                        <img th:src="@{/svg/x-button.svg}" alt="next-button" />
                      </button>
                      <input class="none" name="tag" value="1" disabled />
                    </label>
                  </li>

                </ul>
                <!-- end 태그 리스트 3개 -->
                <p class="input-tag-select__placeholder">선택해주세요</p>
              </div>

              <button class="input-tag-select__button" type="button">
                <img th:src="@{/svg/next.svg}" alt="next-button" />
              </button>
            </div>
        </label>
    </div>

<!--  ==========================================
      FRAGMENT: 댓글 입력 박스
      ========================================== -->
<div class="input-comment-input-box" th:fragment="comment-input">
  <form class="input-comment-input__form" action="">
    <label class="input-comment-input__label">
      <img class="input-comment-input__profile-img" th:src="@{/svg/comment-profile.svg}" alt="프로필 이미지">
      <textarea id="input-comment-input__input-id" rows="1" class="input-comment-input__input" placeholder="댓글 추가..." type="text"></textarea>
    </label>
    <button id="input-comment-input__submit-id" class="input-comment-input__submit" type="submit">
      <img th:src="@{/svg/comment-send.svg}" alt="send-button">
    </button>
  </form>
</div>

  </body>
</html>
