<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>

<!-- ==========================================
     FRAGMENT: 리프 첫 생성 이미지
     ========================================== -->
    <div class="first-log-box" th:fragment="frist-log">
        <div class="first-log-box__line">s</div>
        <div class="first-log-box__circle"></div>
    </div>

<!-- ==========================================
     FRAGMENT: 리프 생성 이미지
     ========================================== -->
<div class="before-log-box" th:fragment="before-log(leafInfo)">
    <div class="before-log__branch">
        <div class="before-log__line"></div>
        <div class="before-log__circle"></div>
    </div>
    <div class="before-log__text-box">
        <p class="before-log__text">이전 로그</p>
        <p class="before-log__title" th:text="${leafInfo.title}">리프 제목입니다.</p>
        <p class="before-log__date" th:text="${leafInfo.createDate}">2024-07-18</p>
        <ul class="before-log__tags">
            <li class="before-log__tag" th:each="tag : ${leafInfo.tags}" th:text="${tag.name}">태그</li>
        </ul>
    </div>
</div>

<!-- ==========================================
     FRAGMENT: 리프
     ========================================== -->
<div class="log-item" th:fragment="log-item(type, title, date, link, tags)">

    <!-- ==========================================
         FRAGMENT: 리프 초기화
         TYPE: 0
         ========================================== -->
    <div class="log-item-box leaf-item" th:if="${type == 0}">

        <div class="log-item__left-branch">
            <div class="log-item__line-left hidden"></div>
        </div>

        <div class="log-item__mid-branch">
            <div class="log-item__line-top hidden"></div>
            <div class="log-item__circle node"></div>
            <div class="log-item__line-bot hidden"></div>
        </div>
        <div class="log-item__info-box">
            <div class="log-item__right-branch">
                <div class="log-item__line-right hidden"></div>
            </div>
            <a class="log-item__link">
                <div class="log-item__text-box">
                    <p class="log-item__title" th:text="${title}">리프 제목입니다.</p>
                    <p class="log-item__date" th:text="${#dates.format(date, 'yyyy-MM-dd')}">2024-07-18</p>
                    <ul class="log-item__tags">
                        <li class="log-item__tag" th:each="tag : ${tags}" th:text="${tag.name}">태그</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>


    <!-- ==========================================
         FRAGMENT: 리프 아래
         TYPE: 1
         ========================================== -->
    <div class="log-item-box leaf-item" th:if="${type == 1}">

        <div class="log-item__left-branch">
            <div class="log-item__line-left hidden"></div>
        </div>

        <div class="log-item__mid-branch">
            <div class="log-item__line-top hidden"></div>
            <div class="log-item__circle node"></div>
            <div class="log-item__line-bot"></div>
        </div>
        <div class="log-item__info-box">
            <div class="log-item__right-branch">
                <div class="log-item__line-right hidden"></div>
            </div>
            <a class="log-item__link">
                <div class="log-item__text-box">
                    <p class="log-item__title" th:text="${title}">리프 제목입니다.</p>
                    <p class="log-item__date" th:text="${#dates.format(date, 'yyyy-MM-dd')}">2024-07-18</p>
                    <ul class="log-item__tags">
                        <li class="log-item__tag" th:each="tag : ${tags}" th:text="${tag.name}">태그</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>

    <!-- ==========================================
         FRAGMENT: 리프 아래 오른쪽
         TYPE: 2
         ========================================== -->
    <div class="log-item-box leaf-item" th:if="${type == 2}">

        <div class="log-item__left-branch">
            <div class="log-item__line-left hidden"></div>
        </div>

        <div class="log-item__mid-branch">
            <div class="log-item__line-top hidden"></div>
            <div class="log-item__circle node"></div>
            <div class="log-item__line-bot"></div>
        </div>
        <div class="log-item__info-box">
            <div class="log-item__right-branch">
                <div class="log-item__line-right"></div>
            </div>
            <a class="log-item__link">
                <div class="log-item__text-box">
                    <p class="log-item__title" th:text="${title}">리프 제목입니다.</p>
                    <p class="log-item__date" th:text="${#dates.format(date, 'yyyy-MM-dd')}">2024-07-18</p>
                    <ul class="log-item__tags">
                        <li class="log-item__tag" th:each="tag : ${tags}" th:text="${tag.name}">태그</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>

<!-- ==========================================
     FRAGMENT: 리프 아래 양쪽
     TYPE: 3
     ========================================== -->
    <div class="log-item-box leaf-item" th:if="${type == 3}">

        <div class="log-item__left-branch">
            <div class="log-item__line-left"></div>
        </div>

        <div class="log-item__mid-branch">
            <div class="log-item__line-top hidden"></div>
            <div class="log-item__circle node"></div>
            <div class="log-item__line-bot"></div>
        </div>
        <div class="log-item__info-box">
            <div class="log-item__right-branch">
                <div class="log-item__line-right"></div>
            </div>
            <a class="log-item__link">
                <div class="log-item__text-box">
                    <p class="log-item__title" th:text="${title}">리프 제목입니다.</p>
                    <p class="log-item__date" th:text="${#dates.format(date, 'yyyy-MM-dd')}">2024-07-18</p>
                    <ul class="log-item__tags">
                        <li class="log-item__tag" th:each="tag : ${tags}" th:text="${tag.name}">태그</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>

<!-- ==========================================
     FRAGMENT: 리프 아래 왼쪽
     TYPE: 4
     ========================================== -->
    <div class="log-item-box leaf-item" th:if="${type == 4}">

        <div class="log-item__left-branch">
            <div class="log-item__line-left"></div>
        </div>

        <div class="log-item__mid-branch">
            <div class="log-item__line-top hidden"></div>
            <div class="log-item__circle node"></div>
            <div class="log-item__line-bot"></div>
        </div>
        <div class="log-item__info-box">
            <div class="log-item__right-branch hidden">
                <div class="log-item__line-right"></div>
            </div>
            <a class="log-item__link">
                <div class="log-item__text-box">
                    <p class="log-item__title" th:text="${title}">리프 제목입니다.</p>
                    <p class="log-item__date" th:text="${#dates.format(date, 'yyyy-MM-dd')}">2024-07-18</p>
                    <ul class="log-item__tags">
                        <li class="log-item__tag" th:each="tag : ${tags}" th:text="${tag.name}">태그</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>

<!-- ==========================================
     FRAGMENT: 리프 위 아래
     TYPE: 5
     ========================================== -->
    <div class="log-item-box leaf-item" th:if="${type == 5}">

        <div class="log-item__left-branch">
            <div class="log-item__line-left hidden"></div>
        </div>

        <div class="log-item__mid-branch">
            <div class="log-item__line-top"></div>
            <div class="log-item__circle node"></div>
            <div class="log-item__line-bot"></div>
        </div>
        <div class="log-item__info-box">
            <div class="log-item__right-branch hidden">
                <div class="log-item__line-right"></div>
            </div>
            <a class="log-item__link">
                <div class="log-item__text-box">
                    <p class="log-item__title" th:text="${title}">리프 제목입니다.</p>
                    <p class="log-item__date" th:text="${#dates.format(date, 'yyyy-MM-dd')}">2024-07-18</p>
                    <ul class="log-item__tags">
                        <li class="log-item__tag" th:each="tag : ${tags}" th:text="${tag.name}">태그</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>

<!-- ==========================================
     FRAGMENT: 리프 위 아래 오른쪽
     TYPE: 6
     ========================================== -->
    <div class="log-item-box leaf-item" th:if="${type == 6}">

        <div class="log-item__left-branch">
            <div class="log-item__line-left hidden"></div>
        </div>

        <div class="log-item__mid-branch">
            <div class="log-item__line-top"></div>
            <div class="log-item__circle node"></div>
            <div class="log-item__line-bot"></div>
        </div>
        <div class="log-item__info-box">
            <div class="log-item__right-branch">
                <div class="log-item__line-right"></div>
            </div>
            <a class="log-item__link">
                <div class="log-item__text-box">
                    <p class="log-item__title" th:text="${title}">리프 제목입니다.</p>
                    <p class="log-item__date" th:text="${#dates.format(date, 'yyyy-MM-dd')}">2024-07-18</p>
                    <ul class="log-item__tags">
                        <li class="log-item__tag" th:each="tag : ${tags}" th:text="${tag.name}">태그</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>

<!-- ==========================================
     FRAGMENT: 리프 위 아래 오른쪽 왼쪽
     TYPE: 7
     ========================================== -->
    <div class="log-item-box leaf-item" th:if="${type == 7}">

        <div class="log-item__left-branch">
            <div class="log-item__line-left"></div>
        </div>

        <div class="log-item__mid-branch">
            <div class="log-item__line-top"></div>
            <div class="log-item__circle node"></div>
            <div class="log-item__line-bot"></div>
        </div>
        <div class="log-item__info-box">
            <div class="log-item__right-branch">
                <div class="log-item__line-right"></div>
            </div>
            <a class="log-item__link">
                <div class="log-item__text-box">
                    <p class="log-item__title" th:text="${title}">리프 제목입니다.</p>
                    <p class="log-item__date" th:text="${#dates.format(date, 'yyyy-MM-dd')}">2024-07-18</p>
                    <ul class="log-item__tags">
                        <li class="log-item__tag" th:each="tag : ${tags}" th:text="${tag.name}">태그</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>

<!-- ==========================================
     FRAGMENT: 리프 위 아래 왼쪽
     TYPE: 8
     ========================================== -->
    <div class="log-item-box leaf-item" th:if="${type == 8}">

        <div class="log-item__left-branch">
            <div class="log-item__line-left"></div>
        </div>

        <div class="log-item__mid-branch">
            <div class="log-item__line-top"></div>
            <div class="log-item__circle node"></div>
            <div class="log-item__line-bot"></div>
        </div>
        <div class="log-item__info-box">
            <div class="log-item__right-branch hidden">
                <div class="log-item__line-right"></div>
            </div>
            <a class="log-item__link">
                <div class="log-item__text-box">
                    <p class="log-item__title" th:text="${title}">리프 제목입니다.</p>
                    <p class="log-item__date" th:text="${#dates.format(date, 'yyyy-MM-dd')}">2024-07-18</p>
                    <ul class="log-item__tags">
                        <li class="log-item__tag" th:each="tag : ${tags}" th:text="${tag.name}">태그</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>

<!-- ==========================================
     FRAGMENT: 끝 리프 오른쪽
     TYPE: 9
     ========================================== -->
    <div class="log-item-box leaf-item" th:if="${type == 9}">

        <div class="log-item__left-branch">
            <div class="log-item__line-left hidden"></div>
        </div>

        <div class="log-item__mid-branch">
            <div class="log-item__line-top hidden"></div>
            <div class="log-item__circle node"></div>
            <div class="log-item__line-bot hidden"></div>
        </div>
        <div class="log-item__info-box">
            <div class="log-item__right-branch">
                <div class="log-item__line-right"></div>
            </div>
            <a class="log-item__link">
                <div class="log-item__text-box">
                    <p class="log-item__title" th:text="${title}">리프 제목입니다.</p>
                    <p class="log-item__date" th:text="${#dates.format(date, 'yyyy-MM-dd')}">2024-07-18</p>
                    <ul class="log-item__tags">
                        <li class="log-item__tag" th:each="tag : ${tags}" th:text="${tag.name}">태그</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>

<!-- ==========================================
     FRAGMENT: 끝 왼쪽
     TYPE: 10
     ========================================== -->
    <div class="log-item-box leaf-item" th:if="${type == 10}">

        <div class="log-item__left-branch">
            <div class="log-item__line-left"></div>
        </div>

        <div class="log-item__mid-branch">
            <div class="log-item__line-top hidden"></div>
            <div class="log-item__circle node"></div>
            <div class="log-item__line-bot hidden"></div>
        </div>
        <div class="log-item__info-box">
            <div class="log-item__right-branch hidden">
                <div class="log-item__line-right hidden"></div>
            </div>
            <a class="log-item__link">
                <div class="log-item__text-box">
                    <p class="log-item__title" th:text="${title}">리프 제목입니다.</p>
                    <p class="log-item__date" th:text="${#dates.format(date, 'yyyy-MM-dd')}">2024-07-18</p>
                    <ul class="log-item__tags">
                        <li class="log-item__tag" th:each="tag : ${tags}" th:text="${tag.name}">태그</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>

<!-- ==========================================
     FRAGMENT: 끝
     TYPE: 11
     ========================================== -->
    <div class="log-item-box leaf-item" th:if="${type == 11}">

        <div class="log-item__left-branch">
            <div class="log-item__line-left hidden"></div>
        </div>

        <div class="log-item__mid-branch">
            <div class="log-item__line-top"></div>
            <div class="log-item__circle node"></div>
            <div class="log-item__line-bot hidden"></div>
        </div>
        <div class="log-item__info-box">
            <div class="log-item__right-branch hidden">
                <div class="log-item__line-right"></div>
            </div>
            <a class="log-item__link">
                <div class="log-item__text-box">
                    <p class="log-item__title" th:text="${title}">리프 제목입니다.</p>
                    <p class="log-item__date" th:text="${#dates.format(date, 'yyyy-MM-dd')}">2024-07-18</p>
                    <ul class="log-item__tags">
                        <li class="log-item__tag" th:each="tag : ${tags}" th:text="${tag.name}">태그</li>
                    </ul>
                </div>
            </a>
        </div>
    </div>
</div>

</body>
</html>