<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>

<!-- ==========================================
     FRAGMENT: 로그 첫 생성 이미지
     ========================================== -->
    <div class="first-log-box" th:fragment="frist-log">
        <div class="first-log-box__line">s</div>
        <div class="first-log-box__circle"></div>
    </div>

<!-- ==========================================
     FRAGMENT: 로그 생성 이미지
     ========================================== -->
<div class="before-log-box" th:fragment="before-log">
    <div class="before-log__branch">
        <div class="before-log__line"></div>
        <div class="before-log__circle"></div>
    </div>
    <div class="before-log__text-box">
        <p class="before-log__text">이전 로그</p>
        <p class="before-log__title">로그 제목입니다.</p>
        <p class="before-log__date">2024-07-18</p>
        <ul class="before-log__tags">
            <li class="before-log__tag">태그</li>
            <li class="before-log__tag">태그</li>
            <li class="before-log__tag">태그</li>
        </ul>
    </div>
</div>

</body>
</html>