<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
  <body>
    <!-- ==========================================
     FRAGMENT: 슬라이드 업 필터 탭
     ========================================== -->
    <div
      id="filter-tab"
      class="filter-tab__box"
      th:fragment="filter-tab(label, name, values)"
    >
      <header class="filter-tab__header">
        <button
          id="filter-tab-close-btn"
          class="filter-tab__btn--back"
          type="button"
        >
          <img th:src="@{/svg/tab-back.svg}" alt="뒤로가기 버튼" />
        </button>
        <h1 class="filter-tab__header--title" th:text="${label}">필터명</h1>
      </header>

      <ul class="filter-tab__list">
        <li th:each="v : ${values}" class="filter-tab__item">
          <label class="filter-tab__item-label">
            <input
              class="filter-tab__item-radio"
              type="radio"
              th:name="${name}"
              th:value="${v.value}"
              checked
            />
            <span
              class="filter-tab__item--label-text"
              th:text="${v.description}"
              >필터 정보</span
            >
            <div class="filter-tab__icon-box">
              <img
                class="filter-tab__icon-img"
                th:src="@{/svg/tab-check-btn.svg}"
                alt="필터 버튼"
              />
            </div>
          </label>
        </li>
      </ul>
    </div>

    <!--/* ==========================================
     FRAGMENT: 슬라이드 업 필터 탭 - get방식
     fragment사용이 어려울땐 조현진을 찾으세요
     ========================================== */-->
    <div
      id="filter-tab"
      class="filter-tab__box"
      th:fragment="filter-tab-get(title, name, values, source)"
    >
      <header class="filter-tab__header">
        <button
          id="filter-tab-close-btn"
          class="filter-tab__btn--back"
          type="button"
        >
          <img th:src="@{/svg/tab-back.svg}" alt="뒤로가기 버튼" />
        </button>
        <h1 class="filter-tab__header--title" th:text="${title}">필터명</h1>
      </header>

      <ul class="filter-tab__list">
        <li th:each="v : ${values}" class="filter-tab__item">
          <div class="filter-tab__item-label">
            <a
                    class="filter-tab__item--label-text"
                    th:href="${v.category == 'book'} ? @{/tree/search} : @{|/tree/${v.category}/${source}?type=${v.description}|}"
                    th:text="${v.name}"
            >
<!--              <a-->
<!--                      class="filter-tab__item&#45;&#45;label-text"-->
<!--                      th:if="${v.category != 'book'}"-->
<!--                      th:href="@{|/tree/${v.category}/${source}?type=${v.description}|}"-->
<!--                      th:text="${v.name}"-->
<!--              >-->
              <div class="filter-tab__icon-box">
                <img
                  class="filter-tab__icon-img"
                  th:src="@{/svg/tab-check-btn.svg}"
                  alt="필터 버튼"
                />
              </div>
            </a>
          </div>
        </li>
      </ul>
    </div>
  </body>
</html>
