<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<body>

<!-- ==========================================
     FRAGMENT: 태그 리스트
     ========================================== -->
<div class="tag-info-box" th:fragment="tag-list(tags)">
    <ul class="tag-info__list">
        <li th:each="tag : ${tags}" class="tag-info__item">
            <div class="tag-info__tag-box">
                <q class="tag-info__name" th:text="${tag.name}">책리뷰</q>
                <a href=""> <!-- TODO: 삭제 로직  -->
                    <img class="tag-info__btn" th:src="@{/svg/x-button.svg}" alt="">
                </a>
            </div>
            <div class="tag-info__option-box">
                <a class="tag-info__option-link" href=""> <!-- TODO: 수정 로직  -->
                    <img class="tag-info__option-btn" th:src="@{/svg/icon-option.svg}" alt="">
                </a>
            </div>
        </li>
    </ul>
</div>

</body>
</html>