<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
  <body>
    <!-- ==========================================
     FRAGMENT: 메인 Title
     ========================================== -->
    <div th:fragment="text-main-title(title, size)">
      <h1
        class="text-main-title text--title28"
        th:if="${size == '28'}"
        th:text="${title}"
      >
        Default Title
      </h1>
      <h1
        class="text-main-title text--title24"
        th:if="${size == '24'}"
        th:text="${title}"
      >
        Default Title
      </h1>
      <h1
        class="text-main-title text--title20"
        th:if="${size == '20'}"
        th:text="${title}"
      >
        Default Title
      </h1>
      <h1
        class="text-main-title text--title18"
        th:if="${size == '18'}"
        th:text="${title}"
      >
        Default Title
      </h1>
      <h1
        class="text-main-title text--title16"
        th:if="${size == '16'}"
        th:text="${title}"
      >
        Default Title
      </h1>
      <h1
        class="text-main-title text--title14"
        th:if="${size == '14'}"
        th:text="${title}"
      >
        Default Title
      </h1>
    </div>

    <!-- ==========================================
     FRAGMENT: 화면 설명글
     ========================================== -->
    <div class="textbox-no-tree" th:fragment="text-info(text, boldText)">
      <p class="textbox-no-tree__text-top" th:text="${text}">
        현재 기록중인 트리가 없습니다
      </p>
      <p class="textbox-no-tree__text-bottom" th:text="${boldText}">
        트리를 검색해주세요
      </p>
    </div>
  </body>
</html>
<!-- ==========================================
     FRAGMENT: 도서 정보
     설명: 트리 생성 시 검색된 도서 정보 표현 화면
     ========================================== -->
<div class="text-book-info" th:fragment="text-book-info(seed, title, authors,translators, publisher)">
  <div class="text-book-info__frame">
    <p class="text-book-info__seed" th:text="${seed}"></p>
  </div>
  <div class="text-book-info__category">
    <p class="text-book-info__title" th:text="${title}"></p>
  </div>
  <div class="text-book-info__create">
    <div class="text-book-info__create" th:each="author :${authors}">
    <span class="text-book-info-create-info" th:text="${author}" ></span>
    <span class="text-book-info-create-info">·</span>
    </div>
    <div class="text-book-info__create" th:if="${translators}" th:each="translator :${translators}">
      <span class="text-book-info-create-info" th:text="${translator}" ></span>
      <span class="text-book-info-create-info">·</span>
    </div>

    <span class="text-book-info-create-info" th:text="${publisher}"></span>
  </div>
</div>