<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<body>

<!-- START: 메인 Title-->
    <h1 class="text-main-title" th:fragment="text-main-title(title)" th:text="${title}">Default Title</h1>
<!-- END: 메인 Title-->

<!-- START: 설명 글-->
    <div class="text-info" th:fragment="text-info(text, boldText)">
        <div class="text-info-box">
            <p class="text-info-box__text" th:text="${text}">얇은 글</p>
            <p class="text-info-box__text--bold" th:text="${boldText}">굵은 글</p>
        </div>
    </div>
<!-- END: 설명 글-->

</body>
</html>
