<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
  <body>
    <!-- ==========================================
     FRAGMENT: 뒤로가기 상단바 -- 오른쪽 버튼 없음
     ========================================== -->
    <div class="top-bar--green" th:fragment="top-bar-back(title, link)">
      <div class="top-bar__frame">
        <p class="top-bar__title" th:text="${title}">트리 생성</p>
        <a class="tob-bar--a" href="#" th:href="${link}">
          <img
            th:src="@{/svg/back-arrow-icon.svg}"
            alt="top-bar--backarrow.svg"
          />
        </a>
        <div class="top-bar__text"></div>
      </div>
    </div>
    <!-- =========================
       topbar-search-result-num
            검색 결과 개수 
    ========================== -->
    <div
      class="top-bar-search-result-num"
      th:fragment="topbar-search-result-num(num)"
    >
      <p class="top-bar-search-result-number" id="data-XXX" th:text="${num}">
        10
      </p>
      <span class="top-bar-search-result-number">개</span>
      <p class="top-bar-search-result-text">의 검색 결과</p>
    </div>
    <!-- =========================
       topbar-search-result-num
            검색 결과 개수  - 최신순 정렬 버튼
    ========================== -->
    <div
      class="top-bar-search-result-num"
      th:fragment="topbar-search-result-num-recent(num)"
    >
      <p class="top-bar-search-result-number" id="data-XXX" th:text="${num}">
        10
      </p>
      <span class="top-bar-search-result-number">개</span>
      <p class="top-bar-search-result-text">의 검색 결과</p>
    </div>

    <!-- =========================
       top-bar__transparent
      사용자 정보 상단 바
    ========================== -->
<div class="top-bar__transparent-frame" th:fragment="top-bar__transparent(src)">
  <a th:href="${src}" class="top-bar__transparent-back-btn"></a>
  <a class="top-bar__transparent-setting-btn" href='#'></a>
</div>

  </body>
</html>
