@import "../common/variables.css";

/*  ========================================== /
    FRAGMENT: 헤더 검색 링크
/   ========================================== */
.header-search-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  align-self: stretch;
  position: relative;
}

.header-search-link__link {
  align-self: stretch;
}

.header-search-link__input-box {
  background: var(--main2, #e5eddb);
  border-radius: 100px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  height: 40px;
  position: relative;
}
.header-search-link__placeholder {
  color: #767676;
  text-align: center;
  font-family: "Pretendard-SemiBold", sans-serif;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: -0.0025em;
  font-weight: 600;
  position: relative;
}
.header-search-link__icon {
  flex-shrink: 0;
  width: 18px;
  height: 18px;
  position: relative;
  overflow: visible;
}

/*  ========================================== /
     FRAGMENT: 3개의 임시 도서 이미지
     FILE: background.html
/   ========================================== */
.bg-no-tree-book {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  gap: 21px;
  align-items: center;
  justify-content: center;
}
.bg-no-tree-book__list {
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-end;
  justify-content: center;
  align-self: stretch;
  flex: 1;
  position: relative;
}

/*  ========================================== /
     FRAGMENT: 배경 반반(흰/초), 도서 중앙 1개
     FILE: background.html
/   ========================================== */

.text-book-info{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    height: 137px;
}
.text-book-info-frame{
  width: 100%;
  display: flex;
  background: var(--white);
}
.text-book-info__seed{
    display: inline;
    padding: 2px 8px;
    border-radius: 4px;
    font-size: 10px;
    font-weight: var(--medium);
    line-height: var(--line-height-main);
    letter-spacing: var(--letter-spacing-main);
    color: var(--white);
    background: var(--main1);
}
.text-book-info__title{
    font-size: 24px;
    font-weight: var(--bold);
    line-height: var(--line-height-main);
    letter-spacing: var(--letter-spacing-main);
    color: var(--main1);
}
.text-book-info__create{
    width: 100%;
    display: flex;
    justify-content: left;
    gap: 2px;
}
.text-book-info-create-info{
    display: flex;
    font-size: 14px;
    font-weight: var(--regular);
    line-height: var(--line-height-main);
    letter-spacing: var(--letter-spacing-main);
    color: var(--text-sub);
}
/*  ========================================== /
     FRAGMENT: FUll 가로 버튼 - link 버전
/   ========================================== */
.btn-full-width {
  border-radius: 40px;
  box-shadow: var(--shadow-basic);
  transition: all 0.3s linear;
}

.btn-full-width:hover {
  box-shadow: var(--shadow-active);
}

.btn-full-width__button {
  background: #323a27;
  border-radius: 40px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  row-gap: 0;
  align-items: center;
  justify-content: center;
  align-self: stretch;
  flex-shrink: 0;
  height: 56px;
  position: relative;
}
.btn-full-width__placeholder {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 16px;
  line-height: var(--line-height-main, 140%);
  letter-spacing: var(--letter-spacing-main, -0.025em);
  font-weight: var(--bold, 700);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

/*  ========================================== /
    FRAGMENT: 네비게이션바
/   ========================================== */
.nav-box {
  box-shadow: 0 -5px 10px -5px rgba(0, 0, 0, 0.3);
  background-color: var(--white, #ffffff);
}

.nav-box__list {
  display: flex;
  width: 100%;
}

.nav-box__link {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.nav-box__item {
  display: flex;
  justify-content: center;
  padding: 12px 16px;
  align-items: center;
  flex: 1;
}

.nav-box__img-box {
  margin: 4px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 32px;
}

.nav-box__icon-obj .nav-box__svg-path {
  fill: var(--main1, #323a27);
}

.nav-box__img-box--active {
  margin-bottom: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 32px;
  border-radius: 100px;
  background-color: var(--main2, #e5eddb);
}

.nav-box__text {
  font-weight: var(--semi-bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  font-size: 12px;
  color: var(--text-sub, #767676);
}

.nav-box__text--active {
  font-weight: var(--semi-bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  font-size: 12px;
  color: var(--main1, #323a27);
}

/*  ==========================================
    FRAGMENT: 메인 Title
    ========================================== */
.text-main-title {
  color: var(--main1, #323a27);
  text-align: center;
  font-weight: var(--bold, 700);
}

/*  ==========================================
    FRAGMENT: 화면 설명글
    ========================================== */

.textbox-no-tree {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
}

.textbox-no-tree__text-top {
  color: var(--main1);
  font-size: 20px;
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-sub);
}

.textbox-no-tree__text-bottom {
  color: var(--main1);
  font-size: 20px;
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-sub);
}

/* ========================================== /
   FRAGMENT: 뒤로가기 상단바 -- 오른쪽 버튼없음, 있음.
/ ========================================== */

.top-bar--green {
  background: var(--main2, #e5eddb);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 76px;
  position: relative;
  border-bottom: 1px solid var(--gray);
  padding: 0 24px 0 24px;
}

.top-bar--white {
  background-color: var(--white);
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  height: 76px;
  position: relative;
  justify-content: space-between;
  border-bottom: 1px solid var(--gray);
  padding: 0 24px;
}

.top-bar__frame {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 13.5px;
  position: relative;
}

.top-bar__title {
  color: var(--main1, #323a27);
  font-size: 20px;
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  font-weight: var(--bold);
  order: 1;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.top-bar__form {
  order: 2;
}

.top-bar__text {
  color: var(--main1, #323a27);
  font-size: 16px;
  letter-spacing: var(--letter-spacing-main);
  font-weight: var(--bold);
  align-self: flex-end;
  background: transparent;
  border: none;
  padding: 0;
  width: 41.49px;
  order: 2;
}
.tree-input-text--select__tag {
  display: flex;
  flex: 0 0 auto;
  align-items: center;
  height: 30px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 12px;
  background-color: var(--main1);
  font-size: 14px;
  font-weight: var(--semi-bold);
  color: var(--text-icon);
}

.tree-input-text--select__tag-button-name {
  align-self: center;
  border: none;
  background-color: var(--main1);
  font-size: 14px;
  font-weight: var(--semi-bold);
  color: var(--text-icon);
}

.tree-input-text--select__tag-button-cancle {
  align-self: center;
  border: none;
  background-color: var(--main1);
  font-size: 14px;
  font-weight: var(--semi-bold);
  color: var(--text-icon);
}

/*  ========================================== /
    FRAGMENT: 트리 직접 입력 도서 이미지 받기
/   ========================================== */
.input-book-img-box__input {
  display: none;
}

.input-book-img-box__img {
  width: 135px;
  height: 198px;
  border-radius: 12px;
  object-fit: cover;
  cursor: pointer;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/*  ========================================== /
    FRAGMENT: 텍스트 입력 바
/   ========================================== */
.input-text__label {
  display: flex;
  gap: 8px;
  flex-direction: column;
  width: 100%;
  position: relative;
}

.input-text__label-text {
  font-weight: var(--semi-bold);
}

.input-text__input {
  width: auto;
  height: 56px;
  display: flex;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: var(--regular);
  color: var(--text-sub);
  padding-left: 16px;
  background-color: var(--main3, #e5eddb);
}

.input-text__input--warning {
  outline: 2px solid var(--warning);
}

.input-text__input:focus {
  outline: 2px solid var(--filter-checked);
}

.input-text__input:not(:placeholder-shown) {
  color: var(--text-main);
  outline: 2px solid var(--main1, #323a27);
}

.input-text__input-wrong {
  margin: 12px 0 0 12px;
  color: var(--warning, #ba0c0c);
}

/*  ========================================== /
     FRAGMENT: 필터 선택 박스
/   ========================================== */
.input-select__subject {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  font-size: 16px;
  font-weight: var(--extra-bold);
}

.input-select--select__selected {
  display: flex;
  height: 56px;
  margin-top: 10px;
  border: none;
  border-radius: 12px;
  background-color: var(--main3, #f5f8f1);
  align-content: center;
  text-align: right;
  justify-content: space-between;
}

.input-select--select__selected--checked {
  outline: 2px solid var(--main1, #323a27);
}

.input-select--select__selected-description {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 16px;
  color: var(--text-sub);
  font-weight: var(--regular, 400);
  font-size: 16px;
}

.input-select--select__selected-description--checked {
  font-weight: var(--bold, 700);
  color: var(--main1, #323a27);
}

.input-next-button {
  border: none;
  margin-right: 16px;
  background-color: var(--main3, #f5f8f1);
}

/*  ========================================== /
     FRAGMENT: 공개성 여부 체크
/   ========================================== */
.input-visibility {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 100%;
  height: 114px;
}

.input-visibility__name {
  color: var(--main1);
  font-size: 16px;
  font-weight: var(--bold);
  line-height: var(--line-height-main);
}

.input-visibility__btns {
  border-radius: 12px;
  padding: 8px 7px 8px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
}

.input-visibility__label {
  flex: 1;
}

.input-visibility__btn {
  background: var(--main3);
  border-radius: 12px;
  color: var(--text-no-active);
  font-weight: var(--bold);
  border: none;
  padding: 0 46px 0 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 100%;
  appearance: none;
  cursor: pointer;
}

.input-visibility__btn::after {
  content: attr(label);
}

.input-visibility__btn:checked {
  background: var(--main1);
  color: var(--white);
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

/*  ========================================== /
    FRAGMENT: FUll 가로 버튼 - button 버전
/   ========================================== */
.btn-full-bar {
  width: 100%;
  height: 56px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-full-bar__btn {
  color: var(--white, #ffffff);
  background-color: var(--main1, #323a27);
  height: 56px;
  width: 100%;
  border-radius: 40px;
  box-shadow: var(--shadow-basic);
  font-weight: var(--bold, 700);
}

/*  ========================================== /
    FRAGMENT: 많은 텍스트 입력
/   ========================================== */
.input-textarea__label {
  display: flex;
  gap: 8px;
  flex-direction: column;
  font-weight: var(--semi-bold);
}

.input-textarea__textarea {
  padding: 17px 16px;
  border: none;
  border-radius: 12px;
  font-size: 16px;
  font-weight: var(--medium, 500);
  color: var(--main1);
  background-color: var(--main3);
  height: 230px;
}

.input-textarea__textarea:focus {
  outline: 2px solid var(--main1, #323a27);
}

.input-textarea__textarea:not(:placeholder-shown) {
  font-size: 16px;
  font-weight: var(--semi-bold);
  color: var(--main1);
  outline: 2px solid var(--main1, #323a27);
}

/*  ========================================== /
    FRAGMENT: 슬라이드 상당 필터 탭
/   ========================================== */
.filter-tab__box {
  background-color: var(--white, #ffffff);
  margin-top: 52px;
  border-radius: 18px;
  height: 100%;
  transition-property: height;
  transform: translateY(100%); /* 리스트가 아래로 숨겨짐 */
  transition: transform 0.3s ease-in-out;
}

.filter-tab__box.up {
  transform: translateY(0); /* 리스트가 위로 슬라이드됨 */
}

.filter-tab__header {
  width: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 24px;
  position: relative;
}

.filter-tab__btn--back {
  background-color: var(--white, #ffffff);
  padding: 10px;
  border: none;
  margin: 5px 0;
}

.filter-tab__header--title {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  color: var(--main1, #323a27);
  white-space: nowrap;
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.filter-tab__item {
  margin: 12px 24px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.filter-tab__item-label {
  padding: 5px 0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.filter-tab__item-radio {
  display: none;
}

.filter-tab__item--label-text {
  font-size: 16px;
  color: var(--text-sub, #767676);
  font-weight: var(--medium, 500);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.filter-tab__item--label-text--active {
  font-size: 16px;
  color: var(--main1, #323a27);
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.filter-tab__item--radio:checked + .filter-tab__item--label-text {
  font-size: 16px;
  color: var(--main1, #323a27);
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.filter-tab__icon-box {
  height: 36px;
  width: 36px;
}

.filter-tab__icon-img {
  display: none;
}

.filter-tab__item-radio:checked ~ .filter-tab__icon-box .filter-tab__icon-img {
  display: block;
}

/*  ========================================== /
    FRAGMENT: 짧은 녹색 버튼 - submit
/   ========================================== */
.text__btn--green {
  background-color: var(--main1);
  color: var(--white);
  box-shadow: var(--shadow-basic);
  text-align: center;
  font-size: 16px;
  font-weight: var(--bold);
  border-radius: 16px;
  transition: all 0.2s linear;
  padding: 20px;
}
.text__btn--green:focus {
  outline: 0;
}
.text__btn--green:hover {
  background-color: var(--main1);
  cursor: pointer;
  box-shadow: var(--shadow-active);
}

/* =================================
      input-back-search, input-search 
      검색버튼 뒤로가기버튼 있음. 없음.
   ===================================
 */
a {
  text-decoration: none;
}
button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.search__form {
  display: flex;
  align-items: center;
}
.search-bar {
  background: var(--main2);
  border-radius: 20px;
  padding: 8px 16px 8px 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 1;
}
.search-bar--label {
  display: flex;
  flex-grow: 1;
  font-size: 14px;
}
.search-bar--input {
  width: 100%;
  font-weight: var(--semi-bold);
  font-size: 14px;
  background-color: var(--main2);
  border: none;
}
.search-bar--input:focus {
  outline: none;
}
/*  */
.search-bar--close {
  display: none;
}
.search-bar--input:not(:placeholder-shown) {
  font-weight: var(--semi-bold);
  font-size: 14px;
  background-color: var(--main2);
}
/*  */
.search-bar--input:not(:placeholder-shown) + .search-bar--close {
  display: inline;
  height: 18px;
}
/*  */
.search-bar-img {
  height: 18px;
}

/* =========================
    topbar-search-result-num
          검색 결과 개수
  ========================== */

.top-bar-search-result-num {
  box-sizing: border-box;
  background-color: var(--main3);
  border-radius: 8px;
  padding: 8px 16px 8px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
  height: 34px;
}

.top-bar-search-result-number {
  color: var(--text-sub, #767676);
  text-align: center;
  font-size: 12px;
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  font-weight: var(--bold);
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-bar-search-result-text {
  color: var(--text-sub, #767676);
  text-align: center;
  font-size: 12px;
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  font-weight: var(--medium);
  display: flex;
  align-items: center;
  justify-content: center;
}/*card- 기본정보 */
.card-tree-info{
  height: 41px;
  border-bottom: 1px solid var(--main1);
  font-size: 20px;
  color: var(--main1, #323a27);
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-tree-info__frame{
  width: 245px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card-tree-info__title{
  font-size: 14px;
  color: var(--main1, #323a27);
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-tree-info__content{
  font-size: 14px;
  color: var(--text-sub, #767676);
  font-weight: var(--regular);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
v
}

/* =========================
         first-log-box
    첫뻔째 로그 생성 로그 이미지
  ========================== */
.first-log-box {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.first-log-box__line {
  width: 8px;
  height: 40px;
  background: var(--main1, #323a27);
}

.first-log-box__circle {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-top: 4px;
  background: var(--warning, #ba0c0c);
}

/*  ==========================================
    FRAGMENT: 메인 중앙 Title
    ========================================== */

.text-main-title-box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-main-title--center {
  color: var(--main1, #323a27);
  text-align: center;
  font-weight: var(--bold, 700);
}


/*  ==========================================
    FRAGMENT: 로그 페이지 구간 기록
    ========================================== */
.input-page-number-box {
  display: flex;
  height: 131px;
  max-width: 1280px;
  padding-bottom: 23px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.input-page-number__title {
  display: block;
  margin-bottom: 4px;
  color: var(--main1);
  text-align: center;
  font-size: 16px;
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  font-weight: var(--bold);
}
.input-page-number__frame {
  display: flex;
  flex-direction: row;
  gap: 11px;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-page-number__input--start {
  background: var(--main3);
  border-radius: 12px;
  border: none;
  padding: 17px 16px 17px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 110px;
  appearance: none;
}

.input-page-number__input--start:focus {
  font-weight: var(--semi-bold);
  outline: 2px solid var(--filter-checked);
}

.input-page-number__input--start:not(:placeholder-shown) {
  color: var(--text-main);
  outline: 2px solid var(--filter-checked);
  font-weight: var(--bold);
}

.input-page-number__input--start::placeholder {
  font-size: 16px;
  font-weight: var(--regular);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-sub);
  color: var(--text-sub);
}

.input-page-number__input--start:focus::placeholder {
  font-weight: var(--semi-bold);
}

.input-page-number__input--end {
  background: var(--main3);
  border-radius: 12px;
  border: none;
  padding: 17px 16px 17px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 110px;
  appearance: none;
}
.input-page-number__input--end:focus {
  outline: 2px solid var(--filter-checked);
  font-weight: var(--bold);
}

.input-page-number__input--end:not(:placeholder-shown) {
  color: var(--text-main);
  outline: 2px solid var(--filter-checked);
  font-weight: var(--bold);
}

.input-page-number__input--end::placeholder {
  font-size: 16px;
  font-weight: var(--regular);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-sub);
  color: var(--text-sub);
}
.input-page-number__input--end:focus::placeholder {
  font-weight: var(--semi-bold);
}

/*  ==========================================
    FRAGMENT: 태그 선택
    ========================================== */
.input-tag-select-box {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.input-tag-select__bg {
  width: 100%;
  display: flex;
  flex-direction: row;
}

.input-tag-select__label-text {
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-sub);
  color: var(--main1, #323a27);
}

.input-tag-select__button-box {
  display: flex;
  width: 100%;
  flex-direction: row;
  border-radius: 12px;
  align-items: center;
  padding: 16px;
  justify-content: space-between;
  background-color: var(--main3, #f5f8f1);
}

.input-tag-select__tag-box {
  flex-wrap: wrap;
  gap: 8px;
}

.input-tag-select__placeholder {
  margin: 8px 16px 4px 16px;
}

.input-tag-select__button {
  height: 56px;
  width: 56px;
}

.input-tag-select__tag-label {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.input-tag-select__tags {
  margin: 0 0 0 16px;
  display: inline-block;
  flex-direction: row;
}

.input-tag-select__tag-text {
  display: block;
  font-size: 14px;
  color: var(--white, #ffffff);
}

.input-tag-select__tag {
  display: inline-block;
  flex-direction: row;
  border-radius: 12px;
  margin: 4px 0 4px 0;
  padding: 6px 12px 6px 12px;
  background-color: var(--main1, #323a27);
}

/*  ==========================================
    FRAGMENT: 로그 생성 이미지
    ========================================== */
.before-log-box {
  width: 100%;
}

.before-log__branch {
  width: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.before-log__line {
  width: 2px;
  height: 20px;
  background: var(--main1, #323a27);
}

.before-log__circle {
  width: 12px;
  height: 12px;
  margin-top: 4px;
  border-radius: 100px;
  background-color: var(--warning, #ba0c0c);
}

.before-log__text {
  font-weight: var(--bold, 700);
  font-size: 20px;
  color: var(--main1, #323a27);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.before-log__title {
    font-size: 16px;
    color: var(--text-sub, #767676);
    font-weight: var(--bold, 700);
    line-height: var(--line-height-main);
    letter-spacing: var(--letter-spacing-main);
}

.before-log__date {
    font-size: 14px;
    color: var(--text-sub, #767676);
    font-weight: var(--regular, 400);
    line-height: var(--line-height-main);
    letter-spacing: var(--letter-spacing-main);
}

.before-log__tags {
    display: flex;
    flex-direction: row;
    gap: 4px;
    margin-top: 2px;
}

.before-log__tag {
    display: inline-block;
    border-radius: 4px;
    padding: 2px 8px;
    background-color: var(--main1, #323a27);
    font-size: 14px;
    font-weight: var(--medium, 500);
    line-height: var(--line-height-main);
    letter-spacing: var(--letter-spacing-main);
    color: var(--white, #ffffff);
}

/*  ==========================================
    FRAGMENT: 메인 오른족 Title
    ========================================== */
.text-main-title-box--right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.text-main-title--right {
  color: var(--main1, #323a27);
  font-weight: var(--bold, 700);
  text-align: center;
}


/*  ==========================================
    FRAGMENT: 로그 경로 바
    ========================================== */
.log-path-box {
    width: 100%;
    border-top: 1px solid var(--gray, #d9d9d9);
    padding: 13px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: var(--main2, #e5eddb);
    font-size: 14px;
    font-weight: var(--bold, 700);
}

/*  ==========================================
    FRAGMENT: 로그 정보
    ========================================== */

.log-item__link {
  display: inline-block;
}

.log-item__text-box {
  margin: 22px 0 0 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.log-item__title {
  font-size: 16px;
  color: var(--main1, #323a27);
  font-weight: var(--bold, 700);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.log-item__date {
  font-size: 14px;
  color: var(--text-sub, #767676);
  font-weight: var(--regular, 400);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}

.log-item__tag {
  display: inline-block;
  border-radius: 4px;
  padding: 2px 8px;
  background-color: var(--main1, #323a27);
  font-size: 14px;
  font-weight: var(--medium, 500);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  color: var(--white, #ffffff);
}

/*  ==========================================
    FRAGMENT: 로그 TYPE 1
    ========================================== */

.log-item__type--1 {
    margin: 300px 24px 0 24px;
    padding-top: 26px;
    display: flex;
    flex-direction: row;
}

.log-item__branch-img--1 {
    background-color: white;
    width: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 4px;
    margin-bottom: 2px;
}

.log-item__line--1 {
    width: 2px;
    height: 70px;
    background: var(--main1, #323a27);
}

.log-item__circle--1 {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: var(--main1, #323a27);
}

/*  ==========================================
    FRAGMENT: 로그 TYPE 2
    ========================================== */
.log-item__type--2 {
  margin: 2px 0 2px 24px;
  display: flex;
  flex-direction: row;
}

.log-item__branch-img--2 {
  display: flex;
  width: 12px;
  gap: 4px;
  flex-direction: column;
  align-items: center;
}

.log-item__line-top--2 {
  width: 2px;
  height: 20px;
  background: var(--main1, #323a27);
}

.log-item__circle--2 {
    width: 12px;
    height: 12px;
    border-radius: 100px;
    background-color: var(--main1, #323a27);
}

.log-item__line-bot--2 {
  width: 2px;
  height: 70px;
  background: var(--main1, #323a27);
}

.log-item__info-box {
  width: 100%;
}

.log-item__right-branch-img--2 {
  width: 100%;
  margin: 29px 0 0 0 ;
}

.log-item__line-right--2 {
  height: 2px;
  width: 100%;
  background-color: var(--branch-left, #D6D8D4);
}

.log-item__text-box--2 {
  margin: 15px 0 0 8px;
}

/*  ==========================================
    FRAGMENT: 로그 TYPE 3
    ========================================== */
.log-item__type--3 {
  margin: 2px 0 2px 0;
  display: flex;
  flex-direction: row;
}

.log-item__branch-img--3 {
  display: flex;
  width: 12px;
  gap: 4px;
  flex-direction: column;
  align-items: center;
}

.log-item__line-top--3 {
  width: 2px;
  height: 20px;
  background: var(--main1, #323a27);
}

.log-item__circle--3 {
  width: 12px;
  height: 12px;
  border-radius: 100px;
  background-color: var(--main1, #323a27);
}

.log-item__line-bot--3 {
  width: 2px;
  height: 70px;
  background: var(--main1, #323a27);
}

.log-item__right-branch-img--3 {
  width: 100%;
  margin: 29px 0 0 0 ;
}

.log-item__line-right--3 {
  height: 2px;
  width: 100%;
  background-color: var(--branch-left, #D6D8D4);
}

.log-item__text-box--3 {
  margin: 15px 0 0 8px;
}

.log-item__left-branch-img--3 {
  padding-top: 29px;
}

.log-item__line-left--3 {
    margin-right: 4px;
    height: 2px;
    width: 20px;
    background-color: var(--main1, #323a27);
}

/*  ==========================================
    FRAGMENT: 로그 TYPE 4
    ========================================== */
.log-item__type--4 {
  margin: 0 24px 0 24px;
  padding: 2px 0;
  display: flex;
  flex-direction: row;
}

.log-item__text-box--4 {
  margin: 44px 0 0 8px;
}

/*  ==========================================
    FRAGMENT: 로그 TYPE 5
    ========================================== */
.log-item__type--5 {
  margin: 2px 0 2px 0;
  display: flex;
  flex-direction: row;
}

.log-item__text-box--5 {
  margin: 44px 0 0 8px;
}

/*  ==========================================
    FRAGMENT: 로그 TYPE 6
    ========================================== */
.log-item__type--6 {
  margin: 0 24px 400px 24px;
  display: flex;
  flex-direction: row;
}

.log-item__circle--check {
  background-color: var(--warning, #ba0c0c);
}

/*  ==========================================
    FRAGMENT: 브랜치 정보 하단바
    ========================================== */
.branch-state-main {
  box-shadow: var(--shadow-basic);
  transition: all 0.2s linear;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px 24px;
  background-color: var(--white, #ffffff);
}

.branch-state-main:hover {
  box-shadow: var(--shadow-active);
}

.branch-state__header {
  display: flex;
  gap: 8px;
}

.branch-state__icon-box {
  box-sizing: border-box;
  background-color: var(--main1);
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 4px;
  justify-content: center;
  align-items: center;
  padding: 8px;
}

.branch-state__box-image {
  display: flex;
  align-items: center;
  justify-items: center;
}

.branch-state__name {
  display: flex;
  align-items: center;
  color: var(--main1, #323a27);
  font-size: 18px;
  letter-spacing: var(--letter-spacing-main);
  font-weight: var(--bold);
}

.branch-state__info {
  display: flex;
  justify-content: space-between;
}

.branch-state__stats {
  display: flex;
  gap: 6px;
  font-size: 14px;
  color: var(--text-sub, #767676);
  font-weight: var(--regular);
}

.branch-state__nums {
  color: var(--text-sub);
  font-weight: var(--bold);
}

.branch-state__date {
  color: var(--text-sub);
  font-size: 12px;
}

/* =========================
    topbar-search-result-num
          검색 결과 개수
  ========================== */
.link-cover-img{
box-shadow: var(--shadow-basic);
}
.link-cover-img-anker{
  display: flex;
  flex-direction: column;
  gap: 4px;
  width: 126px;
  background: transparent;
}
.link-cover-img-p {
  display: flex;
  justify-content: center;
}
/*==============================
트리-브랜치-상세정보 숨긱기 버튼
card.html
===============================*/
.card-tree-info-cover-frame{
  display: flex;
  padding-left: 64px;
  height: 70px;
  align-items: flex-end;
  position: relative;
}
.card-tree-info-cover{
  width: 60px;
  height: 90px;
  position: absolute;
  top: 0;
  left: 0;
}
.card-tree-title{
  font-size: 16px;
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-book-title{
  font-size: 14px;
  font-weight: var(--medium);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.card-tree-info__detail-frame{
  width: 100%;
  display: flex;
  flex-direction: column;

}
.card-tree-info__detail-input{
  display: none;
  cursor: none;
}
.card-tree-info__detail{
  padding-top: 7px;
  padding-bottom: 10px;
  margin-left: auto;
  content: "자세히";
  font-size: 10px;
  cursor: pointer;
}
.card-tree-info__detail::after{
  width: 7px;
  height: 7px;
  content: '';
  display: inline-block;
  align-items: center;
  background-image: url('/svg/hidden-on.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.card-tree-info__detail-content{
  width: 100%;
  display: none;
}

.card-tree-info__detail-input:checked + .card-tree-info__detail::after{
  width: 7px;
  height: 7px;
  content: '';
  align-items: center;
  display: inline-block;
  background-image: url('/svg/hidden-off.svg');
  background-position: center;
  background-size: contain;
}

.card-tree-info__detail-input:checked ~ .card-tree-info__detail-content{
  width: 100%;
  display: flex;
}
.text-book-info--no-title{
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}
.text-book-info--no-title__creaters{
  display: flex;
}
.text-book-info--no-title__page{
  font-size: 14px;
  font-weight: var(--regular);
  color: var(--text-sub);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.text-book-info--no-title__seed{
  display: inline-block;
  padding: 2px 8px;
  font-size: 10px;
  font-weight: var(--medium);
  color: var(--white);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  border-radius: 4px;
  background: var(--main1);
}
