/* 모바일 가로 스크롤 방지 */
html,
body {
  width: 100%;
  overflow-x: hidden;
}

.header-search-container {
  padding: 30px 24px 40px 24px;
}

.my-tree-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-self: stretch;
  position: relative;
  gap: 39px;
  margin-bottom: 50px;
}

.my-tree-title-container {
  padding: 0 24px 0px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  align-self: stretch;
  flex-shrink: 0;
  position: relative;
}

.my-tree-list {
  margin-left: 24px;
  margin-right: 24px;
}

.text-info-container {
  display: flex;
  flex-direction: row;
  align-self: stretch;
  margin: 70px 0 300px 0;
  align-items: self-start;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.book-tree-info-container {
  display: flex;
  background-color: var(--main3);
  flex-direction: column;
  justify-content: center;
  gap: 50px;
}

.my-tree-container::before {
  content: " ";
  width: 100%;
  height: 40vh;
  background-color: var(--white);
  position: absolute;
}

.book-img-container {
  z-index: 2;
  display: flex;
  justify-content: center;
}

.book-tree-explanation-container {
  margin: 0 24px 0 24px;
}

.btn-full-width-link-container {
  margin: 0 5% 28px 5%;
  width: 90%;
  top: 550px;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: absolute;
}

.book-tree-input-form-container {
  display: flex;
  flex-direction: column;
}

.select-title-container {
  margin: 28px 24px 200px 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.book-tree-input-form__photo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 230px;
  left: 50%;
  transform: translateX(-50%);
}

.book-tree-input-form__large-input-container {
  margin: 60px 24px 30px 24px;
}

.book-tree-input-form__input-container {
  margin: 60px 24px 30px 24px;
  height: 110px;
}

.input-form__input-container {
  margin: 60px 24px 30px 24px;
  height: 110px;
}

.filter-tab-container {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
  position: fixed;
}

.book-tree-submit-container {
  margin: 120px 24px 200px 24px;
}

/* /tree/register/selectselect-no-data.html */
.reg-book-search-container {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 30px 26px 24px 24px;
}

/*트리 생성 이미지 input 뒤에 초록색 배경*/
.book-tree-input-form::before {
  content: "";
  display: block;
  background-color: var(--main3, #e5eddb);
  width: 100%;
  height: 136px;
}

.btn-select-container {
  margin: 28px 24px 24px 28px;
}

.btn-select-container--right {
  display: flex;
  flex-direction: row-reverse;
  padding-right: 28px;
  margin-bottom: 28px;
}

.nav-back-container {
  display: block;
  width: 100%;
  height: 85px;
}

.margin-bottom24 {
  margin-bottom: 24px;
}

.margin-bottom160 {
  margin-bottom: 160px;
}
.margin-bottom500 {
  margin-bottom: 500px;
}

/*
home-tree__reg-4--search-book__input
*/
.home-tree__reg-4--search-book {
  padding-top: 28px;
  padding-left: 24px;
  padding-bottom: 48px;
  font-size: 28px;
  color: var(--main1, #323a27);
  font-weight: var(--bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
}
.home-tree__reg-4--search-book__input-container {
  padding-top: 60px;
  padding-left: 24px;
  padding-right: 24px;
}
.tree-book-reg-search-book__title-container {
  width: 100%;
  margin-top: 28px;
  margin-left: 24px;
  margin-bottom: 48px;
  display: flex;
  justify-content: left;
}
.tree-reg-cover-info__container {
  width: 100%;
  height: 326px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.tree-reg-cover__container {
  position: absolute;
  height: 167px;
  top: 0;
}
.tree-reg-book-info__container {
  margin-top: 167px;
  padding-top: 70px;
  padding-left: 24px;
  padding-right: 24px;
  width: 100%;
  height: 100px;
  background: var(--main2--opacity40);
}
.tree-info-card__container {
  padding-top: 40px;
  padding-left: 24px;
  padding-right: 24px;
}

.nav-container {
  position: fixed;
  width: 100%;
  bottom: 0;
  z-index: 10;
}

/* /home/tree/search/list.html */
.tree-card-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-left: 24px;
  margin-right: 24px;
}

.tree-card-list::after {
  content: " ";
  display: block;
  width: 100%;
  height: 50px;
}

.first-log-title-container {
  margin: 30px 26px 40px 24px;
}

.first-log_page-input-container {
  margin: 0 24px 34px 24px;
}

.input-form__select-tag-input-container {
  margin: 0 24px 34px 24px;
}

.before-log-img-container {
  margin: 0 24px;
}

.before-log-title-container {
  margin: 60px 26px 56px 24px;
}

.before-log_page-input-container {
  margin: 0 24px 24px 24px;
}

.log-list-header-container {
  width: 100%;
  position: fixed;
  top: 0;
  z-index: 10;
}

.log-path-container {
  width: auto;
  padding: 0 24px 0 24px;
  background-color: var(--main2, #e5eddb);
}

.log-list-date-title-container {
  margin: 14px 24px 0 24px;
  position: absolute;
  right: 0;
  z-index: 20;
}

.log-list-bot-bar-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.log-list-bot-btn-container {
  margin: 0 24px 16px 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.log-list-bot-bar-info-container {
  z-index: 10;
}

/*================================
    tree/branch/list.html
================================*/
.back-search-bar__container {
  padding-top: 50px;
  padding-left: 24px;
  padding-right: 24px;
}
.branch-tree-info__container {
  height: 70px;
  padding-top: 39px;
  padding-left: 24px;
  padding-right: 24px;
}
.branch-tree-detail-container {
  padding-left: 24px;
  padding-right: 24px;
  background: var(--main2--opacity40);
}
.card-tree__description-title__container {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.card-progress__container {
  padding-top: 48px;
}

.card-progress-home-container {
  background-color: var(--main2);
  padding: 18px 16px 18px 16px;
  box-shadow: var(--shadow-basic);
  border-radius: 8px;
  margin-bottom: 20px;
}

.card-tree-memoir-create-btn-container {
  padding-top: 30px;
  padding-bottom: 32px;
}

.branch-list__container {
  padding-top: 34px;
  padding-left: 24px;
  padding-right: 24px;
}
.branch-filter__container {
  padding-top: 12px;
}
.branch-filter-search__container {
  padding-top: 24px;
  padding-bottom: 10px;
}
.branch-filter-result-list__container {
  padding-top: 10px;
  padding-bottom: 10px;
}
.short-btn-container {
  display: flex;
  flex-direction: row-reverse;
  margin: 24px;
}
.register__input-container {
  padding-top: 60px;
  padding-left: 24px;
  padding-right: 24px;
}

.register__input-container--last {
  padding: 60px 24px 60px;
}

.book-detail-top-bar-container {
  width: 100%;
  margin: 30px 0 40px 0;
  position: absolute;
  top: 0;
  z-index: 10;
}

.book-detail-bg-container {
  position: relative;
}

.book-detail-like-bar-container {
  width: 100%;
  position: absolute;
  bottom: 18px;
}

.book-detail-book-info-container {
  padding: 30px 24px 30px 24px;
}

.book-detail-my-tree-container {
  margin: 64px 0 0 0;
}

.book-detail-my-tree-list-container {
  margin: 0 0 60px 0;
}

.book-detail-my-tree-title-container {
  margin: 0 24px 24px 24px;
}

.book-detail-other-recode-container {
  background-color: var(--main3, #f5f8f1);
  padding: 40px 0 300px 0;
}

.book-detail-other-recode-title-container {
  margin: 0 24px 0 24px;
}

.book-detail-other-recode-sub-title-container {
  margin: 70px 24px 16px 24px;
}

.book-detail-bot-aside-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

.book-detail-comment-tab-container {
  position: fixed;
  top: 100%;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 20;
  overflow: hidden;
  transition: all 0.5s ease;
}

.book-detail-comment-tab-container--active {
  top: 265px; /* 최종 위치 */
  transform: translateY(0); /* 원래 위치로 이동 */
}
.user-tree-user-info-container {
  padding: 35px 24px 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 200px;
}
.user-info__top-bar-container {
  display: flex;
}
.user-tree-info__container {
  height: 70px;
  padding-top: 15px;
  padding-left: 24px;
  padding-right: 24px;
}
.memoir-tree-detail-contrainer {
  padding-top: 15px;
}
.tree-memoir-content-container {
  padding: 41px 24px 31px;
  display: flex;
  border-bottom: 1px dotted var(--main1);
  flex-direction: column;
  gap: 10px;
}
.tree-memoir-user-bar-container {
  padding: 16px 24px;
}
.tree-index-comment-container {
  padding-top: 30px;
}
.user-another-records {
  margin-top: 22px;
  padding-top: 38px;
  background: var(--main2--opacity40);
}
.user-another-records-title-container {
  padding-left: 24px;
  padding-right: 24px;
}
.branch-tree-other-recode-sub-title-container {
  margin-top: 70px;
  margin-bottom: 16px;
  padding-left: 24px;
  padding-right: 24px;
}
.branch-tree-another-record-list-container {
  margin-left: 12px;
  margin-right: 12px;
}
.branch-tree-aside-container {
  width: 100%;
  position: fixed;
  bottom: 0;
  z-index: 10;
}

/*================================
    login.html
================================*/

.social-login-container {
    padding: 30px 0 0 0;
}

.join-guide-container {
    padding: 50px 24px 40px 24px;
}

.login-member__join-page-container {
  width: auto;
    padding: 50px 24px 0 24px
}

.login-screen-container {
  padding-top: 30px;
}