<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="./top-bar.css" />
  </head>
  <body>
    <section class="tob-bar">
      <a href=""><img class="tob-bar__icon" src="svgs/icon.svg" /></a>
      <p class="tob-bar__text">트리 생성</p>
    </section>

    <section class="tob-bar">
      <a href=""><img class="tob-bar__icon" src="svgs/icon.svg" /></a>
      <p class="tob-bar__text">트리 생성</p>
      <p class="top-bar__text">초기화</p>
    </section>

    <section class="tob-bar">
      <a href=""><img class="tob-bar__icon" src="svgs/icon.svg" /></a>
      <p class="tob-bar__text">트리 생성</p>
      <p class="top-bar__text">완료</p>
    </section>
  </body>
</html>
