.tob-bar {
  background: var(--main-2, #e5eddb);
  display: flex;
  flex-direction: row;
  gap: 0px;
  align-items: center;
  justify-content: space-between;
  align-self: stretch;
  height: 76px;
  position: relative;
}

.tob-bar__text {
  color: var(--main-1, #323a27);
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 20px;
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  font-weight: var(--bold);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.tob-bar__text {
  color: var(--main-1, #323a27);
  font-family: "Pretendard-Bold", sans-serif;
  font-size: 20px;
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-main);
  font-weight: var(--bold);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: ;
}
.tob-bar__icon {
  display: flex;
  flex-direction: row;
  gap: 10px;
  row-gap: 0px;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  margin-left: ;
}
