<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Recorders.ggogit.domain.member.repository.MemberProfileImageRepository">

    <insert id="save" parameterType="MemberProfileImage">
        INSERT INTO MEMBER_PROFILE_IMAGE(NAME)
        VALUES(#{name})
    </insert>

    <update id="update" parameterType="MemberProfileImage">
        UPDATE MEMBER_PROFILE_IMAGE
        SET NAME = #{name}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="MemberProfileImage">
        DELETE MEMBER_PROFILE_IMAGE
        WHERE ID = #{id}
    </delete>

    <select id="findAll" resultType="MemberProfileImage">
        SELECT * FROM MEMBER_PROFILE_IMAGE
    </select>

    <select id="findById" resultType="Long">
        SELECT * FROM MEMBER_PROFILE_IMAGE
        WHERE ID = #{id}
    </select>

    <select id="findByName" resultType="String">
        SELECT * FROM MEMBER_PROFILE_IMAGE
        WHERE NAME LIKE '%${name}%'
    </select>
</mapper>