@import url("../../../../static/common/variables.css");

* {
  box-sizing: border-box;
}
/* page */
.page {
  display: flex;
  width: 395px;
  height: 131px;
  padding-bottom: 23px;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.page__name {
  display: block;
  padding: 16px 24px 4px 24px;
  color: var(--main1);
  text-align: center;
  font-size: 16px;
  line-height: var(--line-height-main);
  letter-spacing: var(letter-spacing-main);
  font-weight: var(--bold);
}
.page__inputs {
  padding: 0px 24px 10px 24px;
  display: flex;
  flex-direction: row;
  gap: 11px;
  row-gap: 0px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 375px;
}
.page-start__input--unfocused {
  background: #f5f8f1;
  border-radius: 12px;
  border: none;
  padding: 17px 16px 17px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 158px;
  height: 56px;
}

.page-start__input--unfocused::placeholder {
  font-size: 16px;
  font-weight: var(--regular);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-sub);
  color: var(--text-sub);
}

.page-last__input--unfocused {
  background: #f5f8f1;
  border-radius: 12px;
  border: none;
  padding: 17px 16px 17px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 158px;
  height: 56px;
}
.page-last__input--unfocused::placeholder {
  font-size: 16px;
  font-weight: var(--regular);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-sub);
  color: var(--text-sub);
}
.page-start__input--focused {
  background: #f5f8f1;
  border-radius: 12px;
  border: 1px solid var(--main1);
  padding: 17px 16px 17px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 158px;
  height: 56px;
}

.page-start__input--focused::placeholder {
  font-size: 16px;
  font-weight: var(--semi-bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-sub);
  color: var(--text-main);
}

.page-last__input--focused {
  background: #f5f8f1;
  border-radius: 12px;
  border: 1px solid var(--main1);
  padding: 17px 16px 17px 16px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 158px;
  height: 56px;
}
.page-last__input--focused::placeholder {
  font-size: 16px;
  font-weight: var(--semi-bold);
  line-height: var(--line-height-main);
  letter-spacing: var(--letter-spacing-sub);
  color: var(--text-main);
}

/* visibility */
.visibility {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  width: 395px;
  height: 114px;
}

.visibility__name {
  color: var(--main1);
  font-size: 16px;
  font-weight: var(--bold);
  line-height: var(--line-height-main);
}

.visibility__btns {
  border-radius: 12px;
  padding: 8px 7px 8px 7px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  justify-content: flex-start;
  align-self: stretch;
}
.visibility__btn {
  background: var(--main3);
  border-radius: 12px;
  color: var(--text-no-active);
  font-weight: var(--bold);
  border: none;
  padding: 0px 46px 0px 46px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 50%;
  appearance: none;
  cursor: pointer;
}

.visibility__btn::after {
  content: attr(label);
}

.visibility__btn:checked {
  background: var(--main1);
  color: var(--white);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
