<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="input.css" rel="stylesheet" />
  </head>

  <!-- input-visibility -->
  <div class="visibility">
    <div class="visibility--box">
      <p class="visibility--name">공개 여부</p>
      <div class="visibility--btn">
        <button class="visibility--btn__public visibility--btn__select">
          공개
        </button>
        <button class="visibility--btn__private">비공개</button>
      </div>
    </div>
  </div>

  <!-- input-page--unfocused -->
  <div class="page">
    <p class="page__name">페이지</p>
    <div class="page__inputs">
      <input class="page-start__input--unfocused" placeholder="시작 페이지" />
      <input class="page-last__input--unfocused" placeholder="마지막 페이지" />
    </div>
  </div>

  <!-- input-page--focused -->
  <div class="page">
    <p class="page__name">페이지</p>
    <div class="page__inputs">
      <input class="page-start__input--focused" placeholder="시작 페이지" />
      <input class="page-last__input--focused" placeholder="마지막 페이지" />
    </div>
  </div>
</html>
