<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="input.css" rel="stylesheet" />
  </head>

  <div class="page">
    <p class="page__name">페이지</p>
    <div class="page__inputs">
      <input class="page-start__input--unfocused" placeholder="시작 페이지" />
      <input class="page-last__input--unfocused" placeholder="마지막 페이지" />
    </div>
  </div>

  <div class="page">
    <p class="page__name">페이지</p>
    <div class="page__inputs">
      <input class="page-start__input--focused" placeholder="시작 페이지" />
      <input class="page-last__input--focused" placeholder="마지막 페이지" />
    </div>
  </div>
</html>
