<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/css/fragments.css}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet" />

    <title>home</title>
</head>
<body>

    <header>
        <h1 class="none">트리 수정 페이지</h1>
        <div th:replace="~{/fragments/top-bar::top-bar-tag-edit(tag='태그이름')}"></div>
    </header>

    <main>
        <section>
            <h2 class="none">태그 입력</h2>
            <div th:replace="~{/fragments/input::tag-search-or-register-bar}"></div>
        </section>

        <section>
            <h2 class="none">태그 기능 알림</h2>
            <div th:replace="~{/fragments/top-bar::top-bar-tag-info}"></div>
        </section>

        <section>
            <h1 class="none">삭제 버튼</h1>
            <div th:replace="~{/fragments/input::delete__form-btn}"></div>
        </section>

    </main>

</body>
</html>