<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/common/variables.css}" rel="stylesheet" />
    <link th:href="@{/css/fragments.css}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet" />

    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="none">태그 이름</h1>
<!--        <div th:replace="~{/fragments/top-bar::top-bar-tag-edit(tag='하하')}"></div>-->
        <div th:replace="~{/fragments/top-bar::top-bar-title(title='즐거운 텍스트')}"></div>
    </header>
    <main>
        <section>
            <h2 class="none">태그 검색</h2>
            <div th:replace="~{/fragments/input::tag-search-or-register-bar}"></div>
        </section>

        <section>
            <h2 class="none">태그 기능 알림</h2>
            <div th:replace="~{/fragments/top-bar::top-bar-tag-info}"></div>
        </section>

        <section>
            <h2 class="none">태그 리스트</h2>
            <div th:replace="~{/fragments/tag::tag-list(tags=${list})}"></div>
        </section>

    </main>
    <footer></footer>
</body>
</html>