.tree-input-text__form {
    display: flex;
    justify-content: center;
}
.tree-input-text__subject {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    font-size: 16px;
    font-weight: var(--semi-bold);
}
.tree-input-text__radius {
    display: flex;
    flex-grow: 1;
    height: 56px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    font-weight: var(--regular);
    color: var(--text-sub);
    background-color: var(--main3);
    padding-left: 16px;
}
.tree-input-text__radius:focus {
    outline: none;
}
.tree-input-text__radius:not(:placeholder-shown) {
    color: var(--text-main);
    border: 1px solid var(--filter-checked);
    outline: none;
}
.tree-input-text__radius__re-enter {
    display: block;
    height: 56px;
    border-color: var(--warning);
    border-radius: 20px;
    font-size: 16px;
    font-weight: var(--regular);
    color: var(--warning);
    background-color: var(--main3);
    padding-left: 16px;
}

.tree-create__link-btn {
    text-decoration: none;
}

/* 녹색배경 트리 생성하기 버튼 */
.tree-create__link-btn--green {
    width: fit-content;
    min-width: 327px;
    height: 56px;
    background-color: var(--main1);
    color: var(--white);
    border: none;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);
    font-size: 16px;
    font-weight: var(--bold);
    border-radius: 16px;
    transition: all 0.2s linear;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
}
.tree-create__link-btn--green:focus {
    outline: 0;
}
.tree-create__link-btn--green:hover {
    background-color: var(--main1);
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
}

.social-login {
    display: flex;
    justify-content: center;
    padding-top: 30px;
    padding-left: 64px;
    padding-right: 64px;
}

.social-login__icons {
    display: inline-block;
    margin-right: 48px;
}