<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/css/fragments.css}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet" />

    <title>Document</title>
</head>
<body class="login-member__join-page-container">
<header>
    <h1 class="none">뒤로가기</h1>
    <div th:replace="~{/fragments/button::login-join-page__back-btn}"></div>
</header>

<section class="login-screen-container" th:object="${member}">
    <h1 class="none">로그인 화면 안내</h1>
    <div th:if="${!#fields.hasGlobalErrors()}">
        <div th:replace="~{/fragments/text::text-login__page-info(label='로그인', infoText='이메일과 비밀번호를 입력해주세요.')}"></div>
    </div>
    <div th:if="${#fields.hasGlobalErrors()}" >
        <div th:replace="~{/fragments/text::text-login__page-info(label='로그인', infoText='')}"></div>
        <div class="text--errors" th:with="err = ${#fields.globalErrors().getFirst()}" th:text="${err}"></div>
    </div>
    <div th:if="${isNewMember == true}">
        <div class="text--alert" th:text="'가입하신 이메일과 비밀번호로 로그인 해주세요.'"></div>
    </div>

</section>


<form method="POST" th:action th:object="${member}">
<section class="social-login-container" >
    <h1 class="none">로그인</h1>
    <div class="input-text__bar">
        <label class="input-text__label">
            <span class="input-text__label-text" th:text="'이메일'">이메일</span>
            <input class="input-text__input" th:field="*{email}" th:placeholder="'이메일을 입력해주세요'" autocomplete="off"/>
        </label>
        <div th:errors="*{email}" class="text--errors"></div>
    </div>
</section>
<section class="social-login-container">
    <h1 class="none">비밀번호</h1>
    <div class="input-text__bar">
        <label class="input-text__label">
            <span class="input-text__label-text" th:text="'비밀번호'">비밀번호</span>
            <input class="input-text__input" type="password" th:field="*{password}" th:placeholder="'비밀번호를 입력해주세요'" autocomplete="off"/>
        </label>
        <div th:errors="*{password}" class="text--errors"></div>
    </div>
</section>
    <section class="social-login-container">
        <h1 class="none">로그인 버튼</h1>
        <div th:replace="~{/fragments/input::green-wide-btn(label='로그인')}"></div>
    </section>
</form>

<section class="social-login-container">
    <h1 class="none">소셜 로그인 버튼</h1>
    <div th:replace="~{/fragments/link::social-login}"></div>
</section>

<footer class="join-guide-container">
    <h1 class="none">회원가입 안내</h1>
        <div th:replace="~{/fragments/text::join-guide(infoText='계정이 없으신가요?', label='회원가입', href='/member/join')}"></div>
</footer>
</body>
</html>