<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../static/css/reset.css" />
    <title>Document</title>
</head>
<body>
    <header>
        <h1 class="none">회원가입 정보 입력</h1>
        <!-- 컨포넌트 -->
    </header>
    <main>
        <section>
            <h2 class="none">회원가입 정보</h2>
            <!-- 컨포넌트 -->

            <section>
                <h3 class="none">회원가입 이름</h3>
                <!-- 컨포넌트 -->
            </section>

            <section>
                <h3 class="none">회원가입 이메일</h3>
                <!-- 컨포넌트 -->
            </section>

            <section>
                <h3 class="none">회원가입 닉네임</h3>
                <!-- 컨포넌트 -->
            </section>

            <section>
                <h3 class="none">회원가입 한줄 소개</h3>
                <!-- 컨포넌트 -->
            </section>

            <section>
                <h3 class="none">회원가입 이용약관</h3>
                <!-- 컨포넌트 -->
            </section>

            <section>
                <h3 class="none">회원가입 버튼</h3>
                <!-- 컨포넌트 -->
            </section>

        </section>
    </main>
    
    <footer>
    </footer>
</body>
</html>