<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link th:href="@{/css/fragments.css}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet" />

    <title>0-index</title>
  </head>
  <body>
    <header class="top-bar-back-container">
      <h1 class="none">트리 생성</h1>
      <!-- 트리 생성 컴포넌트 -->
      <div
        th:replace="~{fragments/top-bar :: top-bar-back('트리 생성', '#')}"
      ></div>
    </header>

    <main>
      <section class="text-info-container">
        <h2 class="none">트리 생성 안내</h2>
        <div
          th:replace="~{fragments/text :: text-info('트리를 생성하기 위한',
        '씨앗을 선택해주세요')}"
        ></div>
      </section>

      <section class="btn-select-container">
        <h2 class="none">씨앗 선택 버튼</h2>
        <!-- 씨앗 선택 컴포넌트 -->
        <div
          th:replace="~{fragments/button :: link-full-width(link='#', text='씨앗 선택')}"
        ></div>
      </section>
    </main>

    <aside>
      <section>
        <h2 class="none">네비게이션 바</h2>
        <!-- aside 컴포넌트 -->
        <div th:replace="~{fragments/nav :: navigation-bar(home)}"></div>
      </section>
    </aside>
  </body>
</html>
