<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 class="none">트리 생성</h1>
      <section>
        <!-- 트리 생성 컴포넌트 -->
      </section>
    </header>

    <main>
      <h2>트리 생성 안내</h2>
      <!-- 트리 검색 컴포넌트 -->
      <!-- 빈 책 이미지 컴포넌트 -->
    </main>

    <section>
      <h2 class="none">도서 선택 버튼</h2>
      <!-- 도서 선택 컴포넌트 -->
    </section>

    <aside>
      <section>
        <h2 class="none">네비게이션 바</h2>
        <!-- aside 컴포넌트 -->
      </section>
    </aside>
  </body>
</html>
