<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 class="none">자바 검색 결과</h1>
      <section>
        <h2 class="none">자바 검색 바</h2>
        <!-- 컴포넌트 -->
        <section>
          <h3>검색 필터</h3>
          <!-- 컴포넌트 -->
        </section>
      </section>
    </header>

    <main>
      <h2>자바 검색 결과 리스트</h2>
      <!-- 컴포넌트 -->
    </main>

    <aside>
      <section>
        <h2 class="none">네비게이션 바</h2>
        <!-- aside 컴포넌트 -->
      </section>
    </aside>
  </body>
</html>
