<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/css/fragments.css}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet" />

    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 class="none">도서 선택 후 트리 생성</h1>
      <section>
        <h2 class="none">트리 생성</h2>
        <!-- 컴포넌트 -->
        <div th:replace="~{fragments/top-bar :: tob-bar-back(title='트리 생성', link='#')}">
        </div>
      </section>
    </header>

    <main>
      <h2 class="none">선택 도서 정보</h2>

      <section>
        <div th:replace="~{fragments/background :: bg-book-info--half--one-book}">
        </div>
      </section>
      <!-- 컴포넌트 -->
      <section>
        <h3 class="none">선택 도서 이미지</h3>
        <!-- 컴포넌트 -->
      </section>
      <section>
        <h3 class="none">선택 도서 메인 정보</h3>
        <!-- 컴포넌트 -->
      </section>
      <section>
        <h3 class="none">선택 도서 기본 정보</h3>
        <!-- 컴포넌트-->
      </section>
      <section>
        <h3 class="none">트리 이름 입력</h3>
        <!-- 컴포넌트 -->
      </section>
      <section>
        <h3 class="none">카테고리 선택</h3>
        <!-- 컴포넌트 -->
      </section>
      <section>
        <h3 class="none">트리 설명글</h3>
        <!-- 컴포넌트 -->
      </section>
      <section>
        <h3 class="none">공개성 선택</h3>
        <!-- 컴포넌트 -->
      </section>
      <section>
        <h3 class="none">트리 생성 버튼</h3>
        <!-- 컴포넌트 -->
      </section>
    </main>

    <aside>
      <section>
        <h2 class="none">네비게이션 바</h2>
        <!-- aside 컴포넌트 -->
      </section>
    </aside>
  </body>
</html>
