<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 class="none">기타 트리 생성</h1>
      <section>
        <h2 class="none">트리 생성</h2>
        <!-- 컴포넌트 -->
      </section>
    </header>

    <main>
      <h2 class="none">기타 트리 생성 양식</h2>
      <section>
        <h3 class="none">기타 사진 업로드</h3>
        <!-- 컴포넌트 -->
      </section>

      <section>
        <h3 class="none">트리 이름 작성</h3>
        <!-- 컴포넌트 -->
      </section>

      <section>
        <h3 class="none">설명글 작성</h3>
        <!-- 컴포넌트 -->
      </section>

      <section>
        <h3 class="none">공개성 선택</h3>
        <!-- 컴포넌트 -->
      </section>

      <section>
        <h3 class="none">트리 생성 버튼</h3>
        <!-- 컴포넌트-->
      </section>
    </main>

    <aside>
      <section>
        <h2 class="none">네비게이션 바</h2>
        <!-- aside 컴포넌트 -->
      </section>
    </aside>
  </body>
</html>
