<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 class="none">선택 도서 직접 입력</h1>
      <section>
        <h2 class="none">트리 생성</h2>
        <!-- 컴포넌트 -->
      </section>
    </header>

    <main>
      <h2 class="none">도서 직접 입력</h2>
      <!-- 컴포넌트 -->

      <section>
        <h3 class="none">빈 도서 이미지</h3>
        <!-- 컴포넌트 -->
      </section>

      <section>
        <h3 class="none">책 이름 입력</h3>
        <!-- 컴포넌트 -->
      </section>

      <section>
        <h3 class="none">지은이 입력</h3>
        <!-- 컴포넌트 -->
      </section>

      <section>
        <h3 class="none">출판사 입력</h3>
        <!-- 컴포넌트 -->
      </section>

      <section>
        <h3 class="none">페이지 수 입력</h3>
        <!-- 컴포넌트 -->
      </section>

      <section>
        <h3 class="none">카테고리 선택</h3>
        <!-- 컴포넌트 -->
      </section>

      <section>
        <h3 class="none">설명글 작성</h3>
        <!-- 컴포넌트 -->
      </section>

      <section>
        <h3 class="none">공개성 선택</h3>
        <!-- 컴포넌트 -->
      </section>

      <section>
        <h3>트리 생성하기 버튼</h3>
        <!-- 컴포넌트 -->
      </section>
    </main>

    <aside>
      <section>
        <h2 class="none">네비게이션 바</h2>
        <!-- aside 컴포넌트 -->
      </section>
    </aside>
  </body>
</html>
