<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link th:href="@{/css/fragments.css}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet" />

    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 class="none">도서 선택 후 트리 생성</h1>

      <section>
        <h2 class="none">트리 생성</h2>
        <!-- 컴포넌트 -->
        <div th:replace="~{fragments/top-bar :: top-bar-back(title='트리 생성', link='#')}">
        </div>
      </section>
    </header>

    <main>
      <h2 class="none">선택한 도서</h2>
      <section class="tree-book-reg-search-book__title-container">
        <h3 class="none">도서 TEXT 컨테이너</h3>
        <div th:replace="~{fragments/text :: text-main-title(title='선택한 도서', size=28)}"></div>
      </section>
      <section th:object="${book}">
      <section class="tree-reg-cover-info__container">
        <h3 class="none">도서 커버 및 도서 정보</h3>
        <section class="tree-reg-cover__container">
          <h4 class="none">도서 커버</h4>
        <div th:replace="~{fragments/link :: link__one-image-detail(src=*{imageFile}, href='#')}">
        </div>
        </section>
        <section class="tree-reg-book-info__container">
         <h4 class="none">도서 정보</h4>
          <div th:replace="~{fragments/text :: text-book-info(*{category},*{title},*{author},null,*{publisher})}">
          </div>
        </section>
      </section>
      <section class="tree-info-card__container">
        <h3 class="none">선택 도서 기본 정보</h3>
        <!-- 컴포넌트-->
        <div th:replace="~{fragments/card :: tree-info-card(*{publishDate}, *{totalPage})}">
        </div>
      </section>
      </section>

      <form th:action="@{|/tree/book/reg?auto=true&id=*{id}|}" method="POST">

      <section class="register__input-container">
        <h3 class="none">트리 이름 입력</h3>
        <!-- 컴포넌트 -->
        <div th:replace="~{fragments/input :: text-box(label='*트리 이름', placeholder='트리 이름을 입력해 주세요.', name='treeTitle')}">
        </div>

      </section>
      <section class="register__input-container">
        <h3 class="none">카테고리 선택</h3>
        <!--todo: 도서 카테고리-->
        <div th:replace="~{fragments/input :: input-select-box(label='*카테고리', id='')}">
        </div>
      </section>
      <section class="register__input-container">
        <h3 class="none">트리 설명글</h3>
        <!-- 컴포넌트 -->
        <div th:replace="~{fragments/input :: textarea-box(label='*설명글', placeholder='트리를 설명하는 글을 작성해 주세요', name='description')}">
        </div>
      </section>
      <section class="register__input-container">
        <h3 class="none">공개성 선택</h3>
        <!-- 컴포넌트 -->
        <div th:replace="~{fragments/input :: input-visibility(name='visibility')}">
        </div>
      </section>
      <section class="register__input-container--last">
        <h3 class="none">트리 생성 버튼</h3>
        <!-- 컴포넌트 -->
        <div th:replace="~{fragments/button :: submit-btn-full-bar('꼬깃 시작하기')}">
        </div>
      </section>

        <!--    임시 저장소    -->
        <section class="none">
          <label><input name="bookId" value="${id}"></label>
          <label><input name="bookCategorytId" value="1"></label> <!--todo: 도서 카테고리 개발예정 -->
          <label><input name="bookTitle" value="${imageFile}"></label>
          <label><input name="author" value="${author}"></label>
          <label><input name="publisher" value="${publisher}"></label>
          <label><input name="totalPage" value="${totalPage}"></label>
          <label><input name="memberId" value="1"></label> <!--todo: session storage or cookies or JWT 확인 필요 -->
        </section>
      </form>
    </main>

    <aside>
      <section>
        <h2 class="none">네비게이션 바</h2>
        <!-- aside 컴포넌트 -->
        <div th:replace="~{fragments/nav :: navigation-bar('home')}"></div>
      </section>
    </aside>
  </body>
</html>
