<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link href="../../../../static/css/reset.css" rel="stylesheet" />
    <link href="../../../../static/css/fragments.css" rel="stylesheet" />
    <link href="../../../../static/css/layout.css" rel="stylesheet" />
    <link href="../../../../static/css/tmp.css" rel="stylesheet" />

    <!--  <link th:href="@{/css/reset.css}" rel="stylesheet" />-->
    <!--  <link th:href="@{/css/fragments.css}" rel="stylesheet" />-->
    <!--  <link th:href="@{/css/layout.css}" rel="stylesheet" />-->
    <!--  <link th:href="@{/css/tmp.css}" rel="stylesheet" />-->

    <title>도서 트리 생성</title>
  </head>
  <body>
    <header>
      <h1 class="none">도서 트리 생성 페이지</h1>
      <section class="tob-bar-back-container">
        <h1 class="none">트리 생성 상단 바</h1>
        <div class="tob-bar-back">
          <a class="tob-bar-back__link" href="">
            <div class="tob-bar-back__icon-box">
              <img
                class="tob-bar-back__icon"
                src="../../../../static/svg/back-arrow-icon.svg"
                alt="back-arrow-icon.svg"
              />
            </div>
          </a>
          <p class="tob-bar-back__title">트리 생성</p>
        </div>
      </section>
    </header>

    <main>
      <section class="book-tree-input-form-container">
        <h1 class="none">도서 정보 입력</h1>

        <section class="select-title-container">
          <h1 class="text-main-title">도서 직접 입력</h1>
        </section>

        <form
          class="book-tree-input-form"
          action="/upload"
          method="post"
          enctype="multipart/form-data"
        >
          <section class="book-tree-input-form__photo-container">
            <h1 class="none">도서 이미지 입력</h1>
            <label class="book-tree-input-form__photo-label">
              <input
                type="file"
                name="file"
                class="book-tree-input-form__photo-input"
                accept="image/*"
                required
              />
              <img
                src="../../../../static/svg/book-photo-form.svg"
                alt="Upload Image"
                class="book-tree-input-form__photo-img"
              />
            </label>
          </section>

          <section class="book-tree-input-form__input-container">
            <h1 class="none">책 이름 입력</h1>
            <div class="input-text__box">
              <label class="input-text__label"
                >책 이름
                <input
                  class="input-text__input"
                  placeholder="트리 이름을 입력해 주세요"
              /></label>
              <p class="input-text__input-wrong none">
                텍스트 입력을 다시 입력해주세요.
              </p>
            </div>
          </section>

          <section class="book-tree-input-form__input-container">
            <h1 class="none">지은이 입력</h1>
            <div class="input-text__box">
              <label class="input-text__label"
                >지은이
                <input
                  class="input-text__input"
                  placeholder="지은이 이름을 입력해 주세요"
              /></label>
              <p class="input-text__input-wrong none">
                텍스트 입력을 다시 입력해주세요.
              </p>
            </div>
          </section>

          <section class="book-tree-input-form__input-container">
            <h1 class="none">출판사 입력</h1>
            <div class="input-text__box">
              <label class="input-text__label"
                >출판사
                <input
                  class="input-text__input"
                  placeholder="출판사를 입력해 주세요"
              /></label>
              <p class="input-text__input-wrong none">
                텍스트 입력을 다시 입력해주세요.
              </p>
            </div>
          </section>

          <section class="book-tree-input-form__input-container">
            <h1 class="none">페이지 수 입력</h1>
            <div class="input-text__box">
              <label class="input-text__label"
                >총 페이지 수
                <input
                  class="input-text__input"
                  placeholder="페이지 수를 입력해주세요"
              /></label>
              <p class="input-text__input-wrong none">
                텍스트 입력을 다시 입력해주세요.
              </p>
            </div>
          </section>

          <section class="book-tree-input-form__input-container">
            <h1 class="none">카테고리 선택</h1>
            <div class="input-text__box">
              <label class="input-text__label"
                >총 페이지 수
                <input
                  class="input-text__input"
                  placeholder="페이지 수를 입력해주세요"
              /></label>
              <p class="input-text__input-wrong none">
                텍스트 입력을 다시 입력해주세요.
              </p>
            </div>
          </section>

          <section class="book-tree-input-form__large-input-container">
            <h1 class="none">설명글 작성</h1>
            <div class="tree-input__large-text__form">
              <label class="tree-input__large-text-label"
                >많은 텍스트<textarea
                  class="tree-input__large-textarea"
                  type="text"
                  placeholder="트리 이름을 입력해 주세요"
                ></textarea>
              </label>
            </div>
          </section>

          <section class="book-tree-input-form__input-container">
            <h1 class="none">공개성 선택</h1>
            <div class="visibility">
              <p class="visibility__name">공개 여부</p>
              <div class="visibility__btns">
                <input
                  class="visibility__btn"
                  label="공개"
                  type="radio"
                  name="visibility-option"
                  id="public"
                  value="1"
                  checked
                />
                <input
                  class="visibility__btn"
                  label="비공개"
                  type="radio"
                  name="visibility-option"
                  id="private"
                  value="0"
                />
              </div>
            </div>
          </section>

          <section class="btn-full-width-link-container">
            <h1 class="none">트리 생성 버튼</h1>
            <div
              th:replace="fragments/button-link :: full-width(link='#', text='트리 생성')"
            ></div>
          </section>
        </form>
      </section>
    </main>

    <aside>
      <section>
        <h1 class="none">네비게이션 바</h1>
        <!-- aside 컴포넌트 -->
      </section>
    </aside>
  </body>
</html>
