<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <h1 class="none">검색 결과 없는 도서 등록</h1>
      <section>
        <h2 class="none">없는 책 검색</h2>
        <!-- 검색 결과 없는 검색 바 컴포넌트 -->
      </section>
        <section>
          <h3 class="none">도서 검색 필터</h3>
          <!-- 도서 검색 필터 컴포넌트 -->
        </section>
      </section>
    </header>

    <main>
        <h2 class="none">도서 직접 등록 안내 </h2>
        <!-- 도서 직접 등록 안내 텍스트 컴포넌트 -->
    </main>

    <section>
        <h2 class="none">도서 직접 등록 버튼</h2>
        <!-- 도서 직접 등록 버튼 컴포넌트 -->
      </section>

      <aside>
        <section>
          <h2 class="none">네비게이션 바</h2>
          <!-- aside 컴포넌트 -->
        </section>
      </aside>
  </body>
</html>
