<!DOCTYPE html>
<html lang="ko" xmlns:th="https://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>book-search</title>
    <link th:href="@{/css/fragments.css}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet" />
  </head>

  <body>
    <header class="reg-book-search-container">
        <h2 class="none">검색 바</h2>
        <!-- fragment -->
      <form th:action method="POST">
        <div class="search__form">
          <div>
            <a th:href="@{/seed/index}">
              <img src="/src/main/resources/static/svg/back.svg"
                   th:src="@{/svg/back.svg}"
                   alt="back button"/>
            </a>
          </div>

          <div class="search-bar">
            <label class="search-bar--label">
              <input class="search-bar--input"
                     type="text"
                     name="target"
                     th:value="${target}"
                      th:placeholder="'검색어를 입력해주세요'"
                      autocomplete="off"/>
              <button class="search-bar--close" type="reset">
                <img src="/src/main/resources/static/svg/close-button.svg"
                     th:src="@{/svg/close-button.svg}"
                     alt="close-btn"/>
              </button>
              </label>
              <button type="submit">
                <img src="/src/main/resources/static/svg/lens.svg"
                   th:src="@{/svg/lens.svg}"
                   alt="lens"
                />
              </button>
          </div>
        </div>

        <ul class="filter-category-frame">
          <li th:each="searchType : ${searchTypes}" th:object="${searchType}">
            <div th:replace="~{fragments/filter::search-filter-radio(description=*{description}, name='type', value=*{value}, isChecked=*{isChecked})}"></div>
          </li>
        </ul>
      </form>

      <section>
        <h3 class="none">검색 결과 개수</h3>
        <!-- fragment -->
        <div
          th:replace="~{fragments/top-bar::topbar-search-result-num(${resultCnt})}"
        ></div>
      </section>
    </header>

    <main>
      <section >
      <h2 class="none">검색 시작 안내</h2>
      <div class="text-info-container" th:if="${target.isBlank()}">
      <div th:replace="~{fragments/text :: text-info('현재 검색중인 도서가 없습니다',
        '도서를 검색하거나 직접 등록해주세요')}"></div>
      </div>


      <h2 class="none"> 검색 결과 - 없음</h2>
      <div class="text-info-container" th:if="${resultCnt == 0 && !target.isBlank()}">
        <div th:replace="~{fragments/text :: text-info('검색 결과가 없습니다.',
        '다른 도서를 검색하거나 도서를 직접 등록 해주세요.')}"></div>
      </div>
      </section>

      <section th:if="${resultCnt != 0}">
        <h2 class="none">검색 결과 - 있음</h2>
      <ul class="tree-card-list">
        <li th:each="bookPreview : ${bookPreviews}">
        <div th:insert ="~{fragments/card :: card-book-previews(bookPreviewView = ${bookPreview})}"></div>
        </li>
      </ul>
      </section>
    </main>

    <section class="btn-select-container--right">
      <h2 class="none">도서 직접 등록 버튼</h2>
      <div
        th:replace="~{fragments/button::btn-short-a--green(href='/tree/book/reg', text='도서 직접 등록하기')}"
      ></div>
    </section>

    <section class="nav-back-container">
      <h2 class="hidden">네비 바 뒤 공백 공간</h2>
    </section>

    <aside class="nav-container">
      <section>
        <h2 class="none">네비게이션 바</h2>
        <!-- aside 컴포넌트 -->
        <div th:replace="~{fragments/nav :: navigation-bar(home)}"></div>
      </section>
    </aside>
  </body>
<script>
  document.querySelector('.search-bar--close').addEventListener('click', function(e) {
    e.preventDefault();
    document.querySelector('.search-bar--input').value ='';
  });
</script>
</html>
