<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/css/fragments.css}" rel="stylesheet" />
    <link th:href="@{/css/layout.css}" rel="stylesheet" />
    <link th:href="@{/practice/style.css}" rel="stylesheet" />

    <title>Document</title>
</head>
<body>
<header>
    <h1 class="none">뒤로가기</h1>
    <div>
        <a><img src="/svg/back.svg" alt="back-button"></a>
    </div>
</header>
<section>
    <h1 class="none">로그인 화면 안내</h1>
    <div>
        <p>로그인</p>
        <p>사용하는 이메일을 입력해주세요</p>
    </div>
</section>
<section class="social-login-container">
    <h1 class="none">로그인</h1>
    <div th:replace="~{/fragments/input::text-box(label='이메일', placeholder='이메일을 입력하세요', name='email')}"></div>
</section>

<form method="POST" action="#">
    <section class="social-login-container">
        <h1 class="none">로그인 버튼</h1>
        <div th:replace="~{/fragments/input::green-wide-btn(label='로그인')}"></div>
    </section>
</form>

<section class="social-login-container">
    <h1 class="none">소셜 로그인 버튼</h1>
    <div th:replace="~{/fragments/link::social-login}"></div>
</section>

<footer>
    <h1 class="none">회원가입 안내</h1>
    <div>
        <p>계정이 없으신가요?</p>
        <p>회원가입</p>
    </div>
</footer>
</body>
</html>