<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Recorders.ggogit.domain.tree.repository.SeedRepository">

    <insert id="save" parameterType="Seed">
        INSERT INTO SEED(NAME)
        VALUES(#{name})
    </insert>

    <update id="update" parameterType="Seed">
        UPDATE SEED
        SET NAME = #{name}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="Seed">
        DELETE SEED
        WHERE ID = #{id}
    </delete>

    <select id="findAll" resultType="Seed">
        SELECT * FROM SEED ORDER BY ID
    </select>

    <select id="findById" resultType="Seed">
        SELECT * FROM SEED
        WHERE ID = #{id}
    </select>

    <select id="findByName" resultType="Seed">
        SELECT * FROM SEED
        WHERE ENG_NAME = #{name}
    </select>

</mapper>