<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="Recorders.ggogit.domain.tree.repository.TreeRepository">
<!--트리 생성-->
    <insert id="save" parameterType="Tree">
        INSERT INTO TREE(MEMBER_ID, SEED_ID, TITLE, DESCRIPTION, BOOK_MARK_COUNT, VISIBILITY)
        VALUES(#{memberId}, #{seedId}, #{title}, #{description}, #{bookMarkCount}, #{visibility})
    </insert>



<!--트리 리스트 전체 조회-->
    <select id="findListAll" parameterType="Tree">
        SELECT * FROM TREE ORDER BY TREE.UPDATE_TIME
    </select>
    <!--트리 ID별 조회-->
    <select id="findByTreeId" parameterType="Tree">
        SELECT * FROM TREE WHERE ID=#{id}
    </select>
    <!--회원 ID별 조회-->
    <select id="findByMemberId" parameterType="Tree">
        SELECT * FROM TREE WHERE MEMBER_ID=#{memberId}
    </select>
    <!--제목 별 조회-->
    <select id="findByTitle" parameterType="Tree">
        SELECT * FROM TREE WHERE TITLE LIKE #{title}
    </select>
    <!--설명글 별 조회-->
    <select id="findByDescription" parameterType="Tree">
        SELECT * FROM TREE WHERE DESCRIPTION LIKE #{description}
    </select>
    <!--공개성 별 조회-->
    <select id="findByVisibility" parameterType="Tree">
        SELECT * FROM TREE WHERE VISIBILITY = #{visibility}
    </select>
    <!--일치하는 트리 ID 회원 ID 조회-->
    <select id="findMemberIdById" parameterType="Tree">
        SELECT TREE.MEMBER_ID FROM TREE WHERE ID = #{id}
    </select>
    <!--일치하는 트리 ID 제목 조회-->
    <select id="findTitleById" parameterType="Tree">
        SELECT TREE.TITLE FROM TREE WHERE ID = #{id}
    </select>
    <!--일치하는 트리 ID 설명글 조회-->
    <select id="findDescriptionById" parameterType="Tree">
        SELECT TREE.DESCRIPTION FROM TREE WHERE ID = #{id}
    </select>
    <!--일치하는 트리 ID 공개성 조회-->
    <select id="findVisibilityById" parameterType="Tree">
        SELECT TREE.VISIBILITY FROM TREE WHERE ID = #{id}
    </select>


    <!--트리 제목 수정-->
    <update id="updateTitleById" parameterType="Tree">
        UPDATE TREE SET TITLE = #{title}
        WHERE ID = #{id}
    </update>
    <!--트리 설명문 수정-->
    <update id="updateDescriptionById" parameterType="Tree">
        UPDATE TREE SET DESCRIPTION = #{description}
        WHERE ID = #{id}
    </update>
    <!--트리 공개성 수정-->
    <update id="updateVisibilityById" parameterType="Tree">
        UPDATE TREE SET VISIBILITY = #{visibility}
        WHERE ID = #{id}
    </update>

    <delete id="delete" parameterType="Tree">
        DELETE FROM TREE WHERE ID = #{id}
    </delete>
</mapper>